﻿

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session Expire</title>
</head>
<body>
    <div>
        <div class="text-center" style="margin: auto;position:fixed;top:0;bottom:0;left:0;right:0;width:450px;height:50px;font-size:22px;display:inline-block">
            Session Expire (กรุณาเข้าสู่ระบบใหม่อีกครั้ง!!!!!)
            <br>
            @Html.ActionLink("Back To Login", "Page", "Account")
        </div>
    </div>
</body>
</html>
