﻿
@{
    ViewBag.Title = "ShowLessGoal";
}
<br />
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: รายชื่อพนักงานทำงานตำกว่าเป้าหมาย
                    
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">

                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div style="margin-top:5px;">
                                    <div style="position: relative;" class="content-box-tableStyle" id="watchlistTable">
                                        <table style="width: 100%;" class="">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" class="text-center">รหัสพนักงาน</th>
                                                    <th rowspan="2" class="text-center">ชื่อ-สกุล</th>
                                                    <th rowspan="2" class="text-center">Group</th>
                                                    <th colspan="11" class="text-center">1-8 May 2016</th>

                                                </tr>
                                                <tr>
                                                    <th class="text-center">1</th>
                                                    <th class="text-center">2</th>
                                                    <th class="text-center">3</th>
                                                    <th class="text-center">4</th>
                                                    <th class="text-center">5</th>
                                                    <th class="text-center">6</th>
                                                    <th class="text-center">7</th>
                                                    <th class="text-center">8</th>
                                                    <th class="text-center">รวม </th>
                                                    <th class="text-center">เป้าหมาย<br />ที่เลือก </th>
                                                    <th class="text-center">เป้าหมาย<br />เฉลี่ย </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>P002306</td>
                                                    <td>มานา คุณามาก</td>
                                                    <td>A2</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>450</td>
                                                    <td>60</td>
                                                    <td>55</td>
                                                </tr>
                                                <tr>
                                                    <td>P001846</td>
                                                    <td>สานิต มั่นคง</td>
                                                    <td>A2</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>450</td>
                                                    <td>60</td>
                                                    <td>55</td>
                                                </tr>
                                                <tr>
                                                    <td>P002423</td>
                                                    <td>วีรชาติ เติมงาม</td>
                                                    <td>A2</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>50</td>
                                                    <td>55</td>
                                                    <td>60</td>
                                                    <td>60</td>
                                                    <td>450</td>
                                                    <td>60</td>
                                                    <td>55</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

