﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Upload ข้อมูลหักเงิน Finishing</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div style="width:350px">
                                                <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกไฟล์ : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="file" id="uploadFileID" style="width: 100%;" />
                                    </div>

                                    <div class="col-sm-1">
                                        <input type="button" id="btnUpload" style="cursor:pointer ;display: inline-block;width: 34px;height: 34px;color: #FFF !important;background-color: #263cf1;font-size:20px;font-weight:bolder;border:none;float: right;margin-right: 22px;" class="title-head" value="+" />
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="padding: 0px;margin: 0px;color: #F00;font-size: 12px;border-top: 1px solid #F3F3F3;margin-top: 5px;">
                                            *นามสกุล .xls เท่านั้น
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="../UploadFile/Example/CUT.xls" download="../UploadFile/Example/CUT.xls">ไฟล์ตัวอย่าง</a>
                                    </div>
                                </div>

                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div class="col-sm-12" style="margin-top:5px;">
                                        <div class="content-detail-tableStyle" id="workTable">

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="button-Save" style="width:100px" id="btnSave">Save</button>
                                    <input id="btnDelete" name="btnDelete" value="Delete" class="button-Cancel" style="width:100px" />
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ month: month, year: year });
            SetDefaultValue();
        });
    });
    function IsCheck() {
        SetDefaultValue();
    }
    function Upload(obj)
    {
       // var radioValue = $("input[name='VT']:checked").val();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        mcs.PopUp({
            header: 'ยืนยันการอัพโหลดไฟล์', content: 'อัพโหลดไฟล์ของเดือน/ปี' + dateSearch + 'Week ' + week, type: "ok-cancel", onok: function () {
                mcs.Loadding.Show(function () {
                    mcs.service({
                        method: "POST", commandData: "../Admin/SetUploadCutFinisingLog", data: { file: obj.file, fileName: obj.fileName, month: year + month, week: week }
                    }, {
                        success: function (response) {
                            mcs.Loadding.Close();
                            if (response.data.CODE == "01") {
                                mcs.PopUp({
                                    header: 'อัพโหลด', content: 'อัพโหลดไฟล์เรียบร้อย', type: "ok", onok: function () {
                                        SetDefaultValue();

                                    }
                                });
                            }
                            else {

                                mcs.PopUp({
                                    header: 'อัพโหลด', content: response.data.MESSAGE, type: "ok", onok: function () {
                                        SetDefaultValue();

                                    }
                                });
                            }
                        }, error: function () {
                            mcs.Loadding.Close();
                            mcs.PopUp({
                                header: 'อัพโหลด', content: 'อัพโหลดไฟล์ไม่สำเร็จ', type: "ok", onok: function () {

                                }
                            });
                        }
                    });
                });

            }
        });

    }

    function GetNCRADD() {
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        if ($(".footbox_rowtotal").text() == "") {


            mcs.PopUp({
                header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                }
            });
        }
        else {
            var weekt = mcs('#ddlWeek').Control.dropdownlist.item.selected().text;
            var table = mcs('#workTable_table').ElementContext;
            var length = table.tBodies[0].rows.length;
            var datafileBuffer = [];
            if (length > 0) {
                if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
                else {
                    mcs.PopUp({
                        header: 'ยืนยันการอัพโหลดไฟล์', content: 'อัพโหลดไฟล์ของเดือน/ปี' + month +'/' +year + '  Week ' + weekt, type: "ok-cancel", onok: function () {
                            for (var l = 0; l < length; l++) {
                                var sUSER_UPDATE = mcs('#userUpdate').Value();
                                var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                                var sWEEK_KEY = table.tBodies[0].rows[l].cells[1].innerHTML;
                                if (sSTATUS == 'Y' && sWEEK_KEY == year + '-' + month) {
                                    var sEMP_CODE = table.tBodies[0].rows[l].cells[3].innerHTML;
                                    var sAMOUNT = table.tBodies[0].rows[l].cells[6].innerHTML.replace(',','');
                                    var sEMP_CODE_RECIVE = table.tBodies[0].rows[l].cells[7].innerHTML;

                                    var datafile = {

                                        USER_UPDATE: sUSER_UPDATE,
                                        EMP_CODE: sEMP_CODE,
                                        AMOUNT: sAMOUNT,
                                        EMP_CODE_RECIVE: sEMP_CODE_RECIVE,
                                        WEEK_KEY: year + month,
                                        WEEK_SUB: week,

                                    }
                                    datafileBuffer.push(datafile);
                                }

                            }
                            //---
                            mcs.Loadding.Show(function () {
                                mcs.service({
                                    method: "POST", commandData: "../Admin/SetUploadCutFinising", data: datafileBuffer
                                }, {
                                    success: function (response) {
                                        mcs.Loadding.Close();
                                        if (response.data.CODE == "01") {
                                            mcs.PopUp({
                                                header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                                    SetDefaultValue();
                                                }
                                            });
                                        }
                                        else if (response.data.CODE =="99") {
                                            mcs.PopUp({
                                                header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                                }
                                            });
                                        }
                                    }, error: function () {
                                        mcs.Loadding.Close();
                                        mcs.PopUp({
                                            header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                            }
                                        });
                                    }
                                });
                            });
                        }
                    });

                }
            }
            else {
                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
        }
    }

    mcs('#btnUpload').eventOn('click', function () {
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (week == '') {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Week', type: "ok", onok: function () {

                }
            });
        }
        else {
            var file = mcs('#uploadFileID').ElementContext;
            if (file.files.length > 0) {
                var file_ = file.files[0];

                var reader = new FileReader();
                reader.onload = (function (thisfile) {
                    return function (e) {
                        if (mcs.validateFileType(thisfile.name, ['xls'])) {
                            var dataread = e.target.result;
                            if (e.total <= 3145728) {

                                var index = dataread.indexOf("base64,");
                                var strFile = dataread.substring((index + 7));
                                Upload({ file: strFile, fileName: thisfile.name });
                            } else {
                                mcs.PopUp({ header: "แจ้งเตือน", content: "ไฟล์ที่ต้องการอัพโหลดต้อง มีขนาดเกิน 3MB", type: "ok", onok: function () { } });
                            }
                        } else {
                            mcs.PopUp({ header: "แจ้งเตือน", content: "ประเภทของไฟล์ไม่ถูกต้อง ประเภทไฟล์ที่ใช่ได้ [.xls,.xlsx ]", type: "ok", onok: function () { } });
                        }
                    }

                })(file_);

                reader.readAsDataURL(file_);
            }
            else {

                mcs.PopUp({
                    header: 'แจ้งเตือน', content: 'กรุณาเลือกไฟล์ที่ต้องการอัพโหลด', type: "ok", onok: function () {

                    }
                });
            }
            file.value = '';
        }
    });

    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH:obj.month,YEAR: obj.year, ALL: 0 };
            },
            event: {
                onchange: function () {
                    SetDefaultValue();
                }
            }
        });
        mcs('#_ddlWeek').displayShow();

    }

    function FeatchWorkGrid(obj) {
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../Admin/GetUploadCutFinisingLog",
                data: function (data) {
                    var simpleObj = {
                        USER_UPDATE : obj.USER_UPDATE,  
                        MONTH: obj.MONTH,          
                        WEEK: obj.WEEK,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailCutFinisingHistories",
                column: "HeaderCutFinising"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var username = mcs('#userUpdate').Value();

        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (week == '') week = 0;


         FeatchWorkGrid({ MONTH: year + month, WEEK: week, USER_UPDATE: username });
        
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GenWeek({ year: year, month: month });

        SetDefaultValue();
        mcs.Loadding.Close();
    });

    mcs('#btnSave').eventOn("click", function () {

        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;

        if (week == '') {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Week', type: "ok", onok: function () {

                }
            });
        }
        else {
            GetNCRADD();
        }
        


    });

    mcs('#btnDelete').eventOn("click", function () {
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
       
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        if (week == '') {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Week', type: "ok", onok: function () {

                }
            });
        }
        else {
            if ($(".footbox_rowtotal").text() == "") {


                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
            else {
                var table = mcs('#workTable_table').ElementContext;
                var length = table.tBodies[0].rows.length;
                var datafileBuffer = [];
                if (length > 0) {
                    if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                        mcs.PopUp({
                            header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                            }
                        });
                    }
                    else {
                        mcs.PopUp({
                            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                                for (var l = 0; l < length; l++) {
                                    var sUSER_UPDATE = mcs('#userUpdate').Value();
                                    var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                                    if (sSTATUS == 'Y') {
                                        var sEMP_CODE = table.tBodies[0].rows[l].cells[3].innerHTML;
                                        var sAMOUNT = table.tBodies[0].rows[l].cells[6].innerHTML;
                                        var sEMP_CODE_RECIVE = table.tBodies[0].rows[l].cells[7].innerHTML;

                                        var datafile = {

                                            USER_UPDATE: sUSER_UPDATE,
                                            EMP_CODE: sEMP_CODE,
                                            AMOUNT: sAMOUNT,
                                            EMP_CODE_RECIVE: sEMP_CODE_RECIVE,
                                            WEEK_KEY: year + month,
                                            WEEK_SUB: week,

                                        }
                                        datafileBuffer.push(datafile);
                                    }

                                }
                                //---
                                mcs.Loadding.Show(function () {
                                    mcs.service({
                                        method: "POST", commandData: "../Admin/DelUploadCutFinisingLog", data: datafileBuffer
                                    }, {
                                        success: function (response) {
                                            mcs.Loadding.Close();
                                            if (response.data.CODE == "01") {
                                                mcs.PopUp({
                                                    header: 'การลบข้อมูล', content: 'ลบเรียบร้อยแล้ว', type: "ok", onok: function () {
                                                        SetDefaultValue();
                                                    }
                                                });
                                            }
                                            else if (response.data.CODE == "99") {
                                                mcs.PopUp({
                                                    header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                                    }
                                                });
                                            }
                                        }, error: function () {
                                            mcs.Loadding.Close();
                                            mcs.PopUp({
                                                header: 'ไม่สามารถลบข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                                }
                                            });
                                        }
                                    });
                                });
                            }
                        });

                    }
                }
                else {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
            }
        }
        
  



    });
</script>
