﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Upload VT Management</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label>เลือกประเภท : </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> <input type="radio" name="VT" id="1" value="VT_INSPEC" checked="checked" onclick='IsCheck(this);' />  VT INSPEC </label>
                                            <label> <input type="radio" name="VT" id="2" value="VT_QPC" onclick='IsCheck(this);' />  VT QPC </label>
                                            <label> <input type="radio" name="VT" id="3" value="VT_OTHER" onclick='IsCheck(this);' />  VT_OTHER </label>
                                            @*<label> <input type="radio" name="VT" id="4" value="VT_DESIGN_CHANGE" onclick='IsCheck(this);' />  DESIGN_CHANGE </label>*@
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกไฟล์ : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="file" id="uploadFileID" style="width: 100%;" />
                                    </div>

                                    <div class="col-sm-1">
                                        <input type="button" id="btnUpload" style="cursor:pointer ;display: inline-block;width: 34px;height: 34px;color: #FFF !important;background-color: #263cf1;font-size:20px;font-weight:bolder;border:none;float: right;margin-right: 22px;" class="title-head" value="+" />
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="padding: 0px;margin: 0px;color: #F00;font-size: 12px;border-top: 1px solid #F3F3F3;margin-top: 5px;">
                                            *นามสกุล .xls เท่านั้น
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="../UploadFile/Example/VT.xls" download="../UploadFile/Example/VT.xls">ไฟล์ตัวอย่าง</a>
                                    </div>
                                </div>

                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div class="col-sm-12" style="margin-top:5px;">
                                        <div class="content-detail-tableStyle" id="workTable">

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="button-Save" style="width:100px" id="btnSave">Save</button>
                                    <input id="btnDelete" name="btnDelete" value="Delete" class="button-Cancel" style="width:100px" />
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    function IsCheck() {
        SetDefaultValue();
    }
    function Upload(obj)
    {
        var radioValue = $("input[name='VT']:checked").val();
        var dateSearch = $('#txtDate').find("input").val();
        mcs.PopUp({
            header: 'ยืนยันการอัพโหลดไฟล์', content: 'อัพโหลดไฟล์ประเภท ' + radioValue, type: "ok-cancel", onok: function () {
                mcs.Loadding.Show(function () {
                    mcs.service({
                        method: "POST", commandData: "../Admin/SetVTDetailLog", data: { file: obj.file, fileName: obj.fileName, header: obj.header,month:dateSearch }
                    }, {
                        success: function (response) {
                            mcs.Loadding.Close();
                            if (response.data.CODE == "01") {
                                mcs.PopUp({
                                    header: 'อัพโหลด', content: 'อัพโหลดไฟล์เรียบร้อย', type: "ok", onok: function () {
                                        SetDefaultValue();

                                    }
                                });
                            }
                            else {

                                mcs.PopUp({
                                    header: 'อัพโหลด', content: response.data.MESSAGE, type: "ok", onok: function () {
                                        SetDefaultValue();

                                    }
                                });
                            }
                        }, error: function () {
                            mcs.Loadding.Close();
                            mcs.PopUp({
                                header: 'อัพโหลด', content: 'อัพโหลดไฟล์ไม่สำเร็จ', type: "ok", onok: function () {

                                }
                            });
                        }
                    });
                });

            }
        });
   
    }
    function GetVTADD() {
        var radioValue = $("input[name='VT']:checked").val();

        var dateSearch = $('#txtDate').find("input").val();
   
        if (mcs('#Notable').ElementContext != undefined) {


            mcs.PopUp({
                header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                }
            });
        }
        else {

            var table = mcs('#workTable_table').ElementContext;
            var length = table.tBodies[0].rows.length;
            var datafileBuffer = [];
            if (length > 0) {
                if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
                else {
                    mcs.PopUp({
                        header: 'ยืนยันการอัพโหลดไฟล์', content: 'อัพโหลดไฟล์ประเภท ' + radioValue + '<br>' + 'อัพโหลดไฟล์ของเดือน/ปี' + dateSearch, type: "ok-cancel", onok: function () {
                            for (var l = 0; l < length; l++) {
                                var sUSER_UPDATE = mcs('#userUpdate').Value();
                                var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                                if (sSTATUS == "Y") {


                                    var sPROJECT = table.tBodies[0].rows[l].cells[1].innerHTML;
                                    var sITEM = table.tBodies[0].rows[l].cells[2].innerHTML;
                                    var sREV_NO = table.tBodies[0].rows[l].cells[3].innerHTML;
                                    var sCHECK_NO = table.tBodies[0].rows[l].cells[4].innerHTML;
                                    var sPART = table.tBodies[0].rows[l].cells[5].innerHTML;
                                    var sPOINT = table.tBodies[0].rows[l].cells[6].innerHTML;
                                    var sPROBLEM = table.tBodies[0].rows[l].cells[7].innerHTML;
                                    var sDWG = table.tBodies[0].rows[l].cells[8].innerHTML;
                                    var sACT = table.tBodies[0].rows[l].cells[9].innerHTML;
                                    var sWRONG = table.tBodies[0].rows[l].cells[10].innerHTML;
                                    var sEDIT = table.tBodies[0].rows[l].cells[11].innerHTML;
                                    var sCHECKER = table.tBodies[0].rows[l].cells[12].innerHTML;
                                    var sCHECK_DATE = table.tBodies[0].rows[l].cells[13].innerHTML;

                                    var datafile = {
                                        TYPE_VT: radioValue,
                                        USER_UPDATE: sUSER_UPDATE,
                                        STATUS: sSTATUS,
                                        PROJECT: sPROJECT,
                                        ITEM: sITEM,
                                        REV_NO: sREV_NO,
                                        CHECK_NO: sCHECK_NO,
                                        PART: sPART,
                                        POINT: sPOINT,
                                        PROBLEM: sPROBLEM,
                                        DWG: sDWG,
                                        ACT: sACT,
                                        WRONG: sWRONG,
                                        EDIT: sEDIT,
                                        CHECKER: sCHECKER,
                                        CHECK_DATE: sCHECK_DATE
                                    }
                                    datafileBuffer.push(datafile);
                                }

                            }
                            //---
                            mcs.Loadding.Show(function () {
                                mcs.service({
                                    method: "POST", commandData: "../Admin/SetVTDetailUpload", data: datafileBuffer
                                }, {
                                    success: function (response) {
                                        mcs.Loadding.Close();
                                        if (response.data.CODE == "01") {
                                            mcs.PopUp({
                                                header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                                    SetDefaultValue();
                                                }
                                            });
                                        }
                                        else if (response.data.CODE == "09") {
                                            mcs.PopUp({
                                                header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                                }
                                            });
                                        }
                                    }, error: function () {
                                        mcs.Loadding.Close();
                                        mcs.PopUp({
                                            header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                            }
                                        });
                                    }
                                });
                            });
                        }
                    });
               
                }
            }
            else {
                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
        }
    }
    mcs('#btnUpload').eventOn('click', function () {
        var radioValue = $("input[name='VT']:checked").val();
        var file = mcs('#uploadFileID').ElementContext;
        if (file.files.length > 0) {
            var file_ = file.files[0];

            var reader = new FileReader();
            reader.onload = (function (thisfile) {
                return function (e) {
                    if (mcs.validateFileType(thisfile.name, ['xls'])) {
                        var dataread = e.target.result;
                        if (e.total <= 3145728) {

                            var index = dataread.indexOf("base64,");
                            var strFile = dataread.substring((index + 7));
                            Upload({ file: strFile, fileName: thisfile.name, header: radioValue });
                        } else {
                            mcs.PopUp({ header: "แจ้งเตือน", content: "ไฟล์ที่ต้องการอัพโหลดต้อง มีขนาดเกิน 3MB", type: "ok", onok: function () { } });
                        }
                    } else {
                        mcs.PopUp({ header: "แจ้งเตือน", content: "ประเภทของไฟล์ไม่ถูกต้อง ประเภทไฟล์ที่ใช่ได้ [.xls,.xlsx ]", type: "ok", onok: function () { } });
                    }
                }

            })(file_);

            reader.readAsDataURL(file_);
        }
        else {

            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือกไฟล์ที่ต้องการอัพโหลด', type: "ok", onok: function () {

                }
            });
        }
        file.value = '';

    });
    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: 'P02', ALL: 0 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }

    function FeatchWorkGrid(obj) {
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../Admin/GetVTDetailLog",
                data: function (data) {
                    var simpleObj = {
                        USER_UPDATE : obj.USER_UPDATE,
                        DEPT_CODE: obj.GROUP,
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK: obj.WEEK,
                        DETAIL: true,
                        SUM: true,
                        TYPE_STORE: obj.TYPE_STORE,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "VTHistories",
                column: "HeaderVT"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var username = mcs('#userUpdate').Value();

        var radioValue = $("input[name='VT']:checked").val();


        if (month == undefined || year == undefined)
            FeatchWatchListGridNull();
        else {
            FeatchWorkGrid({ MONTH: month, YEAR: year, GROUP: '', WEEK: 0, TYPE_STORE: radioValue,USER_UPDATE: username});
        }
    }
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
     
        SetDefaultValue();
        mcs.Loadding.Close();
    });
    mcs('#btnSave').eventOn("click", function () {
       
 
        GetVTADD();
       
   
    });
    mcs('#btnDelete').eventOn("click", function () {
        var radioValue = $("input[name='VT']:checked").val();
        if ($(".footbox_rowtotal").text() == "") {


            mcs.PopUp({
                header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                }
            });
        }
        else {
            var table = mcs('#workTable_table').ElementContext;
            var length = table.tBodies[0].rows.length;
            var datafileBuffer = [];
            if (length > 0) {
                if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
                else {
                    mcs.PopUp({
                        header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                            for (var l = 0; l < length; l++) {
                                var sUSER_UPDATE = mcs('#userUpdate').Value();
                                var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                                if (sSTATUS == 'Y') {
                                    var sPROJECT = table.tBodies[0].rows[l].cells[1].innerHTML;
                                    var sITEM = table.tBodies[0].rows[l].cells[2].innerHTML;
                                    var sREV_NO = table.tBodies[0].rows[l].cells[3].innerHTML;
                                    var sCHECK_NO = table.tBodies[0].rows[l].cells[4].innerHTML;
                                    var sPART = table.tBodies[0].rows[l].cells[5].innerHTML;
                                    var sPOINT = table.tBodies[0].rows[l].cells[6].innerHTML;
                                    var sPROBLEM = table.tBodies[0].rows[l].cells[7].innerHTML;
                                    var sDWG = table.tBodies[0].rows[l].cells[8].innerHTML;
                                    var sACT = table.tBodies[0].rows[l].cells[9].innerHTML;
                                    var sWRONG = table.tBodies[0].rows[l].cells[10].innerHTML;
                                    var sEDIT = table.tBodies[0].rows[l].cells[11].innerHTML;
                                    var sCHECKER = table.tBodies[0].rows[l].cells[12].innerHTML;
                                    var sCHECK_DATE = table.tBodies[0].rows[l].cells[13].innerHTML;

                                    var datafile = {
                                        TYPE_VT: radioValue,
                                        USER_UPDATE: sUSER_UPDATE,
                                        STATUS: sSTATUS,
                                        PROJECT: sPROJECT,
                                        ITEM: sITEM,
                                        REV_NO: sREV_NO,
                                        CHECK_NO: sCHECK_NO,
                                        PART: sPART,
                                        POINT: sPOINT,
                                        PROBLEM: sPROBLEM,
                                        DWG: sDWG,
                                        ACT: sACT,
                                        WRONG: sWRONG,
                                        EDIT: sEDIT,
                                        CHECKER: sCHECKER,
                                        CHECK_DATE: sCHECK_DATE
                                    }
                                    datafileBuffer.push(datafile);
                                }

                            }
                            //---
                            mcs.Loadding.Show(function () {
                                mcs.service({
                                    method: "POST", commandData: "../Admin/DelVTDetailLog", data: datafileBuffer
                                }, {
                                    success: function (response) {
                                        mcs.Loadding.Close();
                                        if (response.data.CODE == "01") {
                                            mcs.PopUp({
                                                header: 'การลบข้อมูล', content: 'ลบเรียบร้อยแล้ว', type: "ok", onok: function () {
                                                    SetDefaultValue();
                                                }
                                            });
                                        }
                                        else if (response.data.CODE == "99") {
                                            mcs.PopUp({
                                                header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                                }
                                            });
                                        }
                                    }, error: function () {
                                        mcs.Loadding.Close();
                                        mcs.PopUp({
                                            header: 'ไม่สามารถลบข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                            }
                                        });
                                    }
                                });
                            });
                        }
                    });
                   
                }
            }
            else {
                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
        }
       
      

    });
</script>
