﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
        
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: ประวัติการปรับเป้าหมาย</p>
                        </div>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามกรุ๊ป : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามพนักงาน : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="txtSearch" name="txtSearch" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-12 text-center">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>

                                <div style="margin-top:35px;">
                                    <div class="content-box-tableStyle col-sm-12" id="watchlistTable">

                                    </div>
                                    <div class="col-sm-12" id="Export">

                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        });
    });
    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function ShowDelete(id) {
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {

            }
        });
    }
    function Delete(id) {
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DeleteAdjustGoal", data: {
                    ID: id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                SetDefaultValue();
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
 
    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetAdjustGoalData",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK: obj.WEEK == "" ? 0 : obj.WEEK,
                        DEPT_CODE: obj.DEPT_CODE,
                        SEARCH: obj.SEARCH,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),

                    }
                    return { model: simpleObj };
                },
                renderObject: "AdjustGoalHistories",
                column: "HeaderAdjustGoal",
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport(obj.MONTH, obj.YEAR, obj.DEPT_CODE,obj.SEARCH);
    }
    function GenExport(MONTH, YEAR, DEPT_CODE, SEARCH) {
        ClearExport();

        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetAdjustGoal?MONTH=" + MONTH + "&YEAR=" + YEAR + "&DEPT_CODE=" + DEPT_CODE + "&SEARCH=" + SEARCH;
        mcs('#Export').appendChild(click);
    }
    function ClearExport() {
        var element = document.getElementById("Export");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }
    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: '', ALL: 0 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }
    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL };
            },

        });
        mcs('#_ddlWeek').displayShow();

    }
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });
    mcs('#btnClearSearch').eventOn("click", function () {
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        mcs('#txtSearch').Value('');
        GenGroup();
        SetDefaultValue();
    });
    function ShowDelete(id) {
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {

            }
        });
    }
    function Delete(id) {
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DeleteAdjustGoal", data: {
                    ID: id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                SetDefaultValue();
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        var search = mcs('#txtSearch').Value();
        var group = mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
        var WeekNo = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (month == undefined || year == undefined)
            FeatchWatchListGridNull();
        else
            FeatchWatchListGrid({ MONTH: month, YEAR: year, DEPT_CODE: group, SEARCH: search , WEEK:WeekNo });
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        // GenWeek({ MONTH: '05', YEAR: '2016' });
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        GenGroup();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        SetDefaultValue();
        mcs.Loadding.Close();
    });
</script>


