﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Check VT Management</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label >เลือกประเภท : </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> <input type="radio" name="VT" id="1" value="VT_INSPEC" checked="checked" onclick='IsCheck(this);'/>  VT INSPEC </label>
                                            <label> <input type="radio" name="VT" id="2" value="VT_QPC" onclick='IsCheck(this);'/>  VT QPC </label>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกกรุ๊ป : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>

                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div class="col-sm-12" style="margin-top:5px;">
                                        <div class="content-detail-tableStyle" id="workTable">

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="button-Save" style="width:100px" id="btnSave">Save</button>
                                    <input id="btnClear" name="btnClear" value="Clear" class="button-Cancel" style="width:100px" />
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ MONTH: month, YEAR: year,ALL:0 });
        });

    });
    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: 'P02', ALL: 0 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }
    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL };
            },

        });
        mcs('#_ddlWeek').displayShow();

    }
    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function FeatchWorkGrid(obj) {
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../App/GetVTForAdd",
                data: function (data) {
                    var simpleObj = {
                        DEPT_CODE : obj.GROUP,
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK : obj.WEEK,
                        DETAIL: true,
                        SUM: true,
                        TYPE_STORE: obj.TYPE_STORE,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "VTHistories",
                column: "HeaderVT"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
  
    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var group = mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        
        if (week == "")
            week = 0;

        var radioValue = $("input[name='VT']:checked").val();
        

        if (month == undefined || year == undefined)
            FeatchWatchListGridNull();
        else {
            FeatchWorkGrid({ MONTH: month, YEAR: year, GROUP: group, WEEK: week, TYPE_STORE : radioValue});
        }
    }

    function Add() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        var empCode = mcs("#empCode").Value();

        var goalCurrent=  mcs("#goalCurrent").Value();
        var sumPart = mcs("#sumPart").Value();
        var avgGoal = mcs("#avgGoal").Value();
        var newGoal = mcs("#newGoal").Value();
        var userUpdate = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetTxnAdjustGoalData", data: {
                    WEEK_KEY : year + month
                    ,EMP_CODE: empCode
                    ,CURRENT_GOAL: goalCurrent
                    ,SUM_PART:sumPart
	                ,ADJUST_GOAL:avgGoal
                    ,NEW_GOAL		:newGoal
	                ,USER_UPDATE:userUpdate
	                ,TYPE: "I"
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                clear();
                            }
                        });
                    }
                    else if (response.data.Result == 0) {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.Message, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
    function IsCheck() {

        SetDefaultValue();
    }
    function GetVTADD() {
        var radioValue = $("input[name='VT']:checked").val();
        if ($(".footbox_rowtotal").text() == "") {
        
       
            mcs.PopUp({
                header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                }
            });
        }
        else {
            var table = mcs('#workTable_table').ElementContext;
            var length = table.tBodies[0].rows.length;
            var datafileBuffer = [];
            if (length > 0) {
                if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
                else {
                    for (var l = 0; l < length; l++) {
                        var sUSER_UPDATE = mcs('#userUpdate').Value();
                        var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                        if (sSTATUS == 'Y')
                        {
                            var sPROJECT = table.tBodies[0].rows[l].cells[1].innerHTML;
                            var sITEM = table.tBodies[0].rows[l].cells[2].innerHTML;
                            var sREV_NO = table.tBodies[0].rows[l].cells[3].innerHTML;
                            var sCHECK_NO = table.tBodies[0].rows[l].cells[4].innerHTML;
                            var sPART = table.tBodies[0].rows[l].cells[5].innerHTML;
                            var sPOINT = table.tBodies[0].rows[l].cells[6].innerHTML;
                            var sPROBLEM = table.tBodies[0].rows[l].cells[7].innerHTML;
                            var sDWG = table.tBodies[0].rows[l].cells[8].innerHTML;
                            var sACT = table.tBodies[0].rows[l].cells[9].innerHTML;
                            var sWRONG = table.tBodies[0].rows[l].cells[10].innerHTML;
                            var sEDIT = table.tBodies[0].rows[l].cells[11].innerHTML;
                            var sCHECKER = table.tBodies[0].rows[l].cells[12].innerHTML;
                            var sCHECK_DATE = table.tBodies[0].rows[l].cells[13].innerHTML;

                            var datafile = {
                                TYPE_VT: radioValue,
                                USER_UPDATE: sUSER_UPDATE,
                                STATUS: sSTATUS,
                                PROJECT: sPROJECT,
                                ITEM: sITEM,
                                REV_NO: sREV_NO,
                                CHECK_NO: sCHECK_NO,
                                PART: sPART,
                                POINT: sPOINT,
                                PROBLEM: sPROBLEM,
                                DWG: sDWG,
                                ACT: sACT,
                                WRONG: sWRONG,
                                EDIT: sEDIT,
                                CHECKER: sCHECKER,
                                CHECK_DATE: sCHECK_DATE
                            }
                            datafileBuffer.push(datafile);

                        }
                       
                    }
                    //---
                    mcs.Loadding.Show(function () {
                        mcs.service({
                            method: "POST", commandData: "../Admin/SetVTDetail", data: datafileBuffer
                        }, {
                            success: function (response) {
                                mcs.Loadding.Close();
                                if (response.data.CODE == "01") {
                                    mcs.PopUp({
                                        header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                            SetDefaultValue();
                                        }
                                    });
                                }
                                else if (response.data.CODE =="99") {
                                    mcs.PopUp({
                                        header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                        }
                                    });
                                }
                            }, error: function () {
                                mcs.Loadding.Close();
                                mcs.PopUp({
                                    header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                    }
                                });
                            }
                        });
                    });
                }
            }
            else {
                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
        }
    }
    mcs('#btnSave').eventOn("click", function () {
        GetVTADD();
    });
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });

    mcs('#btnClearSearch').eventOn("click", function () {

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        GenGroup();
        SetDefaultValue();
    });

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        GenGroup();
        SetDefaultValue();
        mcs.Loadding.Close();
    });

</script>

