﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
   
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Goal Management (ช่างประกอบ)</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามกรุ๊ป : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามพนักงาน : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="txtSearch" name="txtSearch" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-12 text-center">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>


                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div style="margin-top:5px;">
                                        <div class="content-box-tableStyle  col-sm-12" id="workTable">

                                        </div>
                                    </div>
                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;"><span id="detailHeader"></span></p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-detail-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div id="adjustID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionAdjustID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:absolute;vertical-align:middle; display: inline-block;  margin: auto;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">ปรับเป้าหมาย (ทำงานน้อยกว่าเป้าหมาย)</p>
                                                <input type="button" value="X" id="btnCloseAdjust" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="actionAdjustTable">
                                                            <div class="">
                                                                <table style="width:550px">

                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="empCode">รหัสพนักงาน :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="empCode" name="empCode" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="fullName">ชือ - นามสกุล :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="fullName" name="fullName" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="groupName">กรุ๊ป :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="groupName" name="groupName" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="goalCurrent">เป้าหมายปัจจุบัน :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" style="vertical-align:initial;text-align:right;" id="goalCurrent" name="goalCurrent" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="sumPart">Part รวม ที่ได้ :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" style="vertical-align:initial;text-align:right;" id="sumPart" name="sumPart" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="avgGoal">เป้าหมายเฉลี่ย :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" style="vertical-align:initial;text-align:right;" id="avgGoal" name="avgGoal" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="newGoal">เป้าหมายใหม่ :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" style="vertical-align:initial;text-align:right;" id="newGoal" name="newGoal" >
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="ddlWeekAdd">เลือก Week :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <div style="width:550px">
                                                                                        <div item-validate="weekAdd" class="selectStyles" id="_ddlWeekAdd">

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            </div>
                                                            <div class="text-center" style="margin-top:20px">
                                                                <button type="button" class="button-Save" id="btnSave">Save</button>
                                                                <button type="button" class="button-Cancel" id="btnCloseAll">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ MONTH: month, YEAR: year,ALL:0 });
        });

    });
    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWorkGrid(obj) {
        mcs.Loadding.Show();
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryWorkDayForWeekLess",
                data: function (data) {
                    var simpleObj = {

                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        DEPT_CODE: obj.DEPT_CODE,
                        SEARCH: obj.SEARCH,
                        DETAIL: true,
                        SUM: true,
                        TYPE_STORE: "P02",
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailGoalSumHistories",
                column: "HeaderGoalSum"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        mcs.Loadding.Close();
    }

    function FeatchWorkDetailGrid(id, month, year, week, type) {

        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../App/GetPartDetail",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        EMP_CODE: id,
                        TYPE_STORE: type,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "PartHistories",
                column: "HeaderPart"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        mcs('#detailHeader').Value("รายละเอียดการทำงาน");
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = mcs('#txtSearch').Value();
        var group = mcs('#ddlGroup').Control.dropdownlist.item.selected().value;

        if (month == undefined || year == undefined)
            FeatchWatchListGridNull();
        else {
            FeatchWorkGrid({ MONTH: month, YEAR: year,DEPT_CODE: group, SEARCH: search});
        }
    }

    function Show(id, month, year, week, type) {
        FeatchWorkDetailGrid(id, month, year, week, type)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function ShowGoal(id, month, year) {
        mcs.Loadding.Show();
        GetNewGoal(id, month, year)
        window.scrollTo(0, 0);
        mcs('#actionAdjustID').displayShow();
        mcs('#adjustID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
        mcs.Loadding.Close();
    }

    function GetNewGoal(id, month, year) {
        mcs.Loadding.Show();
        mcs.service({
            method: "POST", commandData: "GetWeekLessForAdjust", data: {
                EMP_CODE: id,
                MONTH: month,
                YEAR: year
            }
        }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        mcs("#empCode").Value(Model.EMP_CODE);
                        mcs("#fullName").Value(Model.FULL_NAME);
                        mcs("#groupName").Value(Model.DEPT_NAME);
                        mcs("#goalCurrent").Value(Model.EMP_GOAL);
                        mcs("#sumPart").Value(Model.PART);
                        mcs("#avgGoal").Value(Model.ADJUST_GOAL);
                        mcs("#newGoal").Value(Model.NEW_GOAL);
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
        mcs.Loadding.Close();
    }

    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: 'P02', ALL: 0 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }

    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL };
            },

        });
        mcs('#_ddlWeek').displayShow();

        mcs('#_ddlWeekAdd').Control.dropdownlist({
            id: "ddlWeekAdd",
            defaultValue: "-- Please Select --",
            baseClass: "process-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL };
            }, 
        });
        mcs('#_ddlWeekAdd').displayShow();
    }

    function Add() {
        if (mcs('#ddlWeekAdd').Control.dropdownlist.item.selected().value == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Week', type: "ok", onok: function () {
                    return;
                }
            });
        }
        else {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            var empCode = mcs("#empCode").Value();

            var goalCurrent = mcs("#goalCurrent").Value();
            var sumPart = mcs("#sumPart").Value();
            var avgGoal = mcs("#avgGoal").Value();
            var newGoal = mcs("#newGoal").Value();
            var WeekNo = mcs('#ddlWeekAdd').Control.dropdownlist.item.selected().value;
            var userUpdate = "O001354";
            mcs.Loadding.Show(function () {
                mcs.service({
                    method: "POST", commandData: "SetTxnAdjustGoalData", data: {
                        WEEK_KEY: year + month
                        , EMP_CODE: empCode
                        , CURRENT_GOAL: goalCurrent
                        , SUM_PART: sumPart
                        , ADJUST_GOAL: avgGoal
                        , NEW_GOAL: newGoal
                        , USER_UPDATE: userUpdate
                        , TYPE: "I"
                        , WEEK_NO : WeekNo
                    }
                }, {
                    success: function (response) {
                        mcs.Loadding.Close();
                        if (response.data.CODE == "01") {
                            mcs.PopUp({
                                header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                    clear();
                                }
                            });
                        }
                        else if (response.data.CODE == "99") {
                            mcs.PopUp({
                                header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                }
                            });
                        }
                    }, error: function () {
                        mcs.Loadding.Close();
                        mcs.PopUp({
                            header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                            }
                        });
                    }
                });
            });
        }
    }

    function clear() {
        mcs("#empCode").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#goalCurrent").Value("");
        mcs("#sumPart").Value("");
        mcs("#avgGoal").Value("");
        mcs("#newGoal").Value("");
        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });
        SetDefaultValue();
    }

    mcs('#btnClose').eventOn("click", function () {
        mcs("#empCode").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#goalCurrent").Value("");
        mcs("#sumPart").Value("");
        mcs("#avgGoal").Value("");
        mcs("#newGoal").Value("");
        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });

        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnCloseAdjust').eventOn("click", function () {
        mcs("#empCode").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#goalCurrent").Value("");
        mcs("#sumPart").Value("");
        mcs("#avgGoal").Value("");
        mcs("#newGoal").Value("");
        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });
    });
    mcs('#btnCloseAll').eventOn("click", function () {
        mcs("#empCode").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#goalCurrent").Value("");
        mcs("#sumPart").Value("");
        mcs("#avgGoal").Value("");
        mcs("#newGoal").Value("");

        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });
    });
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });
    mcs('#btnSave').eventOn("click", function () {
        Add();
    });
    mcs('#btnClearSearch').eventOn("click", function () {
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        mcs('#txtSearch').Value('');
        GenGroup();
        SetDefaultValue();
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });

        GenGroup();
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs('#adjustID').displayShow();
        mcs.Loadding.Close();
    });

</script>

