﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: ประวัติการอัพโหลดเป้าหมายประจำเดือน (Built)</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามกรุ๊ป : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>


                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div class="col-sm-12" style="margin-top:5px;">
                                        <div class="content-detail-tableStyle" id="workTable">

                                        </div>
                                        <div class="col-sm-12" id="Export">

                                        </div>
                                    </div>
                                </div>
                                <div id="adjustID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionAdjustID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:absolute;vertical-align:middle; display: inline-block;  margin: auto;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">แก้ไข % NG</p>
                                                <input type="button" value="X" id="btnCloseAdjust" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="actionAdjustTable">
                                                            <div class="">
                                                                <table style="width:550px">

                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="empCode">รหัสพนักงาน :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="empCode" name="empCode" readonly="readonly">
                                                                                    <input type="text" class="displayNone" id="id" name="id">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="fullName">ชือ - นามสกุล :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="fullName" name="fullName" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="groupName">กรุ๊ป :</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" id="groupName" name="groupName" readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div style="float:left; width:45%">
                                                                                    <label for="txtNG">%NG:</label>
                                                                                </div>
                                                                                <div style="float:left; width:55%">
                                                                                    <input type="text" class="form-control" style="vertical-align:initial;text-align:right;" id="txtNG" name="txtNG">
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                                            </div>
                                                            <div class="text-center" style="margin-top:20px">
                                                                <button type="button" class="button-Save" id="btnSave">Save</button>
                                                                <button type="button" class="button-Cancel" id="btnCloseAll">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
          //  GenWeek({ month: month, year: year});
        });
    });

    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: '', ALL: 2 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }

    function ShowNG(id,empcode, fullname, deptname, ng) {
        mcs("#empCode").Value(empcode);
        mcs("#id").Value(id);
        mcs("#fullName").Value(fullname);
        mcs("#groupName").Value(deptname);
        mcs("#txtNG").Value(ng);

        window.scrollTo(0, 0);
        mcs('#actionAdjustID').displayShow();
        mcs('#adjustID').css({ "position": "static" });
        mcs('#btnCloseAdjust').Disable(false);
    }

    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../Report/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH:obj.month,YEAR: obj.year, ALL: 0 };
            },

        });
        mcs('#_ddlWeek').displayShow();

    }

    function FeatchWorkGrid(obj) {
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../Admin/GetUploadGoalBuilt",
                data: function (data) {
                    var simpleObj = {
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        DEPT_CODE : obj.DEPT_CODE,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailUploadGoalHistories",
                column: "HeaderUploadGoal"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport(obj.MONTH, obj.DEPT_CODE, obj.YEAR);
    }
    function GenExport(MONTH, DEPT_CODE, YEAR) {
        ClearExport();

        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetGoalBuilt?MONTH=" + MONTH + "&YEAR=" + YEAR + "&DEPT_CODE=" + DEPT_CODE;
        mcs('#Export').appendChild(click);
    }
    function ClearExport() {
        var element = document.getElementById("Export");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });
    mcs('#btnCloseAdjust').eventOn("click", function () {
        mcs("#empCode").Value("");
        mcs("#id").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#txtNG").Value("");
        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });
    });
    mcs('#btnCloseAll').eventOn("click", function () {
        mcs("#empCode").Value("");
        mcs("#empCode").Value("");
        mcs("#id").Value("");
        mcs("#fullName").Value("");
        mcs("#groupName").Value("");
        mcs("#txtNG").Value("");

        mcs('#actionAdjustID').displayHide();
        mcs('#adjustID').css({ "position": "absolute" });
    });
    mcs('#btnSave').eventOn("click", function () {
        var id = mcs("#id").Value();
        var ng = mcs("#txtNG").Value();
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "UpdateUploadNG", data: {
                    RUN_ID: id,
                    NG:ng,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การแก้ไขข้อมูล', content: 'แก้ไขข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                SetDefaultValue();
                                mcs('#actionAdjustID').displayHide();
                                mcs('#adjustID').css({ "position": "absolute" });
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การแก้ไขข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถแก้ไขข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    });
    mcs('#btnClearSearch').eventOn("click", function () {
        GenGroup();
        SetDefaultValue();
    });

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var group = mcs('#ddlGroup').Control.dropdownlist.item.selected().value;


        //var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        //if (week == '') week = 0;


        FeatchWorkGrid({ YEAR: year, MONTH: month, DEPT_CODE: group });

    }
    function ShowDelete(id) {
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {

            }
        });
    }
    function Delete(id) {


        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DelUploadGoalBuilt", data: {
                    RUN_ID: id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                SetDefaultValue();
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        //var dateSearch = $('#txtDate').find("input").val().split('/');
        //var month = dateSearch[0];
        //var year = dateSearch[1];

        //GenWeek({ year: year, month: month });
        //mcs('#adjustID').displayShow();
        GenGroup();
        SetDefaultValue();
        mcs.Loadding.Close();
    });

</script>
