﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub"> :: บันทึกหักเงินเดือน</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div class="form-group" style="padding:5px;border:1px solid #f6f6f6;">

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">

                                        <div class="col-sm-2">
                                            <label for="txtEmpID">ค้นหาพนักงาน : </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="form-inline">
                                                <input type="text" id="txtSearch" name="txtEmpID" class="form-control" />
                                                <img id="btnSearch" width="25px" style="cursor:pointer" src="../images/searchicon.png" />
                                                @*<input type="button" id="btnSearch" name="btnSearch" class="btn btn-default" value="Search" />*@
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="txtEmpCode">รหัสพนักงาน : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtEmpCode" type="text" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="txtFullName">ชื่อ - นามสกุล : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtFullName" type="text" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="txtSupDept">ฝ่าย : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtSupDept" type="text" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="txtDept">กรุ๊ป : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtDept" type="text" disabled />
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group" style="margin-top:20px;">

                                </div>


                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;"><span id="detailHeader"></span></p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                     

                            <div class="form-group" style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">

                                        <div class="col-sm-2">
                                            <label for="_ddlProcess">วันที่ : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class='input-group date' id='txtDate'>
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar">
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="_ddlProcess">จำนวน : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="number" class="form-control" id="actual" name="actual">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="_ddlProcess">หมายเหตุ : </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control text-full" id="remark" name="remark">
                                        </div>                                    
                                    </div>
                                    <div class="form-group col-sm-12 text-center" style="margin-bottom:5px">
                                        <input id="btnSave" name="btnSave" value="Save" class="button-Save" style="width:120px" />
                                        <input id="btnCloseAll" name="btnCloseAll" value="Close" class="button-Cancel" style="width:120px" />
                                     </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    $('#txtDate').datetimepicker({
        viewMode: 'days',
        format: 'YYYY-MM-DD',
        ignoreReadonly: true
    });
});

        function FeatchSearchUserGrid(search) {
            mcs('#workDetailTable').Control.table({
                baseclass: '',
                style: function (context) {
                    context.style.width = '100%';
                    return context;
                },
                loaddata: {
                    method: "POST",
                    commandData: "../Report/GetSearchUser",
                    data: function (data) {
                        var simpleObj = {

                            SEARCH: search,
                            TAKE: data.page.size,
                            SORT: "DEPT_NAME",
                            SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                            SKIP: ((data.page.current - 1) * data.page.size)

                        }
                        return { model: simpleObj };
                    },
                    renderObject: "DetailUserHistories",
                    column: "HeaderUser"
                },

                column: [
                ],
                event: {
                    onclick: function (cell) {
                        return;
                    }
                },
                event: {
                    onclick: function (cell) {
                        objTest = cell;
                        mcs('#txtEmpCode').Value(cell.field["EMP_CODE"]);
                        mcs('#txtFullName').Value(cell.field["FULL_NAME"]);
                        mcs('#txtSupDept').Value(cell.field["SUP_DEPT_NAME"]);
                        mcs('#txtDept').Value(cell.field["DEPT_NAME"]);
                        //mcs('#txtEmpCode').Value("");
                        mcs('#actionflowID').displayHide();
                        mcs('#block_actionID').css({ "position": "absolute" });
                    }
                },
                page: {
                    enable: true, pageSize: 10,
                    rowtotal: { field: "RowTotal" },
                    pagetotal: { field: "PageTotal" }
                },
                sort: true
            });
            mcs('#detailHeader').Value("ค้นหาพนักงาน");
        }

        function SearchUser(search) {
            FeatchSearchUserGrid(search);
            window.scrollTo(0, 0);
            mcs('#actionflowID').displayShow();
            mcs('#block_actionID').css({ "position": "static" });
            mcs('#btnClose').Disable(false);
        }

        function GenProcessSelect() {
            mcs('#_ddlProcess').Control.dropdownlist({
                id: "ddlProcess",
                defaultValue: "-- Please Select --",
                baseClass: "management-todo-select",
                method: "POST",
                commandData: "../Level/GetProcessList",
                result: { value: "PROCESS_ID", text: "PROCESS_NAME" },
                dataParameter: function () {
                    return { Value: "" };
                }, event:
                    {
                        onchange: function (item) {
                            // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                        }
                    }
            });
            mcs('#_ddlProcess').displayShow();
        }
        function Add() {

            var username = mcs('#userUpdate').Value();
            var EmpCode = mcs("#txtEmpCode").Value();
           
            var actual = mcs("#actual").Value();
            var remark = mcs("#remark").Value();
            var date = $('#txtDate').find("input").val();

            mcs.Loadding.Show(function () {
                mcs.service({
                    method: "POST", commandData: "SetTxnMinusData", data: {
                        EMP_CODE: EmpCode,
                        PRICE: actual,
                    
                        ACTUAL_DATE:date,
                        REMARK: remark,
                        USER_UPDATE: username,
                    }
                }, {
                    success: function (response) {
                        mcs.Loadding.Close();
                        if (response.data.CODE == "01") {
                            mcs.PopUp({
                                header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                  //  FeatchWatchListGrid();
                                    //FeatchAdminGridUserSource(userSearch, nameSearch);
                                    Clear();
                                }
                            });
                        }
                        else if (response.data.CODE == "99") {
                            mcs.PopUp({
                                header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                }
                            });
                        }
                    }, error: function () {
                        mcs.Loadding.Close();
                        mcs.PopUp({
                            header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                                show();
                            }
                        });
                    }
                });
            });

        }
        function Clear(){
        //    GenProcessSelect();
            mcs.Loadding.Show();
            mcs('#txtSearch').Value('');
            mcs('#txtEmpCode').Value('');
            mcs('#txtFullName').Value('');
            mcs('#txtSupDept').Value('');
            mcs('#txtDept').Value('');
            mcs("#remark").Value('');
            mcs("#actual").Value('');
            $('#txtDate').find("input").val('');
            mcs.Loadding.Close();
        }
        mcs('#btnSearch').eventOn("click", function () {
            var search = mcs('#txtSearch').Value();
            if (search == "") {
                mcs.PopUp({
                    header: "ค้นหาพนักงาน",
                    content: "กรุณากรอกข้อมูลก่อนค้นหา"
                });
            } else {
                mcs('#actionflowID').displayHide();
                mcs('#block_actionID').css({ "position": "absolute" });
                SearchUser(search);
            }

        });

        mcs('#btnClose').eventOn("click", function () {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
        });
        mcs('#btnSave').eventOn("click", function () {
            var EmpCode = mcs("#txtEmpCode").Value();
            var actual = mcs("#actual").Value();
            var date = $('#txtDate').find("input").val();
            if (EmpCode == "") {
                mcs.PopUp({
                    header: 'แจ้งเตือน', content: 'กรุณากดค้นหาพนักงานก่อน', type: "ok", onok: function () {
                        show();
                    }
                });
            } else if (date == "") {
                mcs.PopUp({
                    header: 'แจ้งเตือน', content: 'กรุณาเลือกวันที่', type: "ok", onok: function () {
                        show();
                    }
                });
            } else if (actual == "") {
                mcs.PopUp({
                    header: 'แจ้งเตือน', content: 'กรุณากรอกจำนวน', type: "ok", onok: function () {
                        show();
                    }
                });
            }
            else {
                Add();
            }
           
        });
        mcs('#btnCloseAll').eventOn("click", function () {
            Clear();
        });

        mcs.pageComplete(function () { //On Page Load Success.
            mcs.Loadding.Show();
            $('#txtDate').find("input").attr('readonly', 'readonly');
            mcs('#block_actionID').displayShow();
          //  GenProcessSelect();
            mcs.Loadding.Close();
        });
</script>