﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
          
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: NCR Management</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;width:70%" class="center-block">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:100px" />
                                      
                                    </div>
                                </div>
                                <div style="margin-top:45px;" id="weekID">

                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="button-Save" style="width:100px" id="btnSave">Save</button>
                                    <input id="btnClear" name="btnClear" value="Clear" class="button-Cancel" style="width:100px" />                      
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        mcs('#divSave').displayHide();
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
        
        //SetDefaultValue();
        //mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    function GetGroup(obj) {
        mcs.service({
            method: "POST", commandData: "GetReportNCRDetail", data: {
                                                                        DEPT_CODE: 'P02',
                                                                        ALL: 0,
                                                                        TAKE: 1000,
                                                                        SKIP: 0,
                                                                        MONTH: obj.MONTH,
                                                                        YEAR: obj.YEAR,
                                                                        SORT: "EMP_CODE",
                                                                        SORT_TYPE : 1 } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTable(Model);
                   
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }
    function GenTable(maxWeek) {
        ClearTab();
        if (maxWeek.NCRModel.length <= 0) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.className = 'divEmpty';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            spanText.innerHTML = 'ยังไม่สามารถบันทึกข้อมูลได้ กรุณาสร้างข้อมูล Week การทำงานก่อน';
            var click = mcs.createTag('a');
            click.href = "../Admin/WeekManagement";
            click.innerHTML = "..Click..";

           // divText.appendChild('<br>')
            
            divText.appendChild(spanText)
           // divText.appendChild('<br>')
            divText.appendChild(click)
            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);
            mcs('#divSave').displayHide();
        }
        else {
           
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'parentNCR';
            var divBox = mcs.createTag('div');
            divBox.className = 'NCRBox';
            divTab.appendChild(divBox);

            var table = mcs.createTag('table');
            table.style = "border: 1px solid #F5F5F5;";
            table.className = "table";
            // Header 1
            var thead = mcs.createTag('tr');
            thead.style = "border-bottom: 1px solid #F5F5F5;";
            table.appendChild(thead);

            var thNull = mcs.createTag('td');
            thNull.rowSpan = 2;
            thNull.className = "tdNcrHeader headerBorder";
            thNull.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Group";
            thNull.appendChild(elSpan);
            thead.appendChild(thNull);

            for (var loop = 0; loop < maxWeek.Header.length; loop++) {
                var th = mcs.createTag('td');
                th.colSpan = 2;
                th.className = "tdNcrHeader headerBorder";
                th.style= "border-right: 1px solid #F5F5F5;";
                var elSpan = mcs.createTag('span');
                elSpan.className = 'NcrHead';
                elSpan.innerHTML = maxWeek.Header[loop].Text;
                th.appendChild(elSpan);
                thead.appendChild(th);
            }
            // body Header
            //var tbody = mcs.createTag('tbody');
            //table.appendChild(tbody);
            var trHead = mcs.createTag('tr');
            trHead.className = "trBorder";
            table.appendChild(trHead);
            //var tdNull = mcs.createTag('td');
            //trHead.appendChild(tdNull);
            for (var loop = 0; loop < maxWeek.Header.length * 2; loop++) {
                var td = mcs.createTag('td');
                td.className = "tdNcrHeaderDetail headerBorder";
                td.style = "border-right: 1px solid #F5F5F5;";
                if (loop % 2 == 1) {
                    var elSpan = mcs.createTag('span');
                   // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "TEMPO";
                    td.appendChild(elSpan);
                }
                else {
                    var elSpan = mcs.createTag('span');
                   // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "MAIN";
                    td.appendChild(elSpan);
                }

                trHead.appendChild(td);
            }
            // group
            for (var loop = 0; loop < maxWeek.GroupName.length; loop++) {
                var trBody = mcs.createTag('tr');
                trBody.className = "trBorder";
                table.appendChild(trBody);
                var tdGroup = mcs.createTag('td');
                tdGroup.className = "tdBorder";
                tdGroup.innerHTML = maxWeek.GroupName[loop].DEPT_NAME;
                trBody.appendChild(tdGroup);
                for (var loopdata = 0; loopdata < maxWeek.NCRModel.length; loopdata++) {
                    var gr = maxWeek.NCRModel[loopdata].DEPT_NAME;
                    if (gr == maxWeek.GroupName[loop].DEPT_NAME) {
                        gr = gr.replace(' ', '-');
                        var count_m = 0;
                        var count_t = 0;
                        for (var loopCol = 0; loopCol < maxWeek.Header.length * 2; loopCol++) {
                            var td = mcs.createTag('td');
                            td.className = "tdBorder";
                            if (loopCol % 2 == 1) {
                                count_t++;
                                var elInputTempo = mcs.createTag('input');
                                elInputTempo.className = 'maintemVal';
                                elInputTempo.setAttribute('data-NCRValue', gr + "_" + "TEMPO_" + count_t)
                                elInputTempo.id = gr + "_" + "TEMPO_" + count_t;
                                elInputTempo.type = 'text';
                                elInputTempo.value = maxWeek.NCRModel[loopdata]["TEMPO_" + count_t];
                                td.appendChild(elInputTempo);
                            }
                            else {
                                count_m++;
                                var elInputMain = mcs.createTag('input');
                                elInputMain.className = 'maintemVal';
                                elInputMain.setAttribute('data-NCRValue', gr + "_" + "MAIN_" + count_m)
                                elInputMain.id = gr + "_" + "MAIN_" + count_m;
                                elInputMain.type = 'text';
                                elInputMain.value = maxWeek.NCRModel[loopdata]["MAIN_" + count_m];
                                td.appendChild(elInputMain);
                            }

                            trBody.appendChild(td);
                        }
                    }
                 
                }
              
            }      
            divBox.appendChild(table)
            mcs('#weekID').appendChild(divTab);
            mcs('#divSave').displayShow();
        }

    }
    function Add()
    {
      
        var model = [];
        var modelMain = [];
        var modelTemp = [];
        mcs('[data-ncrvalue]').foreach(function (el) {
            var insertMainModel = {
                GROUP_NAME: "", DATA: "", WEEK: ""
            }
            var insertTempModel = {
                GROUP_NAME: "", DATA: "", WEEK: ""
            }
            var id = el.getAttribute('data-ncrvalue');
            var gr = id.split('_');
            var data = mcs("#" + id).Value();
            if (gr[1] == "MAIN") {
                insertMainModel.GROUP_NAME = gr[0];
                insertMainModel.DATA = data;
                insertMainModel.WEEK = gr[2];
                modelMain.push(insertMainModel);
            }
            else {
                insertTempModel.GROUP_NAME = gr[0];
                insertTempModel.DATA = data;
                insertTempModel.WEEK = gr[2];
                modelTemp.push(insertTempModel);
            }
        });
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        for (var loop = 0; loop < modelMain.length; loop++)
        {
            var insertModel = {
                GROUP_NAME: "", MAIN: "", TEMPO: "", WEEK_SUB: "",WEEK_KEY:"",USER_UPDATE : ""
            }

            insertModel.GROUP_NAME = modelMain[loop].GROUP_NAME.replace('-', ' ');;
            insertModel.MAIN = modelMain[loop].DATA != "-" ? modelMain[loop].DATA : "-1.00";
            insertModel.TEMPO = modelTemp[loop].DATA != "-" ? modelTemp[loop].DATA : "-1.00";
            insertModel.WEEK_SUB = modelMain[loop].WEEK;
            insertModel.WEEK_KEY = year + month;
            insertModel.USER_UPDATE = mcs('#userUpdate').Value();
            model.push(insertModel);
        }
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetTxnNcrData", data: model
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                var dateSearch = $('#txtDate').find("input").val().split('/');
                                var month = dateSearch[0];
                                var year = dateSearch[1];

                                GetGroup({ MONTH: month, YEAR: year });
                               
                            }
                        });
                    }
                    else if (response.data.CODE == "99") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
  
                        }
                    });
                }
            });
        });
    }
    function ClearTab() {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    mcs('#btnSave').eventOn("click", function () {      
        Add();
    });
    mcs('#btnSearch').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
    });
    mcs('#btnClear').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
    });
</script>