﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">::  Symbol For Auto Gas 2</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                               
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label>เลือก Project : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="project" class="selectStyles" id="_ddlProject">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label>เลือก Item : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="item" class="selectStyles" id="_ddlItem">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12 displayNone" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือกกรุ๊ป : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                            </div>
                                        </div>
                                    </div>

                                   
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    
                                    <div class="col-sm-12 text-center">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                    <div class="col-sm-12" style="margin-top:5px;">
                                        <div class="content-detail-tableStyle" id="workTable">

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="button-Save" style="width:100px" id="btnSave">Delete</button>
                                    <input id="btnClear" name="btnClear" value="Clear" class="button-Cancel" style="width:100px" />
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ MONTH: month, YEAR: year,ALL:0 });
        });

    });
    function GenGroup() {
        mcs('#_ddlGroup').Control.dropdownlist({
            id: "ddlGroup",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../UserDepartment/GetGroupName",
            result: { value: "DEPT_NAME", text: "DEPT_NAME" },
            parameter: function () {
                return { DEPT_CODE: 'P01', ALL: 0 };
            },

        });
        mcs('#_ddlGroup').displayShow();

    }
    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../UserDepartment/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL };
            },
            event:
          {
              onchange: function (item) {
                  obj.WEEK = item.value;
                  GetProject(obj);
              }
          }
        });
        mcs('#_ddlWeek').displayShow();

    }

    function GetProject(obj) {
        mcs('#_ddlProject').Control.dropdownlist({
            id: "ddlProject",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../UserDepartment/GetProjectForCheckSymbolData",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR, ALL: obj.ALL , WEEK : obj.WEEK , DEPT_CODE : "107" };
            },
             event:
            {
                onchange: function (item) {
                    obj.PJ_NAME = item.value;
                    GetItem(obj);
                }
            }

        });
        mcs('#_ddlProject').displayShow();

    }
    function GetItem(obj) {
        mcs('#_ddlItem').Control.dropdownlist({
            id: "ddlItem",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../UserDepartment/GetProjectItemForCheckSymbolData",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.MONTH, YEAR: obj.YEAR,WEEK:obj.WEEK, ALL: obj.ALL, PJ_NAME: obj.PJ_NAME };
            },

        });
        mcs('#_ddlItem').displayShow();

    }
    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function FeatchWorkGrid(obj) {
        var header;
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../Admin/GetDetailForCheckSymbolData",
                data: function (data) {
                    var simpleObj = {
                        DEPT_CODE : obj.GROUP,
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK: obj.WEEK,
                        PJ_NAME: obj.PJ_NAME,
                        PD_ITEM: obj.PD_ITEM,
                        DETAIL: true,
                        SUM: true,
                        SEARCH : "",
                        DEPT_CODE : "107",
                        TYPE_STORE: obj.TYPE_STORE,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailPartDetailSummaryForWorkHistories",
                column: "HeaderPartDetailSummaryForWork"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
  
    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        //var group = mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        
        var pj = mcs('#ddlProject').Control.dropdownlist.item.selected().value;
   

        var item = mcs('#ddlItem').Control.dropdownlist.item.selected().value;
        if (item == '') item = 0;

        if (week == "")
            week = 0;



        if (month == undefined || year == undefined)
            FeatchWatchListGridNull();
        else {
            FeatchWorkGrid({ MONTH: month, YEAR: year, GROUP: "", PJ_NAME : pj ,PD_ITEM : item,WEEK: week, TYPE_STORE : ""});
        }
    }

    function Add() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        var empCode = mcs("#empCode").Value();

        var goalCurrent=  mcs("#goalCurrent").Value();
        var sumPart = mcs("#sumPart").Value();
        var avgGoal = mcs("#avgGoal").Value();
        var newGoal = mcs("#newGoal").Value();
        var userUpdate = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetTxnAdjustGoalData", data: {
                    WEEK_KEY : year + month
                    ,EMP_CODE: empCode
                    ,CURRENT_GOAL: goalCurrent
                    ,SUM_PART:sumPart
	                ,ADJUST_GOAL:avgGoal
                    ,NEW_GOAL		:newGoal
	                ,USER_UPDATE:userUpdate
	                ,TYPE: "I"
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                clear();
                            }
                        });
                    }
                    else if (response.data.Result == 0) {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.Message, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
    function IsCheck() {

        SetDefaultValue();
    }
    function GetVTADD() {
     
        if ($(".footbox_rowtotal").text() == "") {
        
       
            mcs.PopUp({
                header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                }
            });
        }
        else {
            var table = mcs('#workTable_table').ElementContext;
            var length = table.tBodies[0].rows.length;
            var datafileBuffer = [];
            if (length > 0) {
                if (table.tBodies[0].rows[0].cells[0].innerHTML == 'RECORD NO DATA') {
                    mcs.PopUp({
                        header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                        }
                    });
                }
                else {
                    for (var l = 0; l < length; l++) {
                        var sUSER_UPDATE = mcs('#userUpdate').Value();
                        var sSTATUS = (table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].checked) ? "Y" : "N";
                        if (sSTATUS == 'Y')
                        {
                            var sID = table.tBodies[0].rows[l].cells[0].children[0].childNodes[1].id.replace('R_','');
                       
                                 

                            var datafile = {
                                Text: sID,
                                               
                                Value: sUSER_UPDATE
                            }
                            datafileBuffer.push(datafile);

                        }
                       
                    }
                    //---
                    mcs.Loadding.Show(function () {
                        mcs.service({
                            method: "POST", commandData: "../Admin/DelCheckSymbolData", data: datafileBuffer
                        }, {
                            success: function (response) {
                                mcs.Loadding.Close();
                                if (response.data.CODE == "01") {
                                    mcs.PopUp({
                                        header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                            SetDefaultValue();
                                        }
                                    });
                                }
                                else if (response.data.CODE =="99") {
                                    mcs.PopUp({
                                        header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                                        }
                                    });
                                }
                            }, error: function () {
                                mcs.Loadding.Close();
                                mcs.PopUp({
                                    header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                                    }
                                });
                            }
                        });
                    });
                }
            }
            else {
                mcs.PopUp({
                    header: 'ไม่มีข้อมูลที่เลือก', content: 'กรุณาเลือกข้อมูล', type: "ok", onok: function () {

                    }
                });
            }
        }
    }
    mcs('#btnSave').eventOn("click", function () {
        GetVTADD();
    });
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });

    mcs('#btnClearSearch').eventOn("click", function () {

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        mcs('#ddlWeek').Control.dropdownlist.item.selectValue(1);
        GetProject({ MONTH: month, YEAR: year, WEEK: 1, ALL: 0 });
        GetItem({ MONTH: month, YEAR: year, WEEK: 1, PJ_NAME: '', ALL: 0 });
        //GenGroup();
        SetDefaultValue();
    });

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ MONTH: month, YEAR: year, ALL: 0 });
        mcs('#ddlWeek').Control.dropdownlist.item.selectValue(1);
        GetProject({ MONTH: month, YEAR: year,WEEK:1, ALL: 0 });
        GetItem({ MONTH: month, YEAR: year,WEEK:1,PJ_NAME:'', ALL: 0 });
       // GenGroup();
        SetDefaultValue();
        mcs.Loadding.Close();
    });

</script>

