﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Week Management</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:100px" />

                                    </div>
                                </div>
                                <div style="margin-top:45px;" id="weekID">

                                </div>
                                <div class="text-center" style="margin-top:20px" id="divSave">
                                    <button type="button" class="btn btn-primary" style="width:100px" id="btnSave">Save</button>
                                    <input id="btnClear" name="btnClear" value="Clear" class="btn btn-primary" style="width:100px" />
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        mcs('#divSave').displayHide();
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });

        //SetDefaultValue();
        //mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    function GetGroup(obj) {
        mcs.service({
            method: "POST", commandData: "GetCalendar", data: { MONTH: obj.MONTH,YEAR: obj.YEAR} }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTable(Model);

                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }
    function GenTable(maxWeek) {
        if (maxWeek.length <= 0) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.style = 'display:none';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.style = 'margin:auto;background-color: #FFF;vertical-align:initial;text-align:center;';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            spanText.innerHTML = 'ไม่พบข้อมูล';
            divText.appendChild(spanText)

            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);
            mcs('#divSave').displayHide();
        }
        else {

            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'parentNCR';
            var divBox = mcs.createTag('div');
            divBox.className = 'VTBox';
            divTab.appendChild(divBox);

            var table = mcs.createTag('table');
            table.style = "border: 1px solid #F5F5F5; width: 80%;margin: auto;";
            table.className = "table";
            // Header 1
            var thead = mcs.createTag('tr');
            thead.style = "border-bottom: 1px solid #F5F5F5;";
            table.appendChild(thead);
            //-----------------------
            var thNull = mcs.createTag('td');

            thNull.className = "tdNcrHeader";
            thNull.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Week No.";
            thNull.appendChild(elSpan);
            thead.appendChild(thNull);

      
            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style= "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Mon";
            th.appendChild(elSpan);
            thead.appendChild(th);
          

            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Tue";
            th.appendChild(elSpan);
            thead.appendChild(th);


            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Wed";
            th.appendChild(elSpan);
            thead.appendChild(th);


            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Thu";
            th.appendChild(elSpan);
            thead.appendChild(th);


            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Fri";
            th.appendChild(elSpan);
            thead.appendChild(th);


            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Sat";
            th.appendChild(elSpan);
            thead.appendChild(th);


            var th = mcs.createTag('td');

            th.className = "tdNcrHeader";
            th.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Sun";
            th.appendChild(elSpan);
            thead.appendChild(th);

            //-------------------------------------
            var trHead = mcs.createTag('tr');
            trHead.style = "border-bottom: 1px solid #F5F5F5;";
            table.appendChild(trHead);
            // group
            for (var loop = 0; loop < maxWeek.length; loop++) {
                var trBody = mcs.createTag('tr');
                trBody.style = "border-bottom: 1px solid #F5F5F5;";
                table.appendChild(trBody);

                var tdGroup = mcs.createTag('td');
                tdGroup.style = "border-right: 1px solid #F5F5F5;";
                tdGroup.innerHTML = maxWeek[loop].WEEK_SUB == "0" ? "" : maxWeek[loop].WEEK_SUB;
                trBody.appendChild(tdGroup);
              
                var tdMon = mcs.createTag('td');
                tdMon.style = "border-right: 1px solid #F5F5F5;";
                var MON = maxWeek[loop].MON.split('_');
                tdMon.innerHTML = MON[0];
                trBody.appendChild(tdMon);
                
                var spanMon = mcs.createTag('span');
                spanMon.style = "display:none;"
                spanMon.innerHTML = maxWeek[loop].MON;
                tdMon.appendChild(spanMon);

                var elChkMon =mcs.createTag('input');
                elChkMon.className = 'maintemVal';
                elChkMon.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + MON[0])
                elChkMon.id = maxWeek[loop].WEEK_SUB + "_" + MON[0];
                elChkMon.type = 'checkbox';
                if (MON[1] == 1) { elChkMon.setAttribute('checked', 'checked'); }
                if (MON[1] == 2) { elChkMon.setAttribute('disabled', 'disabled'); }
                tdMon.appendChild(mcs.createTag('br'));
                tdMon.appendChild(elChkMon);


                var tdTue = mcs.createTag('td');
                tdTue.style = "border-right: 1px solid #F5F5F5;";
                var TUE = maxWeek[loop].TUE.split('_');
                tdTue.innerHTML = TUE[0];
                trBody.appendChild(tdTue);

                var elChkTue = mcs.createTag('input');
                elChkTue.className = 'maintemVal';
                elChkTue.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + TUE[0])
                elChkTue.id = maxWeek[loop].WEEK_SUB + "_" + TUE[0];
                elChkTue.type = 'checkbox';
                if (TUE[1] == 1) { elChkTue.setAttribute('checked', 'checked'); }
                if (TUE[1] == 2) { elChkTue.setAttribute('disabled', 'disabled'); }
                tdTue.appendChild(mcs.createTag('br'));
                tdTue.appendChild(elChkTue);

                var tdWen = mcs.createTag('td');
                tdWen.style = "border-right: 1px solid #F5F5F5;";
                var WED = maxWeek[loop].WED.split('_');
                tdWen.innerHTML = WED[0];          
                trBody.appendChild(tdWen);

                var elChkWen = mcs.createTag('input');
                elChkWen.className = 'maintemVal';
                elChkWen.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + WED[0])
                elChkWen.id = maxWeek[loop].WEEK_SUB + "_" + WED[0];
                elChkWen.type = 'checkbox';
                if (WED[1] == 1) { elChkWen.setAttribute('checked', 'checked'); }
                if (WED[1] == 3) { elChkWen.setAttribute('disabled', 'disabled'); }
                tdWen.appendChild(mcs.createTag('br'));
                tdWen.appendChild(elChkWen);


                var tdThu = mcs.createTag('td');
                tdThu.style = "border-right: 1px solid #F5F5F5;";
                var THU = maxWeek[loop].THU.split('_');
                tdThu.innerHTML = THU[0];
                trBody.appendChild(tdThu);


                var elChkThu = mcs.createTag('input');
                elChkThu.className = 'maintemVal';
                elChkThu.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + THU[0])
                elChkThu.id = maxWeek[loop].WEEK_SUB + "_" + THU[0];
                elChkThu.type = 'checkbox';
                if (THU[1] == 1) { elChkThu.setAttribute('checked', 'checked'); }
                if (THU[1] == 2) { elChkThu.setAttribute('disabled', 'disabled'); }
                tdThu.appendChild(mcs.createTag('br'));
                tdThu.appendChild(elChkThu);

                var tdFri = mcs.createTag('td');
                tdFri.style = "border-right: 1px solid #F5F5F5;";
                var FRI = maxWeek[loop].FRI.split('_');
                tdFri.innerHTML = FRI[0];         
                trBody.appendChild(tdFri);

                var elChkFri = mcs.createTag('input');
                elChkFri.className = 'maintemVal';
                elChkFri.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + FRI[0])
                elChkFri.id = maxWeek[loop].WEEK_SUB + "_" + FRI[0];
                elChkFri.type = 'checkbox';
                if (FRI[1] == 1) { elChkFri.setAttribute('checked', 'checked'); }
                if (FRI[1] == 2) { elChkFri.setAttribute('disabled', 'disabled'); }
                tdFri.appendChild(mcs.createTag('br'));
                tdFri.appendChild(elChkFri);

                var tdSat = mcs.createTag('td');
                tdSat.style = "border-right: 1px solid #F5F5F5;";
                var SAT = maxWeek[loop].SAT.split('_');
                tdSat.innerHTML = SAT[0];
                trBody.appendChild(tdSat);


                var elChkSat = mcs.createTag('input');
                elChkSat.className = 'maintemVal';
                elChkSat.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + SAT[0])
                elChkSat.id = maxWeek[loop].WEEK_SUB + "_" + SAT[0];
                elChkSat.type = 'checkbox';
                if (SAT[1] == 1) { elChkSat.setAttribute('checked', 'checked'); }
                if (SAT[1] == 2) { elChkSat.setAttribute('disabled', 'disabled'); }
                tdSat.appendChild(mcs.createTag('br'));
                tdSat.appendChild(elChkSat);

                var tdSun = mcs.createTag('td');
                tdSun.style = "border-right: 1px solid #F5F5F5;";
                var SUN = maxWeek[loop].SUN.split('_');
                tdSun.innerHTML = SUN[0];
             
                trBody.appendChild(tdSun);

                var elChkSun = mcs.createTag('input');
                elChkSun.className = 'maintemVal';
                elChkSun.setAttribute('data-NCRValue', maxWeek[loop].WEEK_SUB + "_" + SUN[0])
                elChkSun.id = maxWeek[loop].WEEK_SUB + "_" + SUN[0];
                elChkSun.type = 'checkbox';
                if (SUN[1] == 1) { elChkSun.setAttribute('checked', 'checked'); }
                if (SUN[1] == 2) { elChkSun.setAttribute('disabled', 'disabled'); }
                tdSun.appendChild(mcs.createTag('br'));
                tdSun.appendChild(elChkSun);


                table.appendChild(trBody);
            }

            divBox.appendChild(table)
            mcs('#weekID').appendChild(divTab);
            mcs('#divSave').displayShow();
        }

    }
    function Add()
    {

        var model = [];
        var modelMain = [];
        mcs('[data-ncrvalue]').foreach(function (el) {
            var insertMainModel = {
                GROUP_NAME: "", DATA: "", WEEK: ""
            }
            var id = el.getAttribute('data-ncrvalue');
            var gr = id.split('_');
            var data = mcs("#" + id).Value();

            insertMainModel.GROUP_NAME = gr[0];
            insertMainModel.DATA = data;
            insertMainModel.WEEK = gr[2];
            modelMain.push(insertMainModel);

        });
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        for (var loop = 0; loop < modelMain.length; loop++)
        {
            var insertModel = {
                GROUP_NAME: "", VT: "", WEEK_SUB: "",WEEK_KEY:"",USER_UPDATE : ""
            }

            insertModel.GROUP_NAME = modelMain[loop].GROUP_NAME.replace('-', ' ');;
            insertModel.VT = modelMain[loop].DATA != "-" ? modelMain[loop].DATA : "-1.00";
            insertModel.WEEK_SUB = modelMain[loop].WEEK;
            insertModel.WEEK_KEY = year + month;
            insertModel.USER_UPDATE = mcs('#userUpdate').Value();
            model.push(insertModel);
        }
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetTxnVTData", data: model
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                FeatchWatchListGrid();
                                //FeatchAdminGridUserSource(userSearch, nameSearch);
                                clear();
                            }
                        });
                    }
                    else if (response.data.Result == 0) {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.Message, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }
    function ClearTab() {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    mcs('#btnSave').eventOn("click", function () {
        Add();
    });
    mcs('#btnSearch').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
    });
    mcs('#btnClear').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
    });
</script>
