﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Process</p>
                        </div>
                    </div>
                   
                    <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                        <div style="top: 80px;right: 10px;position: fixed;float: right;">
                            <img id="btnOpen" width="25px" style="cursor:pointer" src="../images/file_add.png"  />
                        </div>
                        <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                            <div style="position:absolute;vertical-align:middle; display: inline-block;  margin: auto;">
                                <div style="background-color:#fff;margin: 20px;">
                                    <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">เพิ่ม / แก้ไข Process</p>
                                    <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                    <div style="padding:25px;border:1px solid #f6f6f6;">
                                        <div style="margin-top:5px;">
                                            <div class="content-box-tableStyle" id="actionlistTable">
                                                <div class="">
                                                    <table style="width:550px">
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="MainType">Type Main :</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <div item-validate="MainType" class="selectStyles" id="_ddlMainType" style="width:195px">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="processName">Process Name :</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="text" class="form-control" id="processName" name="processName">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="priceUnit">ราคาต่อหน่วย:</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input checked="checked" type="checkbox" id="chkIsLevel"  onclick='CheckIsLevel(this);' /> ตาม Level
                                                                        <input type="number" class="form-control" id="priceUnit" name="priceUnit" style="width:120px;text-align:right"/>
                                                                     </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                      
                                                    </table>

                                                </div>
                                                <div class="text-center" style="margin-top:20px">
                                                    <button type="button" class="button-Save" id="btnSave">Save</button>
                                                    <button type="button" class="button-Cancel" id="btnCloseAll">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                  
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        @*<div>
                        <input type="button" id="btnOpen" class="btn btn-success" value="ADD" width="80px"/> 
                        <input type="button" id="btnDelete" class="btn btn-danger" value="DELETE" width="80px"/ > 
                        </div>*@
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหา : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div item-validate="SearchMainType" class="selectStyles" id="_ddlSearchMainType" style="width:195px">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                <div style="margin-top:5px;" class="col-sm-12">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                    <div id ="Export">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

<script type="text/javascript">
    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetMasterProcessData",
                data: function (data) {
                    //var stateCode = mcs('#watchlistTable')
                    //var itemstatusCode = mcs('#docType').Control.dropdownlist.item.selected().value;
                    //var stateCode = ((typeof itemstatusCode != "string" ? itemstatusCode.join(',') : itemstatusCode)).toString();

                    //var fromDate = mcs("#fromDate").Value();
                    //var toDate = mcs("#toDate").Value();
                    var simpleObj = {
                        SEARCH: obj.GROUP,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)
                    }
                    return { model: simpleObj };
                },
                renderObject: "ProcessHistories",
                column: "HeaderProcess"
            },
            column: [          
                //{ head: "PROCESS_ID", field: "PROCESS_ID", cansort: true, sort: "asc", style: { 'vertical-align': 'initial', 'text-align': 'center', 'width': '150px' } },
                //{ head: "PROCESS_NAME", field: "PROCESS_NAME", cansort: true, style: { 'vertical-align': 'initial', 'text-align': 'left', 'width': '650px' } },
                //{ head: "PRICE_UNIT", field: "PRICE_UNIT", cansort: true, style: { 'vertical-align': 'initial', 'text-align': 'right', 'width': '150px' } },
                //{
                //    head: "Delete",
                //    fieldtemplate: function (record) {
                //        var id = record.data.PROCESS_ID;
                //        var elementId = "PC_" + id;
                //        //  record.cell.innerHTML = '<div class="g-check"><input class="process-ck" id="' + elementId + '" type="checkbox" name="checkbox" value="' + id + '"><label for="' + elementId + '"><span><span class="collapse">|</span></span></label></div>'
                //        record.cell.innerHTML = '<div class="g-check"> <img id="' + elementId + '"width="25px" style="cursor:pointer" src="../images/file_delete.png" onclick="ShowDelete(' + id + ')" /></div>'

                //        return record;
                //    }
                //},
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            event: {
                onclick: function (cell) {
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport();
    }
    function GenMainTypeSelect() {
        mcs('#_ddlMainType').Control.dropdownlist({
            id: "ddlMainType",
            defaultValue: "-- Please Select --",
            baseClass: "process-select",
            method: "POST",
            commandData: "../UserDepartment/GetHeaderForProcess",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { ALL: 0, SUP_DEPT_CODE : 'P02' };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });
        mcs('#_ddlMainType').displayShow();
    }
    function GenSearchMainTypeSelect() {
        mcs('#_ddlSearchMainType').Control.dropdownlist({
            id: "ddlSearchMainType",
            defaultValue: "-- Please Select --",
            baseClass: "process-select",
            method: "POST",
            commandData: "../UserDepartment/GetHeaderForProcess",
            result: { value: "Text", text: "Text" },
            parameter: function () {
                return { ALL: 0, SUP_DEPT_CODE: 'P02' };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });
        mcs('#_ddlSearchMainType').displayShow();
    }
    function SetDefaultValue() {
        var group = mcs('#ddlSearchMainType').Control.dropdownlist.item.selected().value;
        FeatchWatchListGrid({ GROUP: group });
    
    }
    function Add() {
        //var username = mcs("#admin-userId").Value();
        //var userSearch = mcs("#username").Value();
        //var nameSearch = mcs("#fullname").Value();

        var username = mcs('#userUpdate').Value();
        var processName = mcs("#processName").Value();
        var priceUnit = mcs("#priceUnit").Value();
        var type = mcs('#ddlMainType').Control.dropdownlist.item.selected().value;
     
        var chkIsLevel = mcs("#chkIsLevel").ElementContext.checked;
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetMasterProcessData", data: {
                    PROCESS_NAME : processName,
                    PRICE_UNIT: priceUnit,
                    USER_UPDATE: username,
                    TYPE: "I",
                    MAIN_PROCESS: type,
                    IS_LEVEL: chkIsLevel,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                FeatchWatchListGrid();
                                //FeatchAdminGridUserSource(userSearch, nameSearch);
                                clear();
                            }
                        });
                    }
                    else if (response.data.CODE == "99") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                            show();
                        }
                    });
                }
            });
        });

    }
   
    function ShowDelete(id) {
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {

            }
        });
    }
    function Delete(id) {
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DeleteMasterProcessData", data: {
                    PROCESS_ID : id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                FeatchWatchListGrid();
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }


    function show() {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }
    function clear() {
        mcs("#processName").Value("");
        mcs("#priceUnit").Value("");
    }
    function GetDeleteList() {
        var totalItem = mcs(".process-ck").ElementContext;
        var itemCount = totalItem.length;
        var items = [];
        for (var i = 0; i < itemCount; i++) {
            if (totalItem[i].checked) {
                var item = new ProcessModel();
                item.Value = totalItem[i].value;
                items.push(item);
            }
        }
        return items;
    }
    function CheckIsLevel() {
        var chkIsLevel = mcs("#chkIsLevel").ElementContext.checked;
        document.getElementById("priceUnit").disabled = chkIsLevel;
    }
    function GenExport() {
        
        var click = mcs.createTag('a');
        click.href = "../Admin/WeekManagement";
        mcs('#Export').appendChild(click);
    }
    function FormValidate(b, fn) {
        mcs.formValidate({
            templete: function (elmentCon) {
                if (elmentCon != null) {
                    var imgtemp = mcs.createTag('img');
                    imgtemp.src = mcs.getImagePath() + 'icon/errorMessage.png';
                    imgtemp.style.width = '20px';
                    imgtemp.style.height = '20px';
                    imgtemp.className = (b == false ? 'hideError-animation' : 'alertError-animation');
                    return imgtemp;
                }
            }
        });

        if (b != false)
            var timeout_ = setTimeout(function () {
                mcs('.alertError-animation').foreach(function (el) {
                    mcs(el).classDelayAddOrReplace('alertError-animation', 'hideError-animation', 300);
                });
                clearTimeout(timeout_);
            }, 5000);
        if (fn) {
            fn();
        }
    }

        //mcs.pageComplete(function () { //On Page Load Success.
        //    mcs.Loadding.Show();
        //    GenSearchMainTypeSelect();
        //    SetDefaultValue();
        //    mcs('#block_actionID').displayShow();
        //    mcs.Loadding.Close();
        //});
        mcs('#btnClose').eventOn("click", function () {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            clear();
        });
        mcs('#btnCloseAll').eventOn("click", function () {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            clear();
        });
        mcs('#btnOpen').eventOn("click", function () {
            window.scrollTo(0, 0);
            mcs('#actionflowID').displayShow();
            mcs('#block_actionID').css({ "position": "static" });
            mcs('#btnClose').Disable(false);
            GenMainTypeSelect();
        })
        mcs('#btnSave').eventOn("click", function () {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            Add();
        });
        mcs('#btnClearSearch').eventOn("click", function () {
            GenSearchMainTypeSelect();
            SetDefaultValue();
        });
        mcs('#btnSearch').eventOn("click", function () {
            SetDefaultValue();
        });

        mcs.pageComplete(function () { //On Page Load Success.
            mcs.Loadding.Show();
            GenSearchMainTypeSelect();
            SetDefaultValue();
            document.getElementById("priceUnit").disabled = true;
            mcs('#block_actionID').displayShow();
            mcs.Loadding.Close();
        });

</script>
