﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Certificate</p>
                        </div>
                    </div>
                
                    <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                            <div style="top: 80px;right: 10px;position: fixed;float: right;">
                                <img id="btnOpen" width="25px" style="cursor:pointer" src="../images/file_add.png" />
                            </div>
                            <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                <div style="position:absolute;vertical-align:middle; display: inline-block;  margin: auto;">
                                    <div style="background-color:#fff;margin: 20px;">
                                        <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">เพิ่ม / แก้ไข Certificate</p>
                                        <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                        <div style="padding:25px;border:1px solid #f6f6f6;">
                                            <div style="margin-top:5px;">
                                                <div class="content-box-tableStyle" id="actionlistTable">
                                                    <div class="">
                                                        <table style="width:550px">

                                                            <tr>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div style="float:left; width:45%">
                                                                            <label for="certName">Certificate Name :</label>
                                                                        </div>
                                                                        <div style="float:left; width:55%">
                                                                            <input type="text" class="form-control" id="certName" name="certName">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div style="float:left; width:45%">
                                                                            <label for="certShortName">Certificate Short Name :</label>
                                                                        </div>
                                                                        <div style="float:left; width:55%">
                                                                            <input type="text" class="form-control" id="certShortName" name="certShortName">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </table>

                                                    </div>
                                                    <div class="text-center" style="margin-top:20px">
                                                        <button type="button" class="button-Save" id="btnSave">Save</button>
                                                        <button type="button" class="button-Cancel" id="btnCloseAll">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                      
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">

                                <div style="margin-top:5px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>


<script type="text/javascript">
    function FeatchWatchListGrid() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetMasterCertData",
                data: function (data) {
                    //var stateCode = ais('#watchlistTable')
                    //var itemstatusCode = ais('#docType').Control.dropdownlist.item.selected().value;
                    //var stateCode = ((typeof itemstatusCode != "string" ? itemstatusCode.join(',') : itemstatusCode)).toString();

                    //var fromDate = ais("#fromDate").Value();
                    //var toDate = ais("#toDate").Value();
                    var simpleObj = {
                        //REQ_NO: ais("#docNumber").Value(),
                        Take: data.page.size,
                        ////StateCode:stateCode,
                        Sort: data.sort.column,
                        OrderType: (data.sort.dir == "asc" ? 1 : 2),
                        Skip: ((data.page.current - 1) * data.page.size)
                    }
                    return { model: simpleObj };
                },
                renderObject: "CertHistories",
                column: "HeaderCert"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function Add() {
        //var username = mcs("#admin-userId").Value();
        //var userSearch = mcs("#username").Value();
        //var nameSearch = mcs("#fullname").Value();

        var username = mcs('#userUpdate').Value();
        var processName = mcs("#certName").Value();
        var priceUnit = mcs("#certShortName").Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetMasterCertData", data: {
                    CERT_NAME: processName,
                    CERT_SHORT_NAME: priceUnit,
                    USER_UPDATE: username,
                    TYPE: "I"
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                FeatchWatchListGrid();
                                //FeatchAdminGridUserSource(userSearch, nameSearch);
                                clear();
                            }
                        });
                    }
                    else if (response.data.Result == 0) {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.Message, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                            show();
                        }
                    });
                }
            });
        });

    }

    function ShowDelete(id) {
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {

            }
        });
    }
    function Delete(id) {
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DeleteMasterCertData", data: {
                    CERT_ID: id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                FeatchWatchListGrid();
                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.Message, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {

                        }
                    });
                }
            });
        });
    }


    function show() {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }
    function clear() {
        mcs("#certName").Value("");
        mcs("#certShortName").Value("");
    }

    function SetDefaultValue() {
            FeatchWatchListGrid() ;
    }
    function FormValidate(b, fn) {
        mcs.formValidate({
            templete: function (elmentCon) {
                if (elmentCon != null) {
                    var imgtemp = mcs.createTag('img');
                    imgtemp.src = mcs.getImagePath() + 'icon/errorMessage.png';
                    imgtemp.style.width = '20px';
                    imgtemp.style.height = '20px';
                    imgtemp.className = (b == false ? 'hideError-animation' : 'alertError-animation');
                    return imgtemp;
                }
            }
        });

        if (b != false)
            var timeout_ = setTimeout(function () {
                mcs('.alertError-animation').foreach(function (el) {
                    mcs(el).classDelayAddOrReplace('alertError-animation', 'hideError-animation', 300);
                });
                clearTimeout(timeout_);
            }, 5000);
        if (fn) {
            fn();
        }
    }
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnCloseAll').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnOpen').eventOn("click", function () {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    })
    mcs('#btnSave').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
        Add();
    });
    FormValidate();
</script>
