﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Certificate in Emp</p>
                        </div>
                        &nbsp;&nbsp;&nbsp;  <img width="25px" src="../images/file_add.png" data-toggle="modal" data-target="#myModal" />
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">

                                <div style="margin-top:5px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">เพิ่ม / แก้ไข โครงสร้างเงินเดือนพนักงาน</h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">

                    <tr>
                        <td>
                            <div class="form-group">
                                <div style="float:left; width:35%">
                                    <label for="levelName">Level Name :</label>
                                </div>
                                <div style="float:left; width:65%">
                                    <input type="text" class="form-control" id="levelName">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div style="float:left; width:35%">
                                    <label for="levelGoal">เป้าหมายเฉลี่ย / วัน:</label>
                                </div>
                                <div style="float:left; width:65%">
                                    <input type="number" class="form-control" id="levelGoal">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div style="float:left; width:35%">
                                    <label for="levelGoal">ราคาตามเป้าหมาย:</label>
                                </div>
                                <div style="float:left; width:65%">
                                    <input type="number" class="form-control" id="levelGoal">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div style="float:left; width:35%">
                                    <label for="levelGoal">ราคาตามคุณภาพ:</label>
                                </div>
                                <div style="float:left; width:65%">
                                    <input type="number" class="form-control" id="levelGoal">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div style="float:left; width:35%">
                                    <label for="levelGoal">ราคาตามขั้นตอนการทำงาน:</label>
                                </div>
                                <div style="float:left; width:65%">
                                    <input type="number" class="form-control" id="levelGoal">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function FeatchWatchListGrid() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetMasterCertListData",
                data: function (data) {
                    //var stateCode = ais('#watchlistTable')
                    //var itemstatusCode = ais('#docType').Control.dropdownlist.item.selected().value;
                    //var stateCode = ((typeof itemstatusCode != "string" ? itemstatusCode.join(',') : itemstatusCode)).toString();

                    //var fromDate = ais("#fromDate").Value();
                    //var toDate = ais("#toDate").Value();
                    var simpleObj = {
                        //REQ_NO: ais("#docNumber").Value(),
                        Take: data.page.size,
                        ////StateCode:stateCode,
                        Sort: data.sort.column,
                        OrderType: (data.sort.dir == "asc" ? 1 : 2),
                        Skip: ((data.page.current - 1) * data.page.size)
                    }
                    return { model: simpleObj };
                },
                renderObject: "CertListHistories",
                column: "HeaderCertList"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function SetDefaultValue() {
            FeatchWatchListGrid() ;
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        SetDefaultValue();
        mcs.Loadding.Close();
    });

</script>

