﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: โครงสร้างเงินเดือนพนักงาน (Built)</p>
                        </div>
                    </div>


                    <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                        <div style="top: 80px;right: 10px;position: fixed;float: right;">
                            <img id="btnOpen" width="25px" style="cursor:pointer" src="../images/file_add.png" />
                        </div>
                        <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                            <div style="position:absolute;vertical-align:middle; display: inline-block;  margin: auto;">
                                <div style="background-color:#fff;margin: 20px;">
                                    <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #598A09;"><span id="detailHeader"></span></p>
                                    <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                    <div style="padding:25px;border:1px solid #f6f6f6;">
                                        <div style="margin-top:5px;">
                                            <div class="content-box-tableStyle" id="actionlistTable">
                                                <div class="">
                                                    <table style="width:550px">
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <input type="text" class="displayNone" id="ID">
                                                                        <label for="MainType">Type Main :</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <div item-validate="MainType" class="selectStyles" id="_ddlMainType" style="width:195px">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="levelName">Level Name :</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="text" class="form-control" id="levelName">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="levelGoal">เป้าหมายเฉลี่ย / วัน:</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="number" class="form-control text-right" id="levelGoal">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="levelSalary">ราคาตามเป้าหมาย:</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="number" class="form-control  text-right" id="levelSalary">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="levelQuality">ราคาตามคุณภาพ:</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="number" class="form-control text-right" id="levelQuality">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="levelProcedure">ราคาตามขั้นตอนการทำงาน:</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="number" class="form-control text-right" id="levelProcedure">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <div style="float:left; width:45%">
                                                                        <label for="Salary">เงินเดือน :</label>
                                                                    </div>
                                                                    <div style="float:left; width:55%">
                                                                        <input type="number" class="form-control text-right" id="Salary">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                <div class="text-center" style="margin-top:20px">
                                                    <button type="button" class="button-Save" id="btnSave">Save</button>
                                                    <button type="button" class="button-Cancel" id="btnCloseAll">Close</button>
                                                </div>
                                                @** พนักงาน Traning ฐานเงินเดือน จะแสดง ฐานเงินต่อวัน*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหา : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div item-validate="SearchMainType" class="selectStyles" id="_ddlSearchMainType" style="width:195px">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                <div style="margin-top:5px;" class="col-sm-12">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                    <div class="col-sm-12" id="Export">

                                    </div>
                                    * พนักงาน Traning และ Finishing ฐานเงินเดือน จะแสดง ฐานเงินต่อวัน
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>



<script type="text/javascript">
    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetMasterLevelDataBuilt",
                data: function (data) {
                    var simpleObj = {
                        SEARCH: obj.GROUP,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)
                    }
                    return { model: simpleObj };
                },
                renderObject: "LevelBuiltHistories",
                column: "HeaderBuiltLevel"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    obj = cell;

                    window.scrollTo(0, 0);
                    mcs('#actionflowID').displayShow();
                    mcs('#block_actionID').css({ "position": "static" });
                    mcs('#btnClose').Disable(false);
                    GenMainTypeSelect();

                    var ID = cell.field["LEVEL_ID"];
                    mcs("#ID").Value(ID);

                    var docType = cell.field["TYPE_NAME"];
                    mcs('#ddlMainType').Control.dropdownlist.item.selectText(docType);

                    var levelName = cell.field["LEVEL_NAME"];
                    mcs("#levelName").Value(levelName);
                    var levelGoal = cell.field["LEVEL_GOAL"];
                    mcs("#levelGoal").Value(levelGoal);
                    var levelSalary = cell.field["LEVEL_SALARY"];
                    mcs("#levelSalary").Value(levelSalary);
                    var levelQuality = cell.field["LEVEL_QUALITY"];
                    mcs("#levelQuality").Value(levelQuality);
                    var levelProcedure = cell.field["LEVEL_PROCEDURE"];
                    mcs("#levelProcedure").Value(levelProcedure);

                    var Salary = cell.field["SALARY"];
                    mcs("#Salary").Value(Salary.replace(",", ""));

                    mcs('#detailHeader').Value("แก้ไขโครงสร้างเงินเดือนพนักงาน");
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport(obj.GROUP);
    }
    function GenExport(SEARCH) {
        ClearExport();

        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetInsertStructureBuilt?SEARCH=" + SEARCH;
        mcs('#Export').appendChild(click);
    }
    function ClearExport() {
        var element = document.getElementById("Export");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }
    function SetDefaultValue() {
        var group = mcs('#ddlSearchMainType').Control.dropdownlist.item.selected().value;
        FeatchWatchListGrid({ GROUP: group }) ;
    }
    function Add() {
        //var username = mcs("#admin-userId").Value();
        //var userSearch = mcs("#username").Value();
        //var nameSearch = mcs("#fullname").Value();
        var ID = mcs('#ID').Value();
        var Type = "U";
        if (ID == "") {
            Type = "I";
            ID == "0";
        }
        var username = mcs('#userUpdate').Value();
        var levelName = mcs("#levelName").Value();
        var levelGoal = mcs("#levelGoal").Value();
        var levelSalary = mcs("#levelSalary").Value();
        var levelQuality = mcs("#levelQuality").Value();
        var levelProcedure = mcs("#levelProcedure").Value();
        var type = mcs('#ddlMainType').Control.dropdownlist.item.selected().value;
        var Salary = mcs("#Salary").Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetMasterLevelData", data: {
                    LEVEL_NAME: levelName,
                    LEVEL_GOAL: levelGoal,
                    LEVEL_SALARY: levelSalary,
                    LEVEL_QUALITY: levelQuality,
                    LEVEL_PROCEDURE: levelProcedure,
                    USER_UPDATE: username,
                    TYPE: Type,
                    SALARY : Salary,
                    TYPE_ID: type,
                   // LEVEL_ID : ID,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                clear();
                                SetDefaultValue();
                                //FeatchAdminGridUserSource(userSearch, nameSearch);

                            }
                        });
                    }
                    else if (response.data.CODE == "99") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                            show();
                        }
                    });
                }
            });
        });

    }

    function Edit() {
        //var username = mcs("#admin-userId").Value();
        //var userSearch = mcs("#username").Value();
        //var nameSearch = mcs("#fullname").Value();
        var ID = mcs('#ID').Value();
        var Type = "U";
        if (ID == "") {
            Type = "I";
            ID == "0";
        }
        var username = mcs('#userUpdate').Value();
        var levelName = mcs("#levelName").Value();
        var levelGoal = mcs("#levelGoal").Value();
        var levelSalary = mcs("#levelSalary").Value();
        var levelQuality = mcs("#levelQuality").Value();
        var levelProcedure = mcs("#levelProcedure").Value();
        var type = mcs('#ddlMainType').Control.dropdownlist.item.selected().value;
        var Salary = mcs("#Salary").Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "SetMasterLevelDataBuilt", data: {
                    LEVEL_NAME: levelName,
                    LEVEL_GOAL: levelGoal,
                    LEVEL_SALARY: levelSalary,
                    LEVEL_QUALITY: levelQuality,
                    LEVEL_PROCEDURE: levelProcedure,
                    USER_UPDATE: username,
                    TYPE: Type,
                    SALARY: Salary,
                    TYPE_ID: type,
                     LEVEL_ID : ID,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "01") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูล', content: 'บันทึกเรียบร้อยแล้ว', type: "ok", onok: function () {
                                clear();
                                SetDefaultValue();
                                //FeatchAdminGridUserSource(userSearch, nameSearch);

                            }
                        });
                    }
                    else if (response.data.CODE == "99") {
                        mcs.PopUp({
                            header: 'การบันทึกข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {

                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถเพิ่มข้อมูลได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                            show();
                        }
                    });
                }
            });
        });

    }
    function GenMainTypeSelect() {
        mcs('#_ddlMainType').Control.dropdownlist({
            id: "ddlMainType",
            defaultValue: "-- Please Select --",
            baseClass: "process-select",
            method: "POST",
            commandData: "../UserDepartment/GetMainType",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { ALL : 3 };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });
        mcs('#_ddlMainType').displayShow();
    }
    function GenSearchMainTypeSelect() {
        mcs('#_ddlSearchMainType').Control.dropdownlist({
            id: "ddlSearchMainType",
            defaultValue: "-- Please Select --",
            baseClass: "process-select",
            method: "POST",
            commandData: "../UserDepartment/GetMainType",
            result: { value: "Text", text: "Text" },
            parameter: function () {
                return { ALL: 3 };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });
        mcs('#_ddlMainType').displayShow();
    }
    function ShowDelete(id) {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
        clear();
        mcs.PopUp({
            header: 'แจ้งเตือนลบข้อมูล', content: 'คุณต้องการลบรายการนี้ ใช่หรือไม่', type: "ok-cancel", onok: function () {
                Delete(id);
            }, oncancel: function () {
                mcs('#actionflowID').displayHide();
                mcs('#block_actionID').css({ "position": "absolute" });
                clear();
            }
        });
    }
    function Delete(id) {
        var username = mcs('#userUpdate').Value();
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "DeleteMasterLevelDataBuilt", data: {
                    LEVEL_ID: id,
                    USER_UPDATE: username,
                }
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == '01') {
                        mcs.PopUp({
                            header: 'การลบข้อมูล', content: 'ลบข้อมูลเรียบร้อยแล้ว', type: "ok", onok: function () {
                                mcs('#actionflowID').displayHide();
                                mcs('#block_actionID').css({ "position": "absolute" });

                                clear();

                                SetDefaultValue();

                            }
                        });
                    }
                    else if (response.data.CODE == '99') {
                        mcs.PopUp({
                            header: 'การลบข้อมูลไม่สำเร็จ', content: response.data.MESSAGE, type: "ok", onok: function () {
                                mcs('#actionflowID').displayHide();
                                mcs('#block_actionID').css({ "position": "absolute" });
                                clear();
                            }
                        });
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    mcs.PopUp({
                        header: 'ไม่สามารถการลบผู้ใช้ได้', content: 'กรุณาติดต่อ  ผู้ดูแลระบบ', type: "ok", onok: function () {
                            mcs('#actionflowID').displayHide();
                            mcs('#block_actionID').css({ "position": "absolute" });
                            clear();
                        }
                    });
                }
            });
        });
    }
    function show() {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);

    }
    function clear() {
        mcs("#ID").Value("");
        mcs("#levelName").Value("");
        mcs("#levelGoal").Value("");
        mcs("#levelSalary").Value("");
        mcs("#levelQuality").Value("");
        mcs("#levelProcedure").Value("");
        mcs("#Salary").Value("");

    }
    function FormValidate(b, fn) {
        mcs.formValidate({
            templete: function (elmentCon) {
                if (elmentCon != null) {
                    var imgtemp = mcs.createTag('img');
                    imgtemp.src = mcs.getImagePath() + 'icon/errorMessage.png';
                    imgtemp.style.width = '20px';
                    imgtemp.style.height = '20px';
                    imgtemp.className = (b == false ? 'hideError-animation' : 'alertError-animation');
                    return imgtemp;
                }
            }
        });

        if (b != false)
            var timeout_ = setTimeout(function () {
                mcs('.alertError-animation').foreach(function (el) {
                    mcs(el).classDelayAddOrReplace('alertError-animation', 'hideError-animation', 300);
                });
                clearTimeout(timeout_);
            }, 5000);
        if (fn) {
            fn();
        }
    }
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        GenSearchMainTypeSelect();
        SetDefaultValue();

        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    mcs('#btnClose').eventOn("click", function () {
        clear();
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnCloseAll').eventOn("click", function () {
        clear();
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnOpen').eventOn("click", function () {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
        GenMainTypeSelect();
        mcs('#detailHeader').Value("เพิ่มโครงสร้างเงินเดือนพนักงาน");
    })
    mcs('#btnSave').eventOn("click", function () {
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);

        if ( mcs('#ddlMainType').Control.dropdownlist.item.selected().value == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Type Main', type: "ok", onok: function () {
                    return;
                }
            });
        }
        else if (mcs('#levelName').Value() == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก Level Name', type: "ok", onok: function () {
                    mcs('#levelName').focus();
                    return;
                }
            });
        }
        else if (mcs('#levelGoal').Value() == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก เป้าหมายเฉลี่ย / วัน', type: "ok", onok: function () {
                    mcs('#levelGoal').focus();
                    return;
                }
            });
        }
        else if (mcs('#levelSalary').Value() == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก ราคาตามเป้าหมาย', type: "ok", onok: function () {
                    mcs('#levelSalary').focus();
                    return;
                }
            });
        }
        else if (mcs('#levelProcedure').Value() == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก ราคาตามขั้นตอนการทำงาน', type: "ok", onok: function () {
                    mcs('#levelProcedure').focus();
                    return;
                }
            });
        }
        else if (mcs('#Salary').Value() == "") {
            mcs.PopUp({
                header: 'แจ้งเตือน', content: 'กรุณาเลือก เงินเดือน', type: "ok", onok: function () {
                    mcs('#Salary').focus();
                    return;
                }
            });
        }

        else {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            var ID = mcs('#ID').Value();
            var Type = "U";
            if (ID == "") {
                Add();
            }
            else { Edit();}
        }


    });
    mcs('#btnClearSearch').eventOn("click", function () {
        GenSearchMainTypeSelect();
        SetDefaultValue();
    });
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });
    //FormValidate();
</script>
