﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MCS APPLICATION</title>
    @Styles.Render("~/lib/bower_components/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/lib/bower_components/metisMenu/dist/metisMenu.min.css")
    @Styles.Render("~/lib/dist/css/sb-admin-2.css")
    @Styles.Render("~/lib/bower_components/font-awesome/css/font-awesome.min.css")

    <script src="~/Scripts/mcs-script-3.0.1.js"></script>
    <script src="~/Scripts/Moment-2.5.1.js"></script>
</head>
<body>
    @RenderBody()
  
    <!-- jQuery -->
    <script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../lib/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../lib/dist/js/sb-admin-2.js"></script>

    <script src="../lib/dist/js/sb-admin-2.js"></script>
    <script src="~/Scripts/mcs-script-3.0.1.js"></script>
    <script src="~/Scripts/Moment-2.5.1.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    @*<script src="~/Scripts/service-request.js"></script>*@
    <script type="text/javascript">
        mcs.setHost("");
        mcs.setImagePath("images");
    </script>
</body>
</html>
