﻿@*@using  mcs.MCP.UIL.WebApp.Models*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/MCSStyleControl.less")*@
    @Styles.Render("~/Content/StyleControl.css")
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/lib/bower_components/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/lib/bower_components/metisMenu/dist/metisMenu.min.css")
    @*@Styles.Render("~/lib/dist/css/sb-admin-2.css")*@
    @Styles.Render("~/lib/bower_components/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    <script src="~/Scripts/mcs-script-3.0.1.js"></script>
    <script src="~/Scripts/Moment-2.5.1.js"></script>
    @*<script src="~/Scripts/service-request.js"></script>*@
</head>
<body>
    @*<script type="text/javascript">
        mcs.setHost("");
        mcs.setImagePath("images");
    </script>*@
    <div class="head-nav">
        <div class="head-nav-content">
            <div class="menu-icon">
                <img id="munu_berID" src="~/Images/icon/menu-ic.png" />
            </div>
           <div class="logo">
               MCS APPLICATION V.3
           </div>
            <div class="user-info">

                    <a href="../Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    @*<img src="~/Images/templete/userinfoLogon.png" id="userlogoutID" />*@
                 <input type="text" id="userUpdate" class="displayNone" />
                 @*<p class="displayNone" id="userUpdate"></p>*@ 
                    <p class="user-text hide-screen-response-480" id="userLogonID"></p>
                               
            </div>
        </div>

    </div>
    <div id="main_body_content" class="">
        @RenderBody()
    </div>
    <div id="menuID" class="menu-nav" style="display:none">
        <div class="menu-nav-block">

        </div>
        @Html.Partial("_PartialView/UserMenuLayoutPartial")
        @*<div id="menugenID"></div>*@
    </div>
    <script type="text/javascript">
        mcs.pageComplete(function () {
           mcs.Loadding.Close();
        });
        mcs('#munu_berID').eventOn("click", function () {
            mcs('#menuID').displayShow();
        });

        mcs('#menu_avaID').eventOn('mouseleave', function () {
            mcs('#menuID').displayHide();
        });
        //mcs('#userlogoutID').eventOn('click', function () {
        //    window.location.href = "../Account/";
        //});
        //window.onabort = function()
        //{
        //    alert('window.onabort')
        //}
    </script>
</body>
</html>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../lib/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../lib/dist/js/sb-admin-2.js"></script>
<script src="~/Scripts/mcs-script-3.0.1.js"></script>
<script src="~/Scripts/Moment-2.5.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*<script src="~/Scripts/service-request.js"></script>*@
<script type="text/javascript">
        mcs.setHost("");
        mcs.setImagePath("images");
</script>