﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>MCS APPLICATION</title>

    @*@Styles.Render("~/Content/MCSStyleControl.less")*@
    @Styles.Render("~/Content/StyleControl.css")
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/lib/bower_components/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/lib/bower_components/metisMenu/dist/metisMenu.min.css")
    @Styles.Render("~/lib/dist/css/sb-admin-2.css")
    @Styles.Render("~/lib/bower_components/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    <script src="~/Scripts/mcs-script-3.0.1.js"></script>
    <script src="~/Scripts/Moment-2.5.1.js"></script>
    @*<script src="~/Scripts/service-request.js"></script>*@
</head>
<body>
 
    <div id="wrapper"> 
        
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand">MCS APPLICATION V.3</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li>
                    <a href="../Account"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> รายงานสรุป<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Report/ReportSummaryWorkDayForWeek">สรุปรายวัน</a>
                                </li>
                                <li>
                                    <a href="../Report/ReportSummarySalaryDayForWeek">สรุปเงินเดือน</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> รายงานสรุปเงินเดือน<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @*<li>
                                    <a href="../Report/ReportSararyByCode">สรุปเดือนของพนักงาน</a>
                                </li>*@
                                @*<li>
                                    <a href="/Report/ReportSummaryByEmp">สรุปเงินเดือนพนักงานตามกรุ๊ป</a>
                                </li>*@
                                @*<li>
                                    <a href="../Report/ReportByFab">สรุปเงินเดือนช่างประกอบ</a>
                                </li>*@
                                <li>
                                    <a href="../Report/ReportSalaryByDay">สรุปเงินเดือนรายวัน</a>
                                </li>
                                <li>
                                    <a href="../Report/ReportSalaryByWeek">สรุปเงินเดือนรายสัปดาห์</a>
                                </li>
                                @*<li>
                                    <a href="../Report/ReportSalaryByMonth">สรุปเงินเดือนรายเดือน</a>
                                </li>*@
                                <li>
                                    <a href="../Report/ReportSalaryGroupByDay">สรุปเงินเดือนรายวันตามกรุ๊ป</a>
                                </li>
                                <li>
                                    <a href="../Report/ReportSalaryGroupByWeek">สรุปเงินเดือนรายสัปดาห์ตามกรุ๊ป</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> รายงานสรุปความผิดพลาด<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Report/ReportWorkLessGoal">แเจ้งเตือนเป้าหมาย</a>
                                </li>
                                <li>
                                    <a href="../Report/ReportNCR">สรุปผล NCR</a>
                                </li>
                                <li>
                                    <a href="../Report/ReportVT">สรุปผล VT</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                       
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> สำหรับเจ้าหน้าที่<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="../Level/InsertStructure">โครงสร้างเงินเดือน</a>
                                </li>
                                <li>
                                    <a href="../Level/InsertStructurePosition">โครงสร้างค่าตำแหน่ง</a>
                                </li>
                                <li>
                                    <a href="../Level/InsertProcess">โพรเซสงาน</a>
                                </li>
                                <li>
                                    <a href="../Level/InsertCert">Certificate</a>
                                </li>
                                @*<li>
                                    <a href="../Level/InsertCertList">Certificate ของพนักงาน</a>
                                </li>*@
                                <li>
                                    <a href="../Admin/WeekManagement">Week การทำงาน</a>
                                </li>
                                <li>
                                    <a href="../Admin/NCRManagement">บันทึก NCR</a>
                                </li>
                                <li>
                                    <a href="../Admin/VTManagement">บันทึก VT</a>
                                </li>
                                <li>
                                    <a href="../Admin/GoalManagement">ปรับเป้าหมายพนักงาน</a>
                                </li>
                                <li>
                                    <a href="../Admin/AdjustGoalHistory">ประวัติปรับเป้าหมายพนักงาน</a>
                                </li>
                                <li>
                                    <a href="../Admin/PlusManagement">บันทึกงานเพิ่มเติม</a>
                                </li>
                                <li>
                                    <a href="../Admin/MinusManagement">บันทึกหักเงินเดือน</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="main_body_content">
            @RenderBody()
        </div>
        <div id="menuID" class="menu-nav" style="display:none">
            <div class="menu-nav-block">

            </div>
            @*@Html.Partial("_PartialView/UserMenuLayoutPartial")*@
            @*<div id="menugenID"></div>*@
        </div>
    </div>
    

</body>
</html>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../lib/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../lib/dist/js/sb-admin-2.js"></script>
<script src="~/Scripts/mcs-script-3.0.1.js"></script>
<script src="~/Scripts/Moment-2.5.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
@*<script src="~/Scripts/service-request.js"></script>*@
<script type="text/javascript">
        mcs.setHost("");
        mcs.setImagePath("images");
 </script>