﻿
<div class="col-lg-12">
    <span id="EmpCode" class="displayNone"></span>
    <span id="Year" class="displayNone"></span>
    <span id="Month" class="displayNone"></span>
    <span id="Week" class="displayNone"></span>
    <span id="Type" class="displayNone"></span>
    <div style="margin-top:35px;">
        <div class="content-detail-tableStyle" id="DetailTable">

        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function FeatchPrtGrid(obj) {
        var header;
        mcs('#DetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../App/GetPartDetail",
                data: function (data) {
                    var simpleObj = {
                        YEAR: obj.YEAR,
                        MONTH: obj.MONTH,
                        WEEK : obj.WEEK,
                        EMP_CODE: obj.EMP_CODE,
                        TYPE_STORE: obj.TYPE,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "PartHistories",
                column: "HeaderPart"
            },
            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        var EmpCode = $('#EmpCode').text();
        var Year = $('#Year').text();
        var Month = $('#Month').text();
        var Week = $('#Week').text();
        var Type = $('#Type').text();
        FeatchWorkGrid({ EMP_CODE: EmpCode, YEAR: Year,MONTH:Month,WEEK:Week,TYPE:Type });
        mcs.Loadding.Close();
    });
</script>
