﻿/*@color-green: #5F931A;*/ /*#74A433;*/
/*@color-green: #231f20;*/ /*ดำ*/
/*@color-green :#383637;*/ /*เทา*/
/*@color-green :#E64193;*/ /*ชมพู*/
@color-green: #3A3A3A;
/*@color-green :#A8A8A8;*/ /*เทาอ่อน*/
/*@color-green:#83693C;*/ /*น้ำตาล*/
@bg-color: #8dc63f;
/*@bg-color: #ACC42A;*/
/*#8CC62B*/

@borderColor: #E7E7E7;
@input-height: 18px;


.screen-response(@width: 850px;@margin: auto;) {
    width: @width;
    margin: @margin;
    margin-top: 75px;
}

.screen-response-768(@width: 450px;@margin: auto;) {
    width: @width !important;
    margin: @margin;
    margin-top: 75px;
}

.box-dock-panel(@top: 0px;@bottom: 0px;@right: 0px;@left: 0px;) {
    top: @top;
    bottom: @bottom;
    right: @right;
    left: @left;
}

.hide-screen-response-768 {
}

.hide-screen-response-480 {
}

@media (max-width: 320px) {
}

@media (max-width: 580px) {
    .hide-screen-response-480 {
        display: none !important;
    }

    .line-approve-content table td {
        display: inline !important;

        .line-approve-bar-none {
            display: inline-block;
        }

        .line-approve-bar-active {
            display: inline-block;
        }

        .line-approve-title-active {
            p {
                font-size: 13px !important;
            }
        }

        .line-approve-title-none {
            p {
                font-size: 13px !important;
            }
        }
    }

    ol.creatorTab {
        li {
            .box-text-tile {
                display: none !important;
            }
        }
    }

    table.listTab {
        .groupBox {
            width: 100px !important;
        }
    }
}

@media (max-width: 768px) {
    .hide-screen-response-768 {
        display: none !important;
    }

    .userrequest-form {
        .screen {
            .screen-response-768;
        }
    }

    .manager-approver-form {
        .screen {
            .screen-response-768;
        }
    }

    .manager-todo-form {
        .screen {
            .screen-response-768;
        }
    }

    .management-todo-form {
        .screen {
            .screen-response-768;
        }
    }

    .market-budget-todo-form {
        .screen {
            .screen-response-768;
        }
    }


    .line-approve-content table td {
        img {
            width: 40px !important;
        }

        .line-approve-title-active {
            p {
                font-size: 9px;
            }
        }

        .line-approve-title-none {
            p {
                font-size: 9px;
            }
        }

        .line-approve-bar-none {
            width: 15px !important;
        }

        .line-approve-bar-active {
            width: 15px !important;
        }
    }





    /*.line-approve {

        .line-approve-active {
            .status {
                width: 90px !important;
                height: 70px !important;

                p, span {
                    font-size: 11px !important;
                }
            }
        }

        .line-approve-current {

            .status {
                width: 110px !important;
                height: 110px !important;

                p, span {
                    font-size: 11px !important;
                }
            }
        }

        .line-approve-none {
            .status {
                width: 90px !important;
                height: 50px !important;

                p, span {
                    font-size: 11px !important;
                }
            }
        }
    }*/
}

.breaker {
    width: 98%;
    display: inline-block;
    height: 1px;
    background-color: #F3F3F3;
    margin: auto;
}

.breaker-noneline {
    width: 98%;
    display: inline-block;
    height: 1px;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: #ebf0ec;*/
    /*background-color: #8EC63F;*/
    /*background-color: @bg-color;*/
    font-family: 'db_helvethaicaais_x55_regular';

    > .head-nav { /*background-color: #fff;*/
        /*background-color:#e7e7e7;*/
        /*border-bottom: 1px solid #E1E1E1;*/
        /*width: 100%;
        height: 50px; 
        background-color: #F0F0F0; 
        border-bottom: 4px solid #669820;*/
        width: 100%;
        height: 50px;
        /*background-color: #F0F0F0;*/
        background-color: #fff;
        border-bottom: 4px solid #231f20;
        position: fixed;
        top: 100;
        left: 0;
        right: 0;
        z-index: 9999;

        .head-nav-content {
            position: relative;

            .menu-icon {
                vertical-align: top;
                display: inline-block;
                width: 50px;

                > img {
                    cursor: pointer;
                    width: 44px;
                    margin-left: 9px;
                    margin-top: 4px;
                }
            }

            .logo {
                /*display: none;*/
                display: inline-block;
                margin-top: -4px;
                background-color: #FFF;
                height: 54px;
                margin-left: 6px;

                > img {
                    width: 100px;
                    margin: 8px;
                }
            }

            .user-info {
                /*float: right;
                display: inline-block;
                text-align: right;
                position: relative;*/
                text-align: right;
                float: right;
                display: inline-block;

                > img {
                    width: 70%;
                    margin-right: 11px;
                    margin-top: 8px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .user-text {
                    /*position: absolute;
                    top: 0px;
                    right: 48px;
                    width: 110px;
                    text-align: center;*/
                    top: 0px;
                    right: 50px;
                    text-align: center;
                    position: absolute;
                }
            }
        }
    }

    > .menu-nav {
        position: fixed;
        top: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        border-left: 7px solid #000;
        z-index: 9999;

        .menu-nav-block {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.5;
        }

        .menu-nav-avalible {
            min-width: 190px;
            /*background-color: #423221;*/
            /*background-color: #271A0C;*/
            /*background-color: #313131;*/
            background-color: #111;
            position: absolute;
            top: 0px;
            bottom: 0px;
            /*border-right: 5px solid #fff;*/
            p {
                color: #fff;
                font-size: 16px;
                margin: 10px 0;
                /*font-family:sans-serif;*/
                text-align: center;

                a {
                    text-decoration: none;
                    /*color:white;*/
                    /*font-family:sans-serif;*/
                    color: #6BAD0F;
                }
            }

            .home-menu-nav {
                margin-top: -3px;
                padding: 5px 15px;
                /*border-bottom: 2px solid #fff;*/
                p {
                    color: #AB9677;
                    font-size: 30px;
                }
            }

            .main-menu-nav {
                padding: 5px 15px;
                border-bottom: 2px solid #373737;
                position: relative;
                background-color: #232323;

                p {
                    a {
                        color: #fff ;
                    }
                }

                .menu-nav-unit {
                    border-radius: 50px;
                    /*background-color: #FFF;
                    color: #6BA40F;*/
                    /*background-color: #7B7B7B;*/
                    background-color: #7B7B7B;
                    color: #FFF;
                    width: 17px;
                    height: 17px;
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    right: 15px;
                    top: 21px;
                }

                .sub-menu-nav {
                    display: none;


                    p {
                    }

                    &:hover {
                        background-color: #f8f8f8;
                    }
                }

                &:hover {
                    cursor: pointer;
                    background-color: #e9e9e9;
                    /*background-color: #1e150b;*/
                    /*margin-right: -27px;*/
                    padding-top: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 0px;

                    p {
                        color: #414141 !important;
                    }
                    a{ color: #414141 !important;}
                }

                &:hover > .sub-menu-nav {
                    cursor: pointer;
                    /*display: inherit !important;*/
                    padding-top: 1px;
                    padding-bottom: 1px;
                    /*background-color: #6BAD0F;
                    border-bottom: 5px solid #FFF;*/
                    background-color: #fff;
                    border-bottom: 1px solid #78ac31;
                    margin-left: -15px;
                    margin-right: -15px;
                    padding-left: 15px;
                    padding-right: 15px;

                    p {
                        color: #000;
                        margin-top: 5px !important;
                        margin-bottom: 5px !important;

                        a {
                            font-size: 16px;
                            color: #6BA40F !important;
                        }
                    }

                    &:hover {
                        background-color: @bg-color;

                        p {


                            a {
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    /*background-color:#fff;*/
    width: 100%;
    height: 100%;
    margin-top: 60px;
    position: relative;
}

.form-templete {
    background-color: #fff;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}


.form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;

    .title-form {
        width: 240px;
        height: 90px;
        /*background-color: #F0F0F0;*/
        background-color: #313131;
        border-bottom: 5px solid #6BAD0F;
        text-align: center;
        margin: -125px auto auto;
        border-radius: 50%;
        padding-top: 115px;
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 9998;
        z-index: 9998;

        .title-form-content {
            /*color: #482915;*/
            color: #fff;
            font-weight: 600;
            font-size: 22px;
            margin: 0;
        }

        .title-form-content-sub {
            /*color: #482915;*/
            color: #ACC42A;
            font-weight: 600;
            font-size: 15px;
            margin: 0;
        }
    }
}

input[type="text"] {
    height: @input-height;
}



table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-spacing: 0;
}
/*#region form */
.userrequest-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response(@width:900px;);
    }
}

.user-watchlist-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response;
    }
}

.market-budget-todo-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response;
    }
}

.manager-todo-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response;
    }
}

.manager-approver-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response;
    }
}

.management-todo-form {
    padding: 20px;
    border-bottom: 1px solid #F6F6F6;
    box-sizing: border-box;
    display: block;
    position: relative;

    .screen {
        .screen-response;
    }
}

/*#endregion */
.content-box-rows {
    display: inline-block;
}

.content-box-rows-inline {
    display: inline;
}

/*#region form screen */
.full-rows {
    display: inherit !important;
}

.full-column {
    display: inherit !important;
}

span.title-head, p.title-head {
    color: #F5391A !important;
    font-size: 16px;
}

p.title-head-green {
    color: #0FC511 !important;
    font-size: 16px;
}

.content-box-column {
    display: inline-block;

    .title-head {
        display: inline-block;

        span {
            color: @color-green !important;
            font-size: 16px;
        }
    }

    .content-text {
        display: inline-block;

        span {
            /*color: #8C5526 !important;*/
            color: #683D19 !important;
            font-size: 16px;
            margin-left: 2px;
        }
    }
    /*#region userRequest Class */
    .user-view-request-title {
        width: 203px;

        span {
            color: #3EBD1E !important;
        }
    }

    .user-view-request-content {
        width: 240px;
    }

    .user-view-request-remark {
        width: 75%;

        input[type=text] {
            width: 90%;
            color: #757575;
        }
    }

    .user-view-request-select {
        width: 192px;
    }

    .userrequest-title {
        width: 203px;
    }

    .userrequest-content {
        width: 240px;
    }

    .userrequest-remark {
        width: 75%;

        input[type=text] {
            width: 90%;
            color: #757575;
        }
    }

    .userrequest-select {
        width: 192px;
    }
    /*#endregion */
    .user-watchlist-title {
        width: 170px;
    }

    .user-watchlist-content {
        width: 200px;
    }

    .user-watchlist-remark {
        width: 80%;
    }

    .user-watchlist-select {
        width: 188px;
    }
    /*#endregion */
    /*#region market-budget-todo */
    .market-budget-todo-title {
        width: 170px;
    }

    .market-budget-todo-content {
        width: 200px;
    }

    .market-budget-todo-remark {
        width: 80%;
    }

    .market-budget-todo-select {
        width: 188px;
    }
    /*#endregion */
    /*#region manager-todo */
    .manager-todo-title {
        width: 170px;
    }

    .manager-todo-content {
        width: 200px;
    }

    .manager-todo-remark {
        width: 80%;
    }

    .manager-todo-select {
        width: 191px;
    }
    /*#endregion */
    /*#region management-todo */
    .management-todo-title {
        width: 170px;
    }

    .management-todo-content {
        width: 200px;
    }

    .management-todo-remark {
        width: 80%;
    }

    .management-todo-select {
        width: 191px;
    }
    /*#endregion */
    /*#region managerApprove Class */
    .managerApprove-title {
        width: 170px;
    }

    .managerApprove-sub-title {
        width: 100px;
        display: inline-block;
    }

    .managerApprove-content {
        min-width: 200px;
    }

    .managerApprove-remark {
        width: 80%;
    }
    /*#endregion */
    /*#region managementApprove Class */
    .managementApprove-title {
        width: 170px;
    }

    .managementApprove-content {
        min-width: 200px;
    }

    .managementApprove-remark {
        width: 80%;
    }
    /*#endregion */
}


/*#endregion */



.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}


ul.tab-box-nav {
    list-style-type: none;
    margin: 30px 0px 0px;
    padding: 0;
}

ul.tab-box-nav li {
    display: inline;
}

ul.tab-box-nav li a {
    color: #482915;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 5px;
    text-decoration: none;
    min-width: 100px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

ul.tab-box-nav li a:hover {
    background-color: #f1f0ee;
}

ul.tab-box-nav li.tab_active a {
    background-color: #F1F0EE;
    border: 1px solid #F1F0EE;
    border-top: 3px solid #669820;
}

.tab-box {
    .tab-box-content {
        background-color: #f1f0ee;
        padding: 15px;
    }
}



input[type=text] {
    padding: 5px 5px;
    margin: 2px 0px;
}

.action-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    /* background-color: #DCE3D6;
    border-top: 5px solid #FFF;
    text-align: center;*/
    background-color: #322920;
    border-top: 5px solid #FFF;
    text-align: center;
    border-bottom: 5px solid #000;
    z-index: 1;

    > input[type=button] {
        padding: 10px 10px;
        min-width: 120px;
        /*background-color: #FFF;
        border:1px solid #F3F3F3;*/
        margin: 0px;
        font-weight: 600;
        font-size: 15px;
    }

    .action-savedraf {
        background-color: #ACC42A;
        color: #fff;
        border: 1px solid #ACC42A;
        width: 20%;
        cursor: pointer;
        /*min-height: 80px;
        min-width: 100px;
        display: inline-block;
        width: 45%;*/
        &:hover {
            background-color: #fff;
            color: #ACC42A;
            border: 1px solid #fff;
        }
    }

    .action-save {
        background-color: #6BAD0F;
        color: #fff;
        border: 1px solid #6BAD0F;
        width: 20%;
        cursor: pointer;
        /*min-height: 80px;
        min-width: 100px;
        display: inline-block;
        width: 45%;*/
        &:hover {
            background-color: #fff;
            color: #6BAD0F;
            border: 1px solid #fff;
        }
    }

    .action-approve {
        background-color: #6BAD0F;
        color: #fff;
        border: 1px solid #6BAD0F;
        width: 20%;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #6BAD0F;
            border: 1px solid #fff;
        }
    }


    .action-edit {
        background-color: #877145;
        min-height: 80px;
        min-width: 100px;
        display: inline-block;
        width: 45%;
    }

    .action-reject {
        background-color: #F5391A;
        color: #fff;
        border: 1px solid #F5391A;
        width: 20%;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #F5391A;
            border: 1px solid #fff;
        }
    }

    .action-cancel {
        background-color: #dc2d0d;
        border: 1px solid #dc2d0d;
        display: inline-block;
        width: 20%;
        cursor: pointer;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #dc2d0d;
            border: 1px solid #fff;
        }
    }

    .action-back {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #fff;
        }
        /*min-height: 80px;
        min-width: 100px;
        display: inline-block;
        width: 9.5%;*/
    }
}

.action-find-search {
    background-color: #527e0a;
    border: 1px solid #6BA40F;
    padding: 5px 15px;
    color: #fff;
    border-bottom: 4px solid #344f06;
    min-width: 120px;

    &:hover {
        background-color: #6BA40F;
        border: 1px solid #6BA40F;
        color: #fff;
        border-bottom: 4px solid #598316;
        cursor: pointer;
    }
}

.action-find-cancel {
    background-color: #72d6ed;
    border: 1px solid #EFEFEF;
    padding: 5px 15px;
    color: #fff;
    border-bottom: 4px solid #D8D8D8;
    min-width: 120px;

    &:hover {
        background-color: #51bcd4;
        border-bottom: 4px solid #b6b3b3;
        color: #fff;
        cursor: pointer;
    }
}

.content-box-tableStyle {
    > table {
        /*border-collapse: collapse;*/
        width: 100%;

        tr th, record-item th {
            color: #598A09;
            border-bottom: 2px solid #C1D517;
            font-size: 16px;
            font-weight: 500;
        }

        tr th.orderboth, record-item th.orderboth {
            background-image: url('../images/icon/arrowb.png');
            /*background-image: url("../images/icon/sort_both.png");*/
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

        tr th.orderdesc, record-item th.orderdesc {
            /*background-image: url("../images/sort_desc.png");*/
            background-image: url('../images/icon/arrowu.png');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

        tr th.orderasc, record-item th.orderasc {
            /*background-image: url("../images/sort_asc.png");*/
            background-image: url('../images/icon/arrowd.png');
            background-repeat: no-repeat;
            background-position: right center;
           cursor: pointer;
        }

        tr td, record-item td {
            border-bottom: 1px solid #CAD289;
            padding: 3px 7px;
            color: #5D574F;
            font-size: 15px;
        }


        tr.record_EVEN, record-item.record_EVEN {
            cursor: pointer;

            &:hover {
                /*background-color: #8ECF13;*/
                background-color: #eeeeee;
            }

            &:hover > td {
                /*color: #fff !important;*/
            }
        }

        tr.record_OOD, record-item.record_OOD {
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }

            &:hover > td {
                /*color: #fff !important;*/
            }
        }

        tfoot {
            div.footbox {
                margin-top: 5px;
                border-top: 1px solid #C1D517;
                width: 100%;
                text-align: left;

                span.footbox_rowtotal {
                    color: #6F573D;
                    font-size: 11px;
                }

                span.LightTable_pageNume {
                    width: 35px;
                    height: 27px;
                    display: inline-block;
                    text-align: center;
                    padding-top: 8px;
                    color: #675e57;
                    font-size: 14px;

                    &:hover {
                        color: #fff;
                        background-color: #6BA40F;
                        cursor: pointer;
                    }
                }

                span.LightTable_pageNumeActive {
                    color: #fff;
                    background-color: #6BA40F;
                    cursor: pointer;
                }

                span.LightTable_pageNume_Prvious {
                    height: 27px;
                    width: 75px;
                    display: inline-block;
                    text-align: center;
                    padding-top: 8px;
                    color: #8d8989;
                    font-size: 13px;

                    &:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }
                }

                span.LightTable_pageNume_Next {
                    height: 27px;
                    width: 75px;
                    display: inline-block;
                    text-align: center;
                    padding-top: 8px;
                    color: #8d8989;
                    font-size: 13px;

                    &:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }
                }

                span.LightTable_pageNume_First {
                    color: #b1b1b1;

                    &:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }
                }

                span.LightTable_pageNume_Last {
                    color: #b1b1b1;

                    &:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }
                }
            }

            tr td {
                padding: 0 !important;
            }
        }
    }
}
/*#region PopUp-Dialog */
.popup-dialog {
    display: none;
    position: fixed;
    z-index: 9;
    .box-dock-panel;

    .popup-box {
        height: 183px;
        width: 50%;
        margin: auto;
        position: fixed;
        .box-dock-panel;
        /*padding: 4px;*/
        /*border: 1px solid #8ECF13;*/
        table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border: 1px solid #8ecf13;

            .content {
                background-color: rgb(255, 255, 255);
                /*border: 1px solid #82CF13;*/
                border-bottom: none;

                > div {
                    height: 100px;
                }

                p {
                }

                input[type=text] {
                }

                .popup-title {
                    margin-left: 8px;
                    color: #5D5237;
                }

                textarea {
                    width: 99.2%;
                    height: 100%;
                    margin-left: -0.1%;
                    margin: auto;
                    border: none;
                    resize: none;
                }
            }

            .action {
                height: 50px;
                background-color: #8ECF13;
                /*border: 1px solid #8ECF13;*/
                table.popup-button {
                    width: 100%;
                    border-collapse: collapse;
                    cursor: pointer;

                    span {
                        color: #fff !important;
                    }
                }

                .popup-button-ok {
                    text-align: center;
                    width: 90%;

                    &:hover {
                        background-color: #fff;
                    }

                    &:hover > span {
                        color: #8ECF13 !important;
                    }
                }

                .popup-button-cancel {
                    width: 10%;
                    min-width: 50px;
                    background-color: #F81C0E;
                    text-align: center;

                    &:hover {
                        background-color: #fff;
                    }

                    &:hover > span {
                        color: #F81C0E !important;
                    }

                    span {
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}


/*#endregion */
/*#region Box-Screen */
.box-screen-open {
    animation: unitBoxActive linear 300ms;
}

.box-screen-close {
    animation: unitBoxClose ease-out 300ms;
}

/*#region PopUp-Dialog */
/*#region line-approve */
.line-approve-content {
    text-align: center;
    margin: 15px 0;

    table {
        border-collapse: collapse;
        width: 100%;

        td {
            text-align: center;
            display: inline-block;

            ol {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                }
            }

            .line-approve-bar-current {
                height: 5px;
                width: 70px;
                background-color: #f53f3f;

                p {
                    color: #e84c10;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0;
                    padding: 0;
                }
            }

            .line-approve-title-current {
                p {
                    color: #e84c10;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .line-approve-bar-active {
                height: 5px;
                width: 70px;
                background-color: #96C03D;

                p {
                    color: #96C03D;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0;
                    padding: 0;
                }
            }

            .line-approve-title-active {
                p {
                    color: #96C03D;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .line-approve-title-none {
                p {
                    color: #AEAEAE;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .line-approve-bar-none {
                height: 5px;
                width: 70px;
                background-color: #d1d1d1;

                p {
                    color: #FBA535;
                    font-size: 13px;
                    line-height: 15px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

/*#endregion */


.inPut-textBox-small input[type=text] {
    border-left: 1px solid @borderColor;
    border-right: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    border-top: 1px solid @borderColor;
    min-width: 180px;
}

.selectStyles {
    margin: 2px;

    div {
        /*border: 1px solid #E2F99E;*/
        display: inline-block;
        padding: 2px 0px;
        position: relative;

        select {
            margin: 0px;
            padding: 0px 7px;
            background-color: #EFEFEF;
            border: medium none;
            color: #482929;
            font-weight: 500;
            cursor: pointer;
            font-size: 17px;
        }

        span {
            display: inline-block;
            /*height: 30px;*/
            width: 33px;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            background-color: #69a90e;
            background-image: url('../images/icon/arrow.png');
            background-size: 9px 9px;
            background-repeat: no-repeat;
            background-position: center;
            height: 34px;
            margin-top: 2px;
        }

        option {
            /*background-color:#d0de6d;*/
            border: 1px solid #F2F2F2;
            padding: 5px;
            background-color: #fff;
        }
    }

    .dropdownlist {
        min-width: 240px;
        background-color: #F3F3F3;

        p {
            margin: 0;
            padding: 2px 5px;
            font-size: 14px;
        }

        .current-active {
            /*background-color: #EFEFEF;*/
            height: 30px;
            cursor: pointer;
            padding-left: 5px;
            color: #4f4f4f;
        }

        .option-box {
            display: none;
            position: absolute;
            top: 35px;
            left: 0px;
            right: 0px;
            background-color: #fff;
            border: 1px solid #f3f3f3;
            z-index: 1;

            p.option {
                text-align: left;
            }
        }

        .open {
            background-color: #e1e2d8;

            p {
                border-bottom: 1px solid #dddddd;
                animation: dropDownOpen 200ms ease-in-out forwards;
                color: #4b4747;

                &:hover {
                    cursor: pointer;
                    color: #f1f0ee;
                    background-color: #4b4747;
                }
            }
        }
    }

    .buttondown {
        cursor: pointer;
        height: 38px;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
/*#region List-Expan */
.list-expan {


    .list-expan-header {
        ol.firstChild {
            border-top: 1px solid #ebebeb;
        }
        /*ol.lastChild
        {
          
    }*/
        ol {
            padding: 10px 0px;
            border-bottom: 1px solid #ebebeb;

            li {
                list-style: none;
                display: inline-block;

                p.expan-title {
                    margin: 0;
                    padding: 0;
                    /*color:#211d1d;*/
                    /*color:#313131;*/
                    color: #4F3C28;
                    font-size: 18px;
                }

                p.expan-content {
                    margin: 0;
                    padding: 0;
                    color: #c8c8c8;
                }
            }

            li.expan-button {
                width: 15%;
                text-align: center;

                img {
                    width: 54px;
                    cursor: pointer;
                }
            }

            li.expan-box-content {
            }
        }
    }

    .list-expan-detail {
        display: none;

        div.expan-content-detail {
            display: none;
        }

        .expan-sub-content-lv1 {
        }

        .expan-sub-content-lv2 {
            > .content-box-column {
                > .title-head {
                    span {
                        padding-left: 15px;
                    }
                }
            }
        }

        .expan-sub-content-lv3 {
            > .content-box-column {
                > .title-head {
                    span {
                        padding-left: 30px;
                    }
                }
            }
        }

        .expan-sub-content-lv4 {
            > .content-box-column {
                > .title-head {
                    span {
                        padding-left: 45px;
                    }
                }
            }
        }

        .expan-sub-content-lv5 {
            > .content-box-column {
                > .title-head {
                    span {
                        padding-left: 60px;
                    }
                }
            }
        }
    }
}
/*#region BoxTab */

ol.creatorTab {
    border: 1px solid #e9e9e9;
    display: block;
    /*width: 1000px;*/
    padding: 10px;
    margin: auto;

    li {
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px;

        .box-header {
            width: 200px;
            height: 150px;
            /*border-right: 1px solid #e9e9e9;*/
            text-align: center;
        }

        .box-text-tile {
            font-size: 25px;
            color: #78D422;
            margin-top: 50px;
            display: inline-block;
            font-weight: bold;
        }

        .box-view {
            display: inline-block;
        }
    }
}


/*#endregion */


/*#endregion */


/*#region autocomplete */

.autocomplete {
    position: relative;

    input[type=text] {
    }

    .autocomplete-box {
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #ffffff;
        /*border-left: 1px solid #EDEDED;
        border-right: 1px solid #EDEDED;
        border-bottom: 1px solid #EDEDED;
        border-top :1px solid;*/
        border: 1px solid #C6C6C6;
        box-shadow: 2px 3px 3px #aaa;
        padding: 5px;

        p, span, div, label, input {
            text-align: left;
            margin: 0px;
            padding: 2px 5px;
            border-bottom: 1px solid #F1EFEF;
            font-size: 14px;
            color: #B0A8A1;

            &:hover {
                cursor: pointer;
                color: #f1f0ee;
                background-color: #4b4747;
            }
        }

        .auto-selectd {
            color: #f1f0ee;
            background-color: #4b4747;
            cursor: pointer;
        }
        /*padding: 2px 5px;*/
        /*top:@input-height;*/
    }
}

/*#endregion */

/*#region Form_Request */

.cal_calendar {
    border: 1px solid black;
    padding: 1px;
    background-color: #4594ff;
    width: 300px;
    margin: auto;
    height: 246px;
}

.cal_calendar th {
    border: 1px solid black;
    background-color: #ffffff;
    width: 36px;
}

.cal_calendar td {
    border: 1px solid black;
    background-color: #ffffff;
    text-align: center;
    width: 36px;
    height: 36px;
}

.cal_today {
    color: #ff0000;
    font-weight: bold;
}

.cal_days_bef_aft {
    color: #5a779e;
}



table.listTab {
    width: 100%;
}

table.listTab .groupBox {
    border-right: 1px solid #E9E9E9;
    width: 200px;
}

table.listTab .content-box {
    text-align: left;
}

table.planTable {
    width: 100%;
    height: 100%;
    margin: 5px 0;
    background-color: #F6F6F6;
}

table.planTable tr td {
    border: 1px solid #F6F6F6;
}

table.planTable tr td p {
    padding: 0;
    margin: 0;
}

table.planTable table {
    width: 100%;
    height: 100%;
}


/*#endregion */
/*#region Plan */
.plantext-none {
    color: #F8E28A;
}

.plantext-active {
    color: #000;
    font: bolder;
    /*#323131
       color F00*/
}

.checkplanbox {
    cursor: pointer;
    position: absolute;
    left: -2px;
    right: -2px;
    background-color: #F9D749;
    padding: 15px 10px;
    top: -18px;
    height: 34px;
    font-size: 20px;
}

.checkplanbox:hover {
    background-color: #e1a10a;
}


/*#endregion */



.budgetTotal {
    text-align: right;

    span {
    }

    .budgetTotalVal {
        color: #b4b4b4;
    }

    .budgetTotalName {
        color: #3DCE2E;
    }
}

.parentBoxJanDec {
    background-color: #fafafa;
    position: fixed;
    z-index: 99999;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;


    .janDecBox {
        width: 350px;
        background-color: #fff;
        margin: auto;
        box-shadow: 2px 2px 3px #E0E0E0;
        position: relative;

        .closeJanDec {
            position: absolute;
            top: 0px;
            right: 5px;
            background-color: #fff;
            width: 60px;
            height: 25px;
            padding: 1px;
            color: #989898;
            border: 1px solid #8EC840;
        }

        .confirmJanDec {
            background-color: #96CB5E;
            border: 1px solid #F6F6F6;
            padding: 7px;
            color: #FFF;
            font-size: 19px;
        }

        p.titleType {
            border-bottom: 1px solid #ddd;
            padding: 10px 15px;
            border-bottom: 1px solid #F0F0F0;
            color: #fff;
            font-size: 25px;
            margin: 5px;
            background-color: #8EC840;
        }

        .janHead {
            color: #8EC840;
        }

        table.tableJanDec {
            width: 100%;

            tr {
                td {
                    border-bottom: 1px solid #F5F5F5;

                    .janDecVal {
                        border: 1px solid #ddd;
                    }
                }
            }
        }
    }
}

.alertError-animation {
    animation: alertError linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes alertError {
    0% {
        transform: rotate(0deg) scaleX(2.00) scaleY(2.00);
    }

    10% {
        transform: rotate(-20deg) scaleX(0.80) scaleY(0.80);
    }

    20% {
        transform: rotate(-20deg) scaleX(0.80) scaleY(0.80);
    }

    30% {
        transform: rotate(20deg) scaleX(2.20) scaleY(2.20);
    }

    40% {
        transform: rotate(-20deg) scaleX(1.40) scaleY(2.40);
    }

    50% {
        transform: rotate(20deg) scaleX(1.20) scaleY(1.20);
    }

    60% {
        transform: rotate(-20deg) scaleX(1.40) scaleY(1.40);
    }

    70% {
        transform: rotate(20deg) scaleX(1.40) scaleY(1.40);
    }

    80% {
        transform: rotate(-20deg) scaleX(1.40) scaleY(1.40);
    }

    90% {
        transform: rotate(20deg) scaleX(1.50) scaleY(1.50);
    }

    100% {
        transform: rotate(0deg) scaleX(1.50) scaleY(1.50);
    }
}


@keyframes dropDownOpen {
    0% {
        height: 0px;
    }

    100% {
        height: 27px;
    }
}

@keyframes unitBoxClose {
    0% {
        transform: translate(0px0px);
    }

    100% {
        /*transform:scale(1,1);*/
        transform: translate(0px,-200px);
    }
}

@keyframes unitBoxActive {
    0% {
        /*transform:scale(0.5,0.5);*/
        transform: translate(0px,-200px);
        /*transform:scale(0.1,0.1);*/
    }

    25% {
    }

    50% {
        transform: translate(0px,-50px);
    }

    75% {
        /*transform:scale(1,1);*/
    }

    100% {
        /*transform:scale(1,1);*/
        transform: translate(0px,0px);
    }
}
/*.line-approve {
    p {
        margin: 0;
        padding: 0;
    }

    margin: auto;
    text-align: center;

    ol {
        margin: 0;
        padding: 0;

        > li {
            list-style: none;
        }
    }

    .content {
        background-color: #f2f2f2;
        color: #482915;
        height: 35px;
    }

    .line-approve-active {
        vertical-align: bottom;
        display: inline-block;

        .status {
            background-color: rgb(79, 60, 40);
            width: 130px;
            height: 70px;
            color: #FFF;

            p, span {
                font-size: 13px;
            }
        }
    }

    .line-approve-current {
        vertical-align: bottom;
        display: inline-block;

        .pic {
        }

        .status {
            background-color: rgb(172, 196, 42);
            width: 150px;
            height: 110px;
            color: #FFF;

            p, span {
                font-size: 13px;
            }
        }
    }

    .line-approve-none {
        vertical-align: bottom;
        display: inline-block;

        .status {
            background-color: #DDD;
            width: 130px;
            height: 50px;
            color: #E9821D;

            p, span {
                font-size: 13px;
            }
        }
    }
}*/

@font-face {
    font-family: "db_helvethaicaais_x55_regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/db_helvethaicaais_x_v3.2-webfont.woff") format("woff");
}
