﻿
.arm-grid-40 {
    width: 38px;
}

.arm-grid-80 {
    width: 78px;
}

.arm-grid-120 {
    width: 118px;
}

.arm-grid-160 {
    width: 158px;
}

.arm-grid-200 {
    width: 198px;
}

.arm-grid-280 {
    width: 278px;
}

.arm-grid-320 {
    width: 318px;
}

.arm-grid-400 {
    width: 398px;
}

.arm-grid-managerApprove-row {
    width: 570px;
    height: 30px;
    padding: 4px 0px 4px 0px;
}

.arm-height {
    float: left;
    height: 30px;
}

.arm-width-max {
    width: 100%;
    min-width: 168px;
}

.arm-managerApprove-header {
    min-width: 168px;
}

.arm-managerApprove-content {
    min-width: 198px;
}

.arm-border {
    border: solid 1px darkkhaki;
    /*padding: 0px 3px 0px 3px;*/
}

.arm-padding-control {
    padding: 4px 0px 4px 0px;
}

.arm-padding-right {
    padding-right: 8px;
}

.fieldchange-table {
    background-color: white;
}

    .fieldchange-table tr td {
        width: 100px;
    }

    .fieldchange-table tr th {
        background-color: #acc42a;
        color: white !important;
    }

.padding-level1 {
    padding-left: 20px !important;
    text-align: left;
    font-weight: bold;
    /*border-bottom: none !important;*/
        border-top: 1px solid #cad289;
    border-right: 1px solid #cad289;
}

.padding-level2 {
    padding-left: 20px !important;
    text-align: left;
    font-weight: bold;
    border-bottom: none !important;
    border-top: 1px solid #cad289;
}

.padding-level3 {
    padding-left: 20px !important;
    border-left: 1px solid #cad289;
    /*border-bottom: 1px solid #cad289;*/
}
.noborder{
    border:none !important;
}
.headColor{
    color:#598a09;
    padding-left:15px;
}

.row td {
    height: 50px;
}

.row th {
    height: 50px;
}

tr td {
    text-align: center;
}

tr th {
    border-bottom: 2px solid black !important;
}

@media screen and (max-width: 570px) {
    .arm-grid-managerApprove-row {
        width: 420px;
    }
}

table caption {
    font-weight: bold;
    border-bottom: 2px solid;
    padding-bottom: 30px;
    font-size: 18px;
}
