﻿body {
    margin: 0;
    padding: 0;
    font-family: 'db_helvethaicaais_x55_regular';
}
.content-box-tableStyle > table  > tbody > tr > td {
font-size:14px;
color:#8F8686
}
 
.content-box-tableStyle > table 
{
    /*border-collapse: collapse;*/
    width: 100%;
    

}

.content-box-tableStyle > table >  thead> tr> th, record-item th {
            color: #1870bb;
            border-bottom: 2px solid #032a3d;
            border-right: 1px solid #dbddde;
            border-left: 1px solid #dbddde;
            border-top: 2px solid #032a3d;
            font-size: 14px; 
            font-weight: bold;
            padding-bottom : 5px;
            padding-left:5px;
            text-align:center;
}

.content-box-tableStyle > table > thead> tr > th.orderboth, record-item th.orderboth {
            background-image: url('../images/icon/arrowb.png');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

.content-box-tableStyle > table > thead> tr > th.orderdesc, record-item th.orderdesc {
            background-image: url('../images/icon/arrowu.png');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

.content-box-tableStyle > table >  thead > tr > th.orderasc, record-item th.orderasc {
            /*background-image: url("../images/sort_asc.png");*/
            background-image: url('../images/icon/arrowd.png');
            background-repeat: no-repeat;
            background-position: right center;
           cursor: pointer;
        }

.content-box-tableStyle > table > tbody>tr td, record-item td {
            border-bottom: 1px solid #83d2fa;
            border-right: 1px solid #dbddde;
            border-left: 1px solid #dbddde;
            padding: 3px 7px;
            color: #5D574F;
            font-size: 14px;
        }

.content-box-tableStyle > table >tbody> tr.record_EVEN, record-item.record_EVEN {
        cursor: pointer;
    }
.content-box-tableStyle > table >tbody> tr.record_EVEN:hover {
                /*background-color: #8ECF13;*/
                background-color: #eeeeee;
            }

.content-box-tableStyle >  table >tbody> tr.record_EVEN:hover  > td {
                /*color: #fff !important;*/
            }


.content-box-tableStyle > table >tbody> tr.record_OOD, record-item.record_OOD {
        cursor: pointer;
    }
.content-box-tableStyle > table >tbody> tr.record_OOD:hover {
                /*background-color: #8ECF13;*/
                background-color: #f5f5f5;
            }

.content-box-tableStyle >  table >tbody> tr.record_OOD:hover  > td {
                /*color: #fff !important;*/
            }

.content-box-tableStyle > table > tfoot > tr > td > div.footbox {
        margin-top: 5px;
        border-top: 1px solid #83d2fa;
        border-bottom: 1px solid #83d2fa;
        padding-bottom:5px;
        margin-bottom: 5px;
        width: 100%;
        text-align: left;
    }
.content-box-tableStyle > table > tfoot > tr > td > div.footbox>div> span.footbox_rowtotal {
                    color: #6F573D;
                    font-size: 12px;
                }

.content-box-tableStyle > table > tfoot > tr>td> div.footbox> div> span.LightTable_pageNume {
    width: 35px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #675e57;
    font-size: 14px;
}
.content-box-tableStyle > table > tfoot >tr>td>div.footbox> div>span.LightTable_pageNume  :hover {
                        color: #fff;
                        background-color: #6BA40F;
                        cursor: pointer;
                    }
                
.content-box-tableStyle > table > tfoot  >tr>td>div.footbox> div>             span.LightTable_pageNumeActive {
                    color: #fff;
                    background-color: #83d2fa;
                    cursor: pointer;
                }

.content-box-tableStyle > table > tfoot > tr > td > div.footbox > div > span.LightTable_pageNume_Prvious {
    height: 27px;
    width: 75px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #8d8989;
    font-size: 13px;
}
.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_Prvious:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div >  span.LightTable_pageNume_Next {
    height: 27px;
    width: 75px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #8d8989;
    font-size: 13px;
}
.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div >span.LightTable_pageNume_Nex :hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_First {
    color: #b1b1b1;
}
.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div >   span.LightTable_pageNume_First :hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-box-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_Last {
    color: #b1b1b1;
}
.content-box-tableStyle > table > tfoot > tr > td > div.footbox > div >span.LightTable_pageNume_Last :hover {
        color: #4b4747;
        /*background-color: #4e463f;*/
        cursor: pointer;
    }


.content-box-tableStyle > table > tfoot > tr > td  {
    padding: 0 !important;
}

.dropdownlist {
    min-width: 195px;
    background-color: #F3F3F3;
}
.dropdownlist > p {
            margin: 0;
            padding: 2px 5px;
            font-size: 14px;
        }
.current-active {
            /*background-color: #EFEFEF;*/
            height: 30px;
            cursor: pointer;
            padding-left: 5px;
            color: #4f4f4f;
}

.option-box {
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    z-index: 200;
}
.option-box > p.option {
        text-align: left;
}

.open {
    background-color: #e1e2d8;
}

.open > p.option {
        border-bottom: 1px solid #dddddd;
        animation: dropDownOpen 200ms ease-in-out forwards;
        color: #4b4747;
    }
.open > p.option:hover {
            cursor: pointer;
            color: #f1f0ee;
            background-color: #4b4747;
 }

.buttondown {
        cursor: pointer;
        height: 38px;
        top: 0;
        right: 0;
        bottom: 0;
    }
.buttonNone
{
    padding: 0;
    border: none;
    background: none;
    color: #4f6b72; 
    text-decoration: none;
    font-weight: 300;
    text-decoration: underline;

}
.management-todo-select {
        width: 191px;
}
.process-select {
        width: 100px;
}
.g-check {
    
    vertical-align:initial;
    text-align:right;
}
.g-checkbox {
    
    vertical-align:initial;
    text-align:center;
}
.label-check {
    font-weight:400;
}
parentNCR.NCRBox.table {
    width: 100%;
}
parentNCR.VT.table {
    width: 80%;
}
parentNCR.NCRBox.table.tr {
    border-bottom: 1px solid #F5F5F5;
}
parentNCR.NCRBox > table > tr > td {
    border-bottom: 1px solid #F5F5F5;
    
}
.maintemVal {
      border: 1px solid #ddd;
      width:99%;
      vertical-align:initial; 
      text-align:right;
       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 13px;
}
.maintemValNoBorder {
      border: 1px none #ddd;
      width:40px;
      vertical-align:initial; 
      text-align:right;
      background-color:#fff;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
      padding-bottom: 8px;
      padding-top: 8px;
}
.maintemValNoBorder100 {
      border: 1px none #ddd;
      width:100%;
      vertical-align:initial; 
      text-align:right;
      background-color:#fff;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
      padding-bottom: 8px;
      padding-top: 8px;
}
.headerBorder {
     border-left: 1px solid #4b4747;border-right: 1px solid #4b4747;border-bottom: 2px solid #4b4747;border-top: 2px solid #4b4747;
     padding-bottom: 8px;
     padding-top: 8px;
     padding-left: 5px;
}
.trBorder {
border-bottom: 1px solid #a6a7a1;
padding-bottom:4em;
}
.tdBorder {
    border-right: 1px solid #b1b1b1;border-left: 1px solid #b1b1b1;border-bottom: 1px solid #b1b1b1;
    padding-left: 5px;
    padding-right: 5px;
}
.maintemValNoBorder > input[type="text"]:disabled {
     background-color:#ccc
}
.parentNCR {

}
.parentNCR.NCRBox {
    border-bottom: 1px solid #F5F5F5;
    width :70%
 }
parentNCR.NCRBox .closeNCR {
            position: absolute;
    top: 0px;
    right: 5px;
    background-color: #fff;
    width: 60px;
    height: 25px;
    padding: 1px;
    color: #989898;
    border: 1px solid #8EC840;
}

parentNCR.NCRBox.confirmNCR {
    background-color: #96CB5E;
    border: 1px solid #F6F6F6;
    padding: 7px;
    color: #FFF;
    font-size: 19px;
}

parentNCR.NCRBox p.titleType {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid #F0F0F0;
    color: #fff;
    font-size: 25px;
    margin: 5px;
    background-color: #8EC840;
}

.NcrHead {
    color: #2c2828;
    vertical-align:initial; 
    text-align:center;
}
.NcrHeadDetail {
    color: #514f4f;
    vertical-align:initial; 
    text-align:center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;

}
.tdNcr {
      vertical-align:initial; 
      text-align:center;
}

.tdNcrHeader {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight:600;
      vertical-align:initial; 
      text-align:center;
}
.tdNcrHeaderDetail {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight:600;
    vertical-align:initial; 
    text-align:left;
}

.numVal {
      vertical-align:initial; 
      text-align:right;
}

.menu-nav {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    border-left: 7px solid #000;
    z-index: 9999;
}
.menu-nav-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}

.menu-nav-avalible {
    min-width: 250px;
    background-color:#dddddd;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.menu-nav-avalible > p {
    color: #dddddd;
    font-size: 16px;
    margin: 10px 0;
    /*font-family:sans-serif;*/
    text-align: center;
}
 .menu-nav-avalible > p >a {
text-decoration: none;

color: #6BAD0F;
                }

.home-menu-nav {
    margin-top: -3px;
    padding: 5px 10px;
     border-bottom: 2px solid #373737;
}
.home-menu-nav > p {
        color: #AB9677;
        font-size: 20px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.main-menu-nav {
    padding: 5px 10px;
    border-bottom: 2px solid #373737;
    position: relative;
    background-color: #dddddd;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 .main-menu-nav> p >a {
    color: #fff ;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

 .menu-nav-unit {
border-radius: 50px;

background-color: #7B7B7B;
color: #FFF;
width: 17px;
height: 17px;
display: inline-block;
text-align: center;
position: absolute;
right: 15px;
top: 21px;
 }

.sub-menu-nav {
    display: none;
}

.sub-menu-nav > p :hover {
    background-color: #dddddd;
}


    .sub-menu-nav:hover {
        cursor: pointer;
        background-color: #dddddd;
        /*background-color: #1e150b;*/
        /*margin-right: -27px;*/
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
    }
               .sub-menu-nav:hover>     p {
                        color: #414141 !important;
                    }
          .sub-menu-nav:hover>     p>          a{ color: #414141 !important;
                                                     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          }


            .sub-menu-nav:hover > p > a :hover > .sub-menu-nav {
                cursor: pointer;
                /*display: inherit !important;*/
                padding-top: 1px;
                padding-bottom: 1px;
                /*background-color: #6BAD0F;
                    border-bottom: 5px solid #FFF;*/
                background-color: #dddddd;
                border-bottom: 1px solid #78ac31;
                margin-left: -15px;
                margin-right: -15px;
                padding-left: 15px;
                padding-right: 15px;
                   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            }

                .sub-menu-nav:hover > p > a :hover > .sub-menu-nav > p {
                    color: #000;
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                       font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                }
              
            .sub-menu-nav:hover > p > a :hover > .sub-menu-nav>p>          a {
                            font-size: 16px;
                            color: #6BA40F !important;
                        }


                .sub-menu-nav:hover > p > a :hover > .sub-menu-nav > p > a :hover {
                    background-color: #dddddd;
                }
                      .sub-menu-nav:hover > p > a :hover > .sub-menu-nav > p > a :hover>         p >a {

                                color: #fff !important;
                            }
.head-nav {
    width: 100%;
    height: 50px;
    /*background-color: #F0F0F0;*/
    background-color: #fff;
    border-bottom: 4px solid #231f20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.head-nav-content {
    position: relative;
}
    .head-nav-content .menu-icon {
        vertical-align: top;

        /*display: inline-block;*/
        width: 50px;
    }
  .head-nav-content   .menu-icon           > img {
                    cursor: pointer;
                    width: 44px;
                    margin-left: 9px;
                    margin-top: 4px;
                }


.logo {
    top: 10px;
    left: 80px;
    text-align: center;
    position: absolute;
    font-size:20px;
    font-weight:600;
}
 .logo> img {
width: 100px;
margin: 8px;
}


.user-info {
    text-align: right;
    float: right;
    display: inline-block;
         margin-right: 11px;
        margin-top: 8px;
     
}
    .user-info > img {
        width: 70%;
        margin-right: 11px;
        margin-top: 8px;
    }
        .user-info > img             :hover {
                        cursor: pointer;
                    }
            

                .user-text {
                    font-size:14px;
                    font-weight:600;
                    top: 25px;
                    right: 11px;
                    text-align: center;
                    position: absolute;
                }
.title-form {
    width: 500px;
    height: 90px;
    /*background-color: #F0F0F0;*/
    /*background-color: #313131;
    border-bottom: 5px solid #6BAD0F;
    text-align: left;
    margin: -125px auto auto;
    border-radius: 50%;
    padding-top: 115px;
    position: fixed;*/
    left: 0px;
    right: 0px;
    z-index: 9998;
    z-index: 9998;
    
}
        .title-form-content {
            /*color: #482915;*/
            text-transform:uppercase;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            padding-top:60px;
        }

        .title-form-content-sub {
            text-transform:uppercase;
            /*color: #482915;*/
            color: #293442;
            font-weight: 600;
            font-size: 20px;
            margin: 0;
        }

.button-Save {
        border: 1px solid #a6a7a1;
        background-color: #a6a7a1;
        color: #fff;
        border-bottom: 2px solid #A19999;
        color: #fff;
        text-align:center;
        cursor: pointer;
        padding: 4px 15px;
        width: 120px;
        margin-right: 4px;
        margin-top: 3px;
        font-size: 16px;
         height:30px;
}

.button-Save:hover {
        background-color: #fff;
        color: #a6a7a1;
        border-bottom: 3px solid #a6a7a1;
 }
.button-Cancel {
        border: 1px solid #fee7e7;
        background-color: #fee7e7;
        color: #fff;
        border-bottom: 2px solid #A19999;
        color: #8d8989;
        text-align:center;
        cursor: pointer;
        padding: 4px 15px;
        width: 120px;
        margin-right: 4px;
        margin-top: 3px;
        font-size: 16px;
        height:30px;
}

.button-Cancel:hover {
        background-color: #fff;
        color: #a6a7a1;
        border-bottom: 3px solid #a6a7a1;
 }
.text-right 
{
    text-align:right;
}
.text-full
{
    width:100%
}
.displayNone{
    display: none;
}
.divEmpty {
    margin:auto;background-color: #FFF;vertical-align:initial;text-align:center;
}

.selectStyles {
    margin: 2px;
}
.selectStyles > div
{
    /*border: 1px solid #E2F99E;*/
    display: inline-block;
    padding: 2px 0px;
    position: relative;
}
.selectStyles > div >  select {
            margin: 0px;
            padding: 0px 7px;
            background-color: #EFEFEF;
            border: medium none;
            color: #482929;
            font-weight: 500;
            cursor: pointer;
            font-size: 17px;
}

.selectStyles > div >  select >  span {
            display: inline-block;
            /*height: 30px;*/
            width: 33px;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            background-color: #69a90e;
            background-image: url('../images/icon/arrow.png');
            background-size: 9px 9px;
            background-repeat: no-repeat;
            background-position: center;
            height: 34px;
            margin-top: 2px;
}

 .selectStyles > div >  select >  span  >   option {
            /*background-color:#d0de6d;*/
            border: 1px solid #F2F2F2;
            padding: 5px;
            background-color: #fff;
        }
  
 .content-detail-tableStyle > table  > tbody > tr > td {
font-size:12px;
color:#8F8686
}
 
.content-detail-tableStyle > table 
{
    /*border-collapse: collapse;*/
    width: 100%;
    

}

.content-detail-tableStyle > table >  thead> tr> th, record-item th {
            color: #1870bb;
            border-bottom: 2px solid #032a3d;
            border-right: 1px solid #dbddde;
            border-left: 1px solid #dbddde;
            border-top: 2px solid #032a3d;
            font-size: 12px; 
            font-weight: bold;
            padding-bottom : 5px;
            padding-left:5px;
            text-align:center;
}

.content-detail-tableStyle > table > thead> tr > th.orderboth, record-item th.orderboth {
            background-image: url('../images/icon/arrowb.png');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

.content-detail-tableStyle > table > thead> tr > th.orderdesc, record-item th.orderdesc {
            background-image: url('../images/icon/arrowu.png');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
        }

.content-detail-tableStyle > table >  thead > tr > th.orderasc, record-item th.orderasc {
            /*background-image: url("../images/sort_asc.png");*/
            background-image: url('../images/icon/arrowd.png');
            background-repeat: no-repeat;
            background-position: right center;
           cursor: pointer;
        }

.content-detail-tableStyle > table > tbody>tr td, record-item td {
            border-bottom: 1px solid #83d2fa;
            border-right: 1px solid #dbddde;
            border-left: 1px solid #dbddde;
            padding: 3px 7px;
            color: #5D574F;
            font-size: 12px;
        }

.content-detail-tableStyle > table >tbody> tr.record_EVEN, record-item.record_EVEN {
        cursor: pointer;
    }
.content-detail-tableStyle > table >tbody> tr.record_EVEN:hover {
                /*background-color: #8ECF13;*/
                background-color: #eeeeee;
            }

.content-detail-tableStyle >  table >tbody> tr.record_EVEN:hover  > td {
                /*color: #fff !important;*/
            }


.content-detail-tableStyle > table >tbody> tr.record_OOD, record-item.record_OOD {
        cursor: pointer;
    }
.content-detail-tableStyle > table >tbody> tr.record_OOD:hover {
                /*background-color: #8ECF13;*/
                background-color: #f5f5f5;
            }

.content-detail-tableStyle >  table >tbody> tr.record_OOD:hover  > td {
                /*color: #fff !important;*/
            }

.content-detail-tableStyle > table > tfoot > tr > td > div.footbox {
        margin-top: 5px;
        border-top: 1px solid #83d2fa;
        border-bottom: 1px solid #83d2fa;
        padding-bottom:5px;
        margin-bottom: 5px;
        width: 100%;
        text-align: left;
    }
.content-detail-tableStyle > table > tfoot > tr > td > div.footbox>div> span.footbox_rowtotal {
                    color: #6F573D;
                    font-size: 12px;
                }

.content-detail-tableStyle > table > tfoot > tr>td> div.footbox> div> span.LightTable_pageNume {
    width: 35px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #675e57;
    font-size: 12px;
}
.content-detail-tableStyle > table > tfoot >tr>td>div.footbox> div>span.LightTable_pageNume  :hover {
                        color: #fff;
                        background-color: #6BA40F;
                        cursor: pointer;
                    }
                
.content-detail-tableStyle > table > tfoot  >tr>td>div.footbox> div>             span.LightTable_pageNumeActive {
                    color: #fff;
                    background-color: #83d2fa;
                    cursor: pointer;
                }

.content-detail-tableStyle > table > tfoot > tr > td > div.footbox > div > span.LightTable_pageNume_Prvious {
    height: 27px;
    width: 75px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #8d8989;
    font-size: 12px;
}
.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_Prvious:hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div >  span.LightTable_pageNume_Next {
    height: 27px;
    width: 75px;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    color: #8d8989;
    font-size: 12px;
}
.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div >span.LightTable_pageNume_Nex :hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_First {
    color: #b1b1b1;
}
.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div >   span.LightTable_pageNume_First :hover {
                        color: #4b4747;
                        /*background-color: #4e463f;*/
                        cursor: pointer;
                    }


.content-detail-tableStyle > table > tfoot >tr > td > div.footbox > div > span.LightTable_pageNume_Last {
    color: #b1b1b1;
}
.content-detail-tableStyle > table > tfoot > tr > td > div.footbox > div >span.LightTable_pageNume_Last :hover {
        color: #4b4747;
        /*background-color: #4e463f;*/
        cursor: pointer;
    }


.content-detail-tableStyle > table > tfoot > tr > td  {
    padding: 0 !important;
}
.T100 {
    width:100%;
}
.T150 {
    width:150%;
}