﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: ตารางการหัก VT , NCR , DESING , ALERT</p>
                        </div>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">เลือก Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div style="width:350px">
                                                <div item-validate="week" class="selectStyles" id="_ddlWeek">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                   
                                    <div class="col-sm-12 text-center">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12 displayNone" style="margin-bottom:20px;">
                                        <div class="col-sm-2">
                                            <label for="txtDate">ค้นหาตามกรุ๊ป : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div style="width:350px">
                                                <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div style="margin-top:45px;" id="weekID">
                               
                                   
                                </div>
                                <div class="col-sm-12 text-center" id="Export">

                                </div>
                              
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeek({ month: month, year: year });
        });
    });

    function GenWeek(obj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "../UserDepartment/GetHeaderWeek",
            result: { value: "Value", text: "Text" },
            parameter: function () {
                return { MONTH: obj.month, YEAR: obj.year, ALL: 0 };
            },

        });
        mcs('#_ddlWeek').displayShow();

    }

    function ClearTab()
    {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenGroup() {
        //mcs('#_ddlGroup').Control.dropdownlist({
        //    id: "ddlGroup",
        //    defaultValue: "Select All",
        //    baseClass: "management-todo-select",
        //    method: "POST",
        //    commandData: "GetGroupName",
        //    result: { value: "DEPT_NAME", text: "DEPT_NAME" },
        //    parameter: function () {
        //        return { DEPT_CODE: 'P03', ALL: 0 };
        //    },

        //});
        //mcs('#_ddlGroup').displayShow();

    }

    function GenTabWeek(maxWeek) {
        if (maxWeek.length <= 0 ) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.className = 'divEmpty';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            spanText.innerHTML = 'ไม่พบข้อมูล';
            divText.appendChild(spanText)
            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);
        }
        else {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'container col-sm-12';
            divTab.style = 'width: 100%;';

            var ulRows = mcs.createTag('ul');
            ulRows.className = 'nav nav-tabs';
      
            for (var loop = 0; loop < maxWeek.length; loop++) {
                var liRows = mcs.createTag('li');
                liRows.setAttribute('onclick', 'GetTab("' + 'Week' + maxWeek[loop].DEPT_CODE + 'Table' + '","' + maxWeek[loop].DEPT_NAME + '");');
               // liRows.attributes('onclick','Alert();');
                if (maxWeek[loop].DEPT_CODE == 'P08')
                    liRows.className = 'active';

                liRows.id = 'Week' + maxWeek[loop].DEPT_CODE;
                var aHref = mcs.createTag('a');
                // a.onclick = 'Alert();';
                aHref.href = '#' + maxWeek[loop].DEPT_NAME;
                aHref.setAttribute('data-toggle', 'tab');
                aHref.text = maxWeek[loop].DEPT_NAME;
                liRows.appendChild(aHref);
                ulRows.appendChild(liRows);
            }
            var divRowsTab = mcs.createTag('div');
            divRowsTab.className = 'tab-content';
            for (var loop = 0; loop < maxWeek.length; loop++) {
                var divCol = mcs.createTag('div');
                if (maxWeek[loop].DEPT_CODE == 'P08')
                { divCol.className = 'tab-pane active'; }
                else
                { divCol.className = 'tab-pane'; }

                divCol.id = maxWeek[loop].DEPT_CODE;
                var divColSub1 = mcs.createTag('div');
                divColSub1.style = 'padding:25px;border:1px solid #f6f6f6;';
                var divColSub2 = mcs.createTag('div');
                divColSub2.style = 'margin-top:5px;';
                var divColSub3 = mcs.createTag('div');
                divColSub3.className = 'content-detail-tableStyle';
                divColSub3.id = 'Week' + maxWeek[loop].DEPT_CODE + 'Table';
                liRows.appendChild(aHref);
                divColSub2.appendChild(divColSub3);
                divColSub1.appendChild(divColSub2);
                divCol.appendChild(divColSub1);
                divRowsTab.appendChild(divCol);
            }
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = maxWeek.length;
            span.id = 'maxWeek';
            divTab.appendChild(ulRows);
            divTab.appendChild(divRowsTab);
            divTab.appendChild(span)
            mcs('#weekID').appendChild(divTab);
        }

    }

    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWeekDateGrid(obj) {
        mcs.Loadding.Show();
        mcs('#' + obj.WEEKNAME).Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryForCut",
                data: function (data) {
                    var simpleObj = {
                        YEAR: obj.YEAR,
                        MONTH: obj.MONTH,
                        WEEK: obj.WEEK,
                        DEPT_CODE: obj.DEPT_CODE,
                        SEARCH : obj.SEARCH,
                        TYPE_STORE: "106",
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        ALL:1

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailShowSummaryHistories",
                column: "HeaderShowSummary"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport(obj.MONTH, obj.YEAR, obj.WEEK, obj.DEPT_CODE, obj.SEARCH);
        mcs.Loadding.Close();
    }


    function SetDefaultValue() {
     
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = "";
        var group = "";//mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
        
        var maxWeek = $('#maxWeek').text();
        if (maxWeek > 0) {
            var current = $('.nav-tabs .active')[0].id;
            var loop = current.toString().replace('Week', '');
            var name = current + 'Table';
        
            var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
            if (week == '') week = 0;
            //var loop = 1;
            //var name = 'Week1Table';
            FeatchWeekDateGrid({ WEEKNAME: name, MONTH: month, YEAR: year, WEEK: week, DEPT_CODE: 'AUTOGAS1', SEARCH: search });
          
        }
         
       
    }

    function GetTab(weekname,weeksub) {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = "";
        var group = "";//mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
 
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (week == '') week = 0;

        FeatchWeekDateGrid({ WEEKNAME: weekname, MONTH: month, YEAR: year, WEEK: week, DEPT_CODE: weeksub, SEARCH: search });
      
    }

    function GetWeek() {


        mcs.service({ method: "POST", commandData: "../UserDepartment/GetGroupName", data: { DEPT_CODE: 'P01', ALL: 0 } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTabWeek(Model);

                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }


    mcs('#btnClearSearch').eventOn("click", function () {
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        mcs('#txtSearch').Value('');
        GenGroup();
        SetDefaultValue();
    });

    mcs('#btnSearch').eventOn("click", function () {
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "../UserDepartment/CheckSession", data: {}
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "55") {
                        mcs.PopUp({
                            header: 'Session Expire', content: 'Please Login in !!!', type: "ok", onok: function () {
                                var tUrl = '@Url.Action("../Session", "")';
                                window.location.href = tUrl;
                            }
                        });
                    }
                    else {
                     
                        ClearTab();
                        GetWeek();
                        SetDefaultValue();
                        mcs.Loadding.Close();
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    @*mcs.PopUp({
                        header: 'Session Expire', content: 'Please Login in !!!', type: "ok", onok: function () {
                            var tUrl = '@Url.Action("../Session", "")';
                            window.location.href = tUrl;
                        }
                    });*@
                }
            });
        });

       
    });

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        GenGroup();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        GenWeek({ year: year, month: month });
        GetWeek();
        $('#btnSearch').click();
        mcs.Loadding.Close();
    });

    function GenExport(MONTH, YEAR, WEEK, DEPT_CODE, SEARCH, TYPE_STORE) {

        ClearExport();
       
            var click = mcs.createTag('a');
            click.innerHTML = "Export Excel";
            click.href = "../Export/ExportSummarySalaryDayForWeekWeld?MONTH=" + MONTH + "&YEAR=" + YEAR + "&WEEK=" + WEEK + "&DEPT_CODE=" + DEPT_CODE + "&SEARCH=" + SEARCH + "&TYPE_STORE=P03_S";
            mcs('#Export').appendChild(click);
        
    }

    function ClearExport() {
        var element = document.getElementById("Export");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenExportDetail(id, month, year, week, type) {
        ClearExportDetail();

        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetPartDetail?ID=" + id + "&MONTH=" + month + "&YEAR=" + year + "&WEEK=" + week + "&TYPE=" + type + "";
        mcs('#ExportDetail').appendChild(click);
    }

    function ClearExportDetail() {
        var element = document.getElementById("ExportDetail");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenExportDetailOther(id, month, year, week, type) {
        ClearExportDetailOther();
        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetOtherDetail?ID=" + id + "&MONTH=" + month + "&YEAR=" + year + "&WEEK=" + week + "&TYPE=" + type + "";
        mcs('#ExportDetail').appendChild(click);
    }

    function ClearExportDetailOther() {
        var element = document.getElementById("ExportDetail");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

</script>
