﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: สรุปเงินพนักงานเจียร์</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">

                            <div style="padding:5px;border:1px solid #f6f6f6;width:70%" class="center-block">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:100px" />

                                    </div>
                                </div>
                                <div style="margin-top:45px;" class="content-detail-tableStyle" id="weekID">


                                </div>

                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        $('#btnSearch').click();

        mcs.Loadding.Close();
    });

    function FeatchWeekDateGrid(obj) {

        mcs('#weekID').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryForGrinder",
                data: function (data) {
                    var simpleObj = {
                        YEAR: obj.YEAR,
                        MONTH: obj.MONTH,
                        WEEK: obj.WEEK,
                        DEPT_CODE: obj.DEPT_CODE,
                        SEARCH: obj.SEARCH,
                        TYPE_STORE: "106",
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        ALL: 1

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailShowSummaryHistories",
                column: "HeaderShowSummary"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: false, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
      
    }

  

    function SetDefaultValue() {
   
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = mcs('#txtSearch').Value();
        var group = "";//mcs('#ddlGroup').Control.dropdownlist.item.selected().value;


        FeatchWeekDateGrid({ MONTH: month, YEAR: year, WEEK: 0, DEPT_CODE: group, SEARCH: search });
 
    }
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });

</script>