﻿@*@using mcs.MCP.UIL.WebApp.Views*@

<div class='menu-nav-avalible' id='menu_avaID' style="overflow-y:scroll;min-width: 260px;">
    <div class='home-menu-nav'>
        <p>MainMenu</p>
    </div>
</div>
<script type="text/javascript">

    function RenderMenu() {
        mcs.service({
            method: "GET",
            commandData: "../UserMenuContent/GenerateUserMenu"
        }, {
            success: function (response) {

                if (response.status == 200) {

                    var userfullname = response.data.UserFullName;
                    var userUpdate = response.data.UserUpdate;
                    mcs('#userLogonID').Value(userfullname);
                    mcs('#userUpdate').Value(userUpdate);
                    var model = { MenuFeatureModels: response.data.MenuFeatureModels }

                    for (var menuItem = 0; menuItem < model.MenuFeatureModels.length; menuItem++) {
                        var divEleMain = mcs.createTag('div');
                        divEleMain.className = 'main-menu-nav';
                        //<div class='' id="menuRender">
                        if (model.MenuFeatureModels[menuItem].Link == "" || model.MenuFeatureModels[menuItem].Link == null) {
                            if (model.MenuFeatureModels[menuItem].MenuItemFeatureModels) {
                                if (model.MenuFeatureModels[menuItem].MenuItemFeatureModels.length > 0) {
                                    var spEle = mcs.createTag('img');
                                    spEle.className = 'menu-nav-unit';
                                    spEle.src = '../images/icon/pushMenu.png';//.innerHTML = model.MenuFeatureModels[menuItem].MenuItemFeatureModels.length;
                                    divEleMain.appendChild(spEle);
                                    @*<span class='menu-nav-unit'>@memuItem.MenuItemFeatureModels.Count</span>

                                 <p>@memuItem.MenuName</p>*@
                                    var paraEle = mcs.createTag('p');
                                    paraEle.innerHTML = model.MenuFeatureModels[menuItem].MenuName;
                                    divEleMain.appendChild(paraEle);
                                    for (var item_ = 0; item_ < model.MenuFeatureModels[menuItem].MenuItemFeatureModels.length; item_++) {
                                        var subDivEle = mcs.createTag('div');
                                        subDivEle.className = 'sub-menu-nav';
                                        var subParaEle = mcs.createTag('p');
                                        var subALink = mcs.createTag('a');
                                        subALink.innerHTML = model.MenuFeatureModels[menuItem].MenuItemFeatureModels[item_].MenuName;
                                        subALink.href = mcs.getWebPath() + model.MenuFeatureModels[menuItem].MenuItemFeatureModels[item_].ActionName + '/' + model.MenuFeatureModels[menuItem].MenuItemFeatureModels[item_].Link;
                                        subParaEle.appendChild(subALink);
                                        subDivEle.appendChild(subParaEle);
                                        divEleMain.appendChild(subDivEle);



                                        @*<div class="sub-menu-nav">
                                     <p>@Html.ActionLink(item.MenuName, item.Link,item.ActionName)</p>
                                 </div>*@

                                        //  mcs('#menuRender').appendChild(null);
                                    }
                                    divEleMain.onclick = function () {
                                        var sunmenu = this.querySelectorAll('.sub-menu-nav');
                                        for (var sbm = 0; sbm < sunmenu.length; sbm++)
                                        {
                                            sunmenu[sbm].style.display = 'block';
                                        }

                                    }

                                    divEleMain.onmouseleave = function () {
                                        var sunmenu = this.querySelectorAll('.sub-menu-nav');
                                        for (var sbm = 0; sbm < sunmenu.length; sbm++) {
                                            sunmenu[sbm].style.display = 'none';
                                        }
                                    }

                                } else {
                                    var pLink = mcs.createTag('p');
                                    var aLink = mcs.createTag('a');
                                    aLink.innerHTML = model.MenuFeatureModels[menuItem].MenuName;
                                    aLink.href = mcs.getWebPath() + model.MenuFeatureModels[menuItem].ActionName + "/" + model.MenuFeatureModels[menuItem].Link;
                                    pLink.appendChild(aLink);
                                    divEleMain.appendChild(pLink);
                                }
                            } else {
                                var pLink = mcs.createTag('p');
                                var aLink = mcs.createTag('a');
                                aLink.innerHTML = model.MenuFeatureModels[menuItem].MenuName;
                                aLink.href = mcs.getWebPath() + model.MenuFeatureModels[menuItem].ActionName + "/" + model.MenuFeatureModels[menuItem].Link;
                                pLink.appendChild(aLink);
                                divEleMain.appendChild(pLink);
                            }
                        }
                        else {
                            var pLink = mcs.createTag('p');
                            var aLink = mcs.createTag('a');
                            aLink.innerHTML = model.MenuFeatureModels[menuItem].MenuName;
                            aLink.href = mcs.getWebPath() + model.MenuFeatureModels[menuItem].ActionName + "/" + model.MenuFeatureModels[menuItem].Link;
                            pLink.appendChild(aLink);
                            divEleMain.appendChild(pLink);
                        }
                        mcs('#menu_avaID').appendChild(divEleMain);
                    }
                }

            }, error: function (err) {

            }
        });

    }
    RenderMenu();
</script>
