﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปเงินเดือนพนักงาน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class='input-group date' id='txtDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });
    });



    function FeatchWatchListGrid() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryByWork",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        Sort: "EMP_CODE",//data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: "05",
                        YEAR: "2016",
                        WEEK: 1,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailGoalSumHistories"
            },
            column: [
                { head: "รหัสพนักงาน", field: "EMP_CODE", cansort: true },
                { head: "ชื่อ - นามสกุล", field: "FULL_NAME", cansort: true },
                { head: "กรุ๊ป", field: "DEPT_NAME", cansort: true },
                { head: "เป้าหมาย", field: "EMP_GOAL", cansort: true },
                { head: "PART", field: "PART", cansort: false },
                { head: "OTHER", field: "OTHER", cansort: false },
                { head: "REVISE", field: "REVISE", cansort: false },
                { head: "WELD", field: "WELD", cansort: false },
                { head: "DIMENSION", field: "DIMENSION", cansort: false },
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function SetDefaultValue() {
        FeatchWatchListGrid();
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
    //    GenCostCenter({ MONTH: '05', YEAR: '2016' });
        //    InitControl({ MONTH: '05', YEAR: '2016' });
        SetDefaultValue();
        mcs.Loadding.Close();
    });
</script>
