﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปเงินเดือนรายวัน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class='input-group date' id='txtDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label for="_ddlGroupName">Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:150px">
                                            <div item-validate="Week" class="form-group" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>

                                <div style="margin-top:35px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">รายละเอียดการทำงาน </p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="margin: 0px 0px 0px 25px;font-size: 14px;padding: 15px 25px;font-weight: bolder;color: #464040;">
                                                    <label id="EmpCode"></label>
                                                </div>
                                                <div id="exTab2" class="container">
                                                    <ul class="nav nav-tabs">
                                                        <li id="Part" class="active">
                                                            <a href="#1" data-toggle="tab">Part</a>
                                                        </li>
                                                        <li id="Other">
                                                            <a href="#2" data-toggle="tab">Other</a>
                                                        </li>
                                                        <li id="Revise">
                                                            <a href="#3" data-toggle="tab">Revise</a>
                                                        </li>
                                                    </ul>

                                                    <div class="tab-content ">
                                                        <div class="tab-pane active" id="1">
                                                            <div style="padding:25px;border:1px solid #f6f6f6;">
                                                                <div style="margin-top:5px;">
                                                                    <div class="content-box-tableStyle" id="PartTable">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="2">
                                                            <div style="padding:25px;border:1px solid #f6f6f6;">
                                                                <div style="margin-top:5px;">
                                                                    <div class="content-box-tableStyle" id="OtherTable">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="3">
                                                            <div style="padding:25px;border:1px solid #f6f6f6;">
                                                                <div style="margin-top:5px;">
                                                                    <div class="content-box-tableStyle" id="ReviseTable">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly : true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeekSelect({ MONTH: month, YEAR: year });
        });

    });
    function GenWeek(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
           // defaultValue : "SELECT ALL",
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
            multiselection: true,
            event:
                    {
                        onchange: function (item) {
                            var markVlaue_ = "0", markVlaue = "";
                            //console.log(markVlaue_)
                            if (markVlaue_ == "0") {
                                markVlaue = "0";
                            }

                            //console.log(markVlaue)
                            var dataresult = item.element.displayText.getAttribute('itemcurrent-dropdown-value');
                            if (dataresult == "") {
                                dataresult = '0';
                            }
                            if (dataresult != null) {
                                var dataStack = dataresult.split(',');
                                if (dataStack.length > 1) {
                                    for (var ins = 0; ins < dataStack.length; ins++) {
                                        if (dataStack[ins] == markVlaue) {


                                            item.element.displayText.innerHTML = '';
                                            var targetRelation = item.element.itemOption;
                                            var elParent = targetRelation.parentNode;
                                            var itemList = elParent.querySelectorAll('[item-dropdown-option]');

                                            for (var loop = 0; loop < itemList.length; loop++) {
                                                if (item.element.itemOption.getAttribute('item-dropdown-value') != markVlaue) {
                                                    itemList[loop].setAttribute('item-dropdown-option', '')
                                                    itemList[loop].style.display = '';
                                                } else {
                                                    if (itemList[loop].getAttribute('item-dropdown-value') != dataStack[ins]) {
                                                        itemList[loop].setAttribute('item-dropdown-option', '')
                                                        itemList[loop].style.display = '';
                                                    }
                                                }
                                            }
                                            item.element.itemOption.click();
                                            break;
                                        }
                                    }
                                }
                            }

                        }
                    }
        });
        mcs('#_ddlWeek').displayShow();

    }

    function GenWeekSelect(Comobj)
    {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "-- Please Select --",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            }, event:
                {
                    onchange: function (item) {
                       // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });

    }

    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkByDay",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK: obj.WEEK,
                        SORT: "EMP_CODE",
                        SORT_TYPE : 1,
                        DETAIL : true,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailDayHistories",
                column: "HeaderDay",
            },
            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchPartDateGrid(id, year, month, week, day) {
        var header;
        mcs('#PartTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonthByDay",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        DAY: day,
                        EMP_CODE: id,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWorkHistories",
                column: "HeaderWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchOtherDateGrid(id, year, month, week, day) {
        var header;
        mcs('#OtherTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetOtherByDayAndCode",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        DAY: day,
                        EMP_CODE: id,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailReviseHistories",
                column: "HeaderRevise"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchReviseDateGrid(id, year, month, week, day) {
        var header;
        mcs('#ReviseTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetReviseByDayAndCode",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        DAY: day,
                        EMP_CODE: id,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailReviseHistories",
                column: "HeaderRevise"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });

    mcs('#btnSearch').eventOn("click", function () {
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;

        if (week == "" )
            mcs.PopUp({
                header: "ค้นหา",
                content: "เลือก Week ที่ต้องการค้นหาก่อน"
            });
        else
            SetDefaultValue();
    });

    function ShowDate(id, year, month, week, day) {
        $('#Part').addClass('active');
        $('#Other').removeClass();
        $('#Revise').removeClass();
        $('#1').addClass('tab-pane active');
        $('#2').removeClass();
        $('#3').removeClass();
        $('#2').addClass('tab-pane');
        $('#3').addClass('tab-pane');
        FeatchPartDateGrid(id, year, month, week, day)
        FeatchOtherDateGrid(id, year, month, week, day)
        FeatchReviseDateGrid(id, year, month, week, day)
        window.scrollTo(0, 0);
        mcs('#EmpCode').Value("รหัสพนักงาน : " + id);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        //var date = mcs('#txtDate').Value;
        if (week == "" || month == undefined || year == undefined)
            FeatchWatchListGridNull();
            //{ week = -1; month = '01';year = '2000' }
        else
        FeatchWatchListGrid({ MONTH: month, YEAR: year ,WEEK : week});
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        //$('#txtDate').readonlyDatepicker(true);
        GenWeekSelect({ MONTH: new Date().getFullMonth(), YEAR: new Date().getFullYear() });
        //mcs('#ddlWeek').Control.dropdownlist.item.selectValue("1");
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
</script>
