﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปข้อมูลตามพนักงาน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div class="form-group" style="padding:35px;border:1px solid #f6f6f6;">
                             
                                <div class="form-inline" >
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                       
                                        <div class="col-sm-2">
                                            <label for="txtEmpID">ค้นหาพนักงาน : </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="form-inline">
                                                <input type="text" id="txtSearch" name="txtEmpID" class="form-control" />
                                                <img id="btnSearch" width="25px" style="cursor:pointer" src="../images/searchicon.png" />
                                                @*<input type="button" id="btnSearch" name="btnSearch" class="btn btn-default" value="Search" />*@
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="txtEmpCode">รหัสพนักงาน : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtEmpCode" type="text" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="txtFullName">ชื่อ - นามสกุล : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtFullName" type="text" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="txtSupDept">ฝ่าย : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtSupDept" type="text" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="txtDept">กรุ๊ป : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="txtDept" type="text" disabled />
                                        </div>
                                    </div>

                                </div>

                                <div class="form-inline">
                                    <div class="form-group col-sm-12" style="margin-bottom:5px">
                                        <div class="col-sm-2">
                                            <label for="txtDate">เลือกเดือน / ปี : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class='input-group date' id='txtDate' style="width:195px">
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="_ddlGroupName">เลือก Week : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-inline">
                                                <div item-validate="Week" class="form-group" id="_ddlWeek" style="width:195px">
                                                </div>
                                                <img id="btnSearchData" width="30px" style="cursor:pointer" src="../images/search.ico" />
                                                @*<input id="btnSearchData" name="btnSearchData" value="Search" class="btn btn-primary" style="width:80px" />*@
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group" style="margin-top:20px;">
                                    <label for="workTable">ข้อมูลการทำงาน </label>
                                </div>
                                <div style="margin-top:20px;margin-bottom:20px;">
                                    <div class="content-box-tableStyle" id="workTable">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="workTable">ข้อมูลเงินเดือนแต่ล่ะวัน</label>
                                </div>

                                <div style="margin-top:20px; ">
                                    <div class="content-box-tableStyle" id="sararyTable">

                                    </div>
                                </div>

                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;"><span id="detailHeader"></span></p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    function GenWeek(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
            // defaultValue : "SELECT ALL",
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
            multiselection: true,
            event:
                    {
                        onchange: function (item) {
                            var markVlaue_ = "0", markVlaue = "";
                            //console.log(markVlaue_)
                            if (markVlaue_ == "0") {
                                markVlaue = "0";
                            }

                            //console.log(markVlaue)
                            var dataresult = item.element.displayText.getAttribute('itemcurrent-dropdown-value');
                            if (dataresult == "") {
                                dataresult = '0';
                            }
                            if (dataresult != null) {
                                var dataStack = dataresult.split(',');
                                if (dataStack.length > 1) {
                                    for (var ins = 0; ins < dataStack.length; ins++) {
                                        if (dataStack[ins] == markVlaue) {


                                            item.element.displayText.innerHTML = '';
                                            var targetRelation = item.element.itemOption;
                                            var elParent = targetRelation.parentNode;
                                            var itemList = elParent.querySelectorAll('[item-dropdown-option]');

                                            for (var loop = 0; loop < itemList.length; loop++) {
                                                if (item.element.itemOption.getAttribute('item-dropdown-value') != markVlaue) {
                                                    itemList[loop].setAttribute('item-dropdown-option', '')
                                                    itemList[loop].style.display = '';
                                                } else {
                                                    if (itemList[loop].getAttribute('item-dropdown-value') != dataStack[ins]) {
                                                        itemList[loop].setAttribute('item-dropdown-option', '')
                                                        itemList[loop].style.display = '';
                                                    }
                                                }
                                            }
                                            item.element.itemOption.click();
                                            break;
                                        }
                                    }
                                }
                            }

                        }
                    }
        });
        mcs('#_ddlWeek').displayShow();

    }
    function GenWeekSelect(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "-- Please Select --",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
            dataParameter: function () {
                return { Value: "" };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });
        mcs('#_ddlWeek').displayShow();
    }
    function FeatchWorkGrid(id, month, year,week) {
        mcs('#workTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryWorkByCode",
                data: function (data) {
                    var simpleObj = {

                        MONTH: month,
                        YEAR: year,
                        WEEK: week,
                        EMP_CODE: id,
                        DETAIL: false,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailGoalSumHistories",
                column: "HeaderGoalSum"
            },
            column: [    
            ],
            page: {
                enable: false, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchSararyGrid(id, month, year,week) {
        mcs('#sararyTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSalaryByDayAndCode",
                data: function (data) {
                    var simpleObj = {
                        MONTH: month,
                        YEAR: year,
                        WEEK: week,
                        EMP_CODE: id,
                        DETAIL : false,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailDayHistories",
                column: "HeaderDay"
            },
            column: [

            ],
            page: {
                enable: false, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        mcs('#detailHeader').Value("รายละเอียดเงินเดือน");
    }

    function FeatchWorkDetailGrid(id, month,year, week,type) {
        
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonth",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        EMP_CODE: id,
                        TYPE_STORE : type,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWorkHistories",
                column: "HeaderWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        mcs('#detailHeader').Value("รายละเอียดการทำงาน");
    }

    function FeatchWorkDetailDateGrid(id,year, month,week, day) {
        var header;
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonthByDay",
                data: function (data) {
                    var simpleObj = {
                        YEAR : year,
                        MONTH: month,
                        WEEK:week,
                        DAY: day,
                        EMP_CODE: id,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWorkHistories",
                column: "HeaderWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchSearchUserGrid(search) {
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSearchUser",
                data: function (data) {
                    var simpleObj = {
                    
                        SEARCH: search,
                        TAKE: data.page.size,
                        SORT: "DEPT_NAME",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailUserHistories",
                column: "HeaderUser"
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    objTest = cell;
                    mcs('#txtEmpCode').Value(cell.field["EMP_CODE"]);
                    mcs('#txtFullName').Value(cell.field["FULL_NAME"]);
                    mcs('#txtSupDept').Value(cell.field["SUP_DEPT_NAME"]);
                    mcs('#txtDept').Value(cell.field["DEPT_NAME"]);
                    //mcs('#txtEmpCode').Value("");
                    mcs('#actionflowID').displayHide();
                    mcs('#block_actionID').css({ "position": "absolute" });
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        mcs('#detailHeader').Value("ค้นหาพนักงาน");
    }

    function SearchUser(search) {
        FeatchSearchUserGrid(search);
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    mcs('#btnSearch').eventOn("click", function () {
        var search = mcs('#txtSearch').Value();
        if (search == "") {
            mcs.PopUp({
                header: "ค้นหาพนักงาน",
                content: "กรุณากรอกข้อมูลก่อนค้นหา"
            });
        } else {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            SearchUser(search);
        }
     
    });

    mcs('#btnSearchData').eventOn("click", function () {
        var empCode = mcs('#txtEmpCode').Value();
        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (empCode == "") {
            mcs.PopUp({
                header: "ค้นหา",
                content: "เลือกพนักงานก่อนค้นหา"
            });
        } else if (week=="") {
            mcs.PopUp({
                header: "ค้นหา",
                content: "เลือก Week ที่ต้องการค้นหาก่อน"
            });
        }
        else {
            mcs('#actionflowID').displayHide();
            mcs('#block_actionID').css({ "position": "absolute" });
            SetDefaultValue();
        }

    });

    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });

    function Show(id, month, year, week, type) {
        FeatchWorkDetailGrid(id, month, year, week, type)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }
    function ShowDate(id, year, month,week, day) {
        FeatchWorkDetailDateGrid(id,year, month,week, day)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }
    function SetDefaultValue() {
        var id = mcs('#txtEmpCode').Value();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        if (week == "") { week = -1;}
        FeatchWorkGrid(id,month,year,week);
        FeatchSararyGrid(id, month, year,week);
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        GenWeekSelect({ MONTH: new Date().getFullMonth(), YEAR: new Date().getFullYear() });
        mcs('#block_actionID').displayShow();
        //SetDefaultValue();
        mcs.Loadding.Close();
    });
</script>
