﻿
@{
    ViewBag.Title = "ReportSummarySarary";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: รายงานสรุปเงินเดือนช่างประกอบ
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div style="margin-top:5px;">
                                    <div class="text-center">
                                      Week  1 :   1 - 8 May 2016
                                    </div>
                                    <div style="position: relative;width: 1030px;  overflow-x: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888" class="content-box-tableStyle" id="watchlistTable">
                                        <table style="width: 100%;font-size:xx-small" class="">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">รหัสพนักงาน</th>
                                                    <th class="text-center">ชื่อ-สกุล</th>
                                                    <th class="text-center">Group</th>
                                                    <th class="text-center">เป้าหมาย</th>
                                                    <th class="text-center">pcs มาตรฐาน</th>
                                                    <th class="text-center">คุณภาพ</th>
                                                    <th class="text-center">ขั้นตอน</th>
                                                    <th class="text-center">part</th>
                                                    <th class="text-center">other</th>
                                                    <th class="text-center">revise</th>
                                                    <th class="text-center">weld</th>
                                                    <th class="text-center">dai</th>
                                                    <th class="text-center">เป้าหมาย <br /> (x วัน)</th>
                                                    <th class="text-center">รวม part</th>
                                                    <th class="text-center">เกินเป้าหมาย</th>
                                                    <th class="text-center">เงินมาตรฐาน</th>
                                                    <th class="text-center">ราคาคุณภาพ</th>
                                                    <th class="text-center">ราคาขั้นตอน</th>
                                                    <th class="text-center">ราคา other</th>
                                                    <th class="text-center">ราคา revise</th>
                                                    <th class="text-center">ราคาเชื่อม</th>
                                                    <th class="text-center">ราคาตรวจ</th>
                                                    <th class="text-center">รวมจ่าย</th>
                                                    <th class="text-center">ฐานเงินเดือนขั้นต่ำ</th>
                                                </tr>
  
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>P002306</td>
                                                    <td class="text-left">มานะ คุณามาก</td>
                                                    <td>A2</td>
                                                    <td>60</td>
                                                    <td>12</td>
                                                    <td></td>
                                                    <td>4.33</td>
                                                    <td>507.61</td>
                                                    <td>4.29</td>
                                                    <td>6.71</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>240</td>
                                                    <td>514.32</td>
                                                    <td>274.32</td>
                                                    <td>6091.32</td>
                                                    <td>0.00</td>
                                                    <td>2199.64</td>
                                                    <td>30.00</td>
                                                    <td>67.14</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>8388.11</td>
                                                    <td>18000</td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td>P001846</td>
                                                    <td class="text-left">สานิตย์ มั่นคง</td>
                                                    <td>A2</td>
                                                    <td>60</td>
                                                    <td>12</td>
                                                    <td></td>
                                                    <td>4.33</td>
                                                    <td>507.61</td>
                                                    <td>4.29</td>
                                                    <td>6.71</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>240</td>
                                                    <td>514.32</td>
                                                    <td>274.32</td>
                                                    <td>6091.32</td>
                                                    <td>0.00</td>
                                                    <td>2199.64</td>
                                                    <td>30.00</td>
                                                    <td>67.14</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>8388.11</td>
                                                    <td>18000</td>
                                                </tr>
                                                <tr>
                                                    <td>P002423</td>
                                                    <td class="text-left">วีระชาติ เติมงาม</td>
                                                    <td>A2</td>
                                                    <td>60</td>
                                                    <td>12</td>
                                                    <td></td>
                                                    <td>4.33</td>
                                                    <td>507.61</td>
                                                    <td>4.29</td>
                                                    <td>6.71</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>240</td>
                                                    <td>514.32</td>
                                                    <td>274.32</td>
                                                    <td>6091.32</td>
                                                    <td>0.00</td>
                                                    <td>2199.64</td>
                                                    <td>30.00</td>
                                                    <td>67.14</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>8388.11</td>
                                                    <td>18000</td>
                                                </tr>
                                                <tr>
                                                    <td>P002825</td>
                                                    <td class="text-left">บุณรงค์ สืบฝัน</td>
                                                    <td>A2</td>
                                                    <td>60</td>
                                                    <td>12</td>
                                                    <td></td>
                                                    <td>4.33</td>
                                                    <td>4.29</td>
                                                    <td>6.71</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>240</td>
                                                    <td>514.32</td>
                                                    <td>507.61</td>
                                                    <td>274.32</td>
                                                    <td>6091.32</td>
                                                    <td>0.00</td>
                                                    <td>2199.64</td>
                                                    <td>30.00</td>
                                                    <td>67.14</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>8388.11</td>
                                                    <td>18000</td>
                                                </tr>
                                                <tr>
                                                    <td>P003349</td>
                                                    <td class="text-left">ธราพงษ์ วงศ์ประเสริฐ</td>
                                                    <td>A2</td>
                                                    <td>60</td>
                                                    <td>12</td>
                                                    <td></td>
                                                    <td>4.33</td>
                                                    <td>4.29</td>
                                                    <td>6.71</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>240</td>
                                                    <td>514.32</td>
                                                    <td>507.61</td>
                                                    <td>274.32</td>
                                                    <td>6091.32</td>
                                                    <td>0.00</td>
                                                    <td>2199.64</td>
                                                    <td>30.00</td>
                                                    <td>67.14</td>
                                                    <td>0.00</td>
                                                    <td>0.00</td>
                                                    <td>8388.11</td>
                                                    <td>18000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>

