﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Report NG</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">

                            <div style="padding:5px;border:1px solid #f6f6f6;width:70%" class="center-block">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:100px" />

                                    </div>
                                </div>
                                <div style="margin-top:45px;" id="weekID">

                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;"><span id="detailHeader"></span></p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-detail-tableStyle" id="DetailTable">


                                                        </div>
                                                        <div class="col-sm-12 text-center" id="ExportDetail">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });

        //SetDefaultValue();
        //mcs('#block_actionID').displayShow();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    function GetGroup(obj) {
        mcs.service({
            method: "POST", commandData: "../Admin/GetReportNGDetail", data: {
                                                                        DEPT_CODE: 'P03',
                                                                        ALL: 0,
                                                                        TAKE: 1000,
                                                                        SKIP: 0,
                                                                        MONTH: obj.MONTH,
                                                                        YEAR: obj.YEAR,
                                                                        SORT: "EMP_CODE",
                                                                        SORT_TYPE : 1 } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTable(Model);

                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }
    function GenTable(maxWeek) {
        if (maxWeek.NGModel.length <= 0) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.className = 'divEmpty';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            spanText.innerHTML = 'ยังไม่ดูรายงานได้ กรุณาสร้างข้อมูล Week การทำงานก่อน';
            var click = mcs.createTag('a');
            click.href = "../Admin/WeekManagement";
            click.innerHTML = "..Click..";

           // divText.appendChild('<br>')

            divText.appendChild(spanText)
           // divText.appendChild('<br>')
            divText.appendChild(click)
            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);

        }
        else {

            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'parentNCR';
            var divBox = mcs.createTag('div');
            divBox.className = 'NCRBox';
            divTab.appendChild(divBox);

            var table = mcs.createTag('table');
            table.style = "border: 1px solid #F5F5F5;";
            table.className = "table";
            // Header 1
            var thead = mcs.createTag('tr');
            thead.style = "border-bottom: 1px solid #F5F5F5;";
            table.appendChild(thead);

            var thNull = mcs.createTag('td');
            thNull.rowSpan = 2;
            thNull.className = "tdNcrHeader headerBorder";
           // thNull.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead ';
            elSpan.innerHTML = "Group";
            thNull.appendChild(elSpan);
            thead.appendChild(thNull);

            for (var loop = 0; loop < maxWeek.Header.length; loop++) {
                var th = mcs.createTag('td');
             //   th.colSpan = 2;
                th.className = "tdNcrHeader headerBorder";
                th.style= "border-right: 1px solid #F5F5F5;";
                var elSpan = mcs.createTag('span');
                elSpan.className = 'NcrHead';
                elSpan.innerHTML = maxWeek.Header[loop].Text;
                th.appendChild(elSpan);
                thead.appendChild(th);
            }
            // body Header
            //var tbody = mcs.createTag('tbody');
            //table.appendChild(tbody);
            var trHead = mcs.createTag('tr');
            //trHead.style = "border-bottom: 1px solid #F5F5F5;";
            trHead.className = "trBorder";
            table.appendChild(trHead);
            //var tdNull = mcs.createTag('td');
            //trHead.appendChild(tdNull);
            for (var loop = 0; loop < maxWeek.Header.length; loop++) {
                var td = mcs.createTag('td');
                td.className = "tdNcrHeaderDetail headerBorder";
                td.style = "border-right: 1px solid #F5F5F5;";
                //td.style = "border-right: 1px solid #F5F5F5;border-bottom: 2px solid #F5F5F5;";

                    var elSpan = mcs.createTag('span');
                   // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "NG";
                    td.appendChild(elSpan);
               

                trHead.appendChild(td);
            }
            // group
            for (var loop = 0; loop < maxWeek.GroupName.length; loop++) {
                var trBody = mcs.createTag('tr');
                trBody.className = "trBorder";
                table.appendChild(trBody);
                var tdGroup = mcs.createTag('td');
                tdGroup.className = "tdBorder";
                tdGroup.innerHTML = maxWeek.GroupName[loop].DEPT_NAME;
                trBody.appendChild(tdGroup);

                var dateSearch = $('#txtDate').find("input").val().split('/');
                var month = dateSearch[0];
                var year = dateSearch[1];

                for (var loopdata = 0; loopdata < maxWeek.NGModel.length; loopdata++) {
                    var gr = maxWeek.NGModel[loopdata].DEPT_NAME;
                    if (gr == maxWeek.GroupName[loop].DEPT_NAME) {
                        gr = gr.replace(' ', '-');
                        var count_m = 0;
                   
                        for (var loopCol = 0; loopCol < maxWeek.Header.length; loopCol++) {
                            var td = mcs.createTag('td');
                            td.className = "tdBorder";
                          
                                count_m++;
                                var elInputMain = mcs.createTag('input');
                                elInputMain.className = 'buttonNone text-right maintemValNoBorder100';
                                elInputMain.setAttribute('data-NCRValue', gr + "_" + "NG_" + count_m)
                                elInputMain.id = gr + "_" + "NG_" + count_m;
                                elInputMain.type = 'button';
                             
                                elInputMain.value = maxWeek.NGModel[loopdata]["NG_" + count_m];
                                if (elInputMain.value != '-') {
                                    elInputMain.setAttribute('onclick', "ShowDetail('" + month + "','" + year + "','" + count_m + "','" + gr + "')")
                                }
                                td.appendChild(elInputMain);
                           
                            trBody.appendChild(td);
                        }
                    }

                }

            }
            divBox.appendChild(table)
            mcs('#weekID').appendChild(divTab);

        }

    }
    function ShowDetail(month, year, week, dept) {
      
        FeatchWorkDetailGrid(month, year, week, dept);
    
        window.scrollTo(0, 0);

        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }
    function FeatchWorkDetailGrid(month, year, week,dept) {

        mcs('#DetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../Admin/GetUploadNG",
                data: function (data) {
                    var simpleObj = {
                        MONTH: month,
                        YEAR: year,
                        WEEK: week,
                        EDIT: false,
                        DEPT_CODE: dept,
                        SUM : true,
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailNGHistories",
                column: "HeaderNG"
            },
            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        //GenExportDetail(id, month, year, week, type);
        //mcs('#detailHeader').Value("รายละเอียดการทำงาน");
    }
    function ClearTab() {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }
    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });

    mcs('#btnSearch').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
       
    });

</script>