﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปเงินเดือนพนักงาน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class='input-group date' id='txtDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label for="_ddlGroupName">Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="Week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div style="margin-top:20px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">รายละเอียดการทำงาน </p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });
    });
    function GenWeek(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
            multiselection: true,
            event:
                    {
                        onchange: function (item) {
                            var markVlaue_ = "0", markVlaue = "";
                            //console.log(markVlaue_)
                            if (markVlaue_ == "0") {
                                markVlaue = "0";
                            }

                            //console.log(markVlaue)
                            var dataresult = item.element.displayText.getAttribute('itemcurrent-dropdown-value');
                            if (dataresult == "") {
                                dataresult = '0';
                            }
                            if (dataresult != null) {
                                var dataStack = dataresult.split(',');
                                if (dataStack.length > 1) {
                                    for (var ins = 0; ins < dataStack.length; ins++) {
                                        if (dataStack[ins] == markVlaue) {


                                            item.element.displayText.innerHTML = '';
                                            var targetRelation = item.element.itemOption;
                                            var elParent = targetRelation.parentNode;
                                            var itemList = elParent.querySelectorAll('[item-dropdown-option]');

                                            for (var loop = 0; loop < itemList.length; loop++) {
                                                if (item.element.itemOption.getAttribute('item-dropdown-value') != markVlaue) {
                                                    itemList[loop].setAttribute('item-dropdown-option', '')
                                                    itemList[loop].style.display = '';
                                                } else {
                                                    if (itemList[loop].getAttribute('item-dropdown-value') != dataStack[ins]) {
                                                        itemList[loop].setAttribute('item-dropdown-option', '')
                                                        itemList[loop].style.display = '';
                                                    }
                                                }
                                            }
                                            item.element.itemOption.click();
                                            break;
                                        }
                                    }
                                }
                            }

                        }
                    }
        });
        mcs('#_ddlWeek').displayShow();

    }
    function GenCostCenter(Comobj) {
        mcs('#_autoCostcenter').Control.dropdownlist({
            id: "autoCostcenter",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "GET",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_SUB" },
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },

        });
        mcs('#_autoCostcenter').displayShow();

    }
    function InitControl(Comobj) {

        mcs.service({
            method: "GET", commandData: "GetWeekByMonth",
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
        }, {
            success: function (response) {
                var elTarTemp = mcs.createTag('')
                var datasource = response.data;

                if (datasource.length > 0) {
                    for (var oo = 0; oo < datasource.length; oo++) {

                        var tarGetName = datasource[oo]['WEEK_SUB'];
                        var elLabelName = mcs.createTag('label');

                        var elParagarp = mcs.createTag('p');
                        var elRadio = mcs.createTag('input');
                        elRadio.type = 'radio';
                        elRadio.name = 'mcpTargetName';
                        elRadio.value = datasource[oo]['WEEK_SUB'];
                        elRadio.className = 'targetList';
                        elRadio.setAttribute('targetNameAdut', tarGetName);
                        elRadio.onchange = function () {
                            if (this.checked) {
                                mcs('#targetOtherID').ElementContext.style.display = 'none';
                            }
                        }
                        elLabelName.appendChild(elRadio);
                        elLabelName.appendChild(mcs.createText(tarGetName));
                        elParagarp.appendChild(elLabelName);
                        mcs('#targetValID').appendChild(elParagarp);
                    }
                }

            }, error: function (response) {

            }
        });


        return true;
    }

    function FeatchWatchListGrid() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetTxnMonthByWeek",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        //Sort: "EMP_CODE",//data.sort.column,
                        //OrderType: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: "05",
                        YEAR: "2016",
                        WEEK: 1,
                        DETAIL : true,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailGoalHistories",
                column: "HeaderGoal",
            },
            column: [
            ],
            //event: {
            //    onclick: function (cell) {
            //        objTest = cell;
            //        Show(cell.field["EMP_CODE"],'05',1)
                   
            //        }
            //},
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWorkDetailGrid(id, month, week) {
        var header;
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonth",
                data: function (data) {
                    var simpleObj = {
                        YEAR: "2016",
                        MONTH: month,
                        WEEK: week,
                        EMP_CODE: id,
                        TYPE_STORE: "PART",
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWorkHistories",
                column: "HeaderWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    function Show(id, month, week) {
        FeatchWorkDetailGrid(id, month, week)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function SetDefaultValue() {
        FeatchWatchListGrid();
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        GenWeek({ MONTH: '05', YEAR: '2016' });
    //    GenCostCenter({ MONTH: '05', YEAR: '2016' });
        //    InitControl({ MONTH: '05', YEAR: '2016' });
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
</script>
