﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: สรุปเงินเดือนรายสัปดาห์</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                
                                @*<div class="form-group">
                                    <div class="col-sm-1">
                                        <label for="_ddlGroupName">Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:350px">
                                            <div item-validate="Week" class="selectStyles" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                <div style="margin-top:35px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">รายละเอียดการทำงาน </p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    function GenWeek(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
           // defaultValue : "SELECT ALL",
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
            multiselection: true,
            event:
                    {
                        onchange: function (item) {
                            var markVlaue_ = "0", markVlaue = "";
                            //console.log(markVlaue_)
                            if (markVlaue_ == "0") {
                                markVlaue = "0";
                            }

                            //console.log(markVlaue)
                            var dataresult = item.element.displayText.getAttribute('itemcurrent-dropdown-value');
                            if (dataresult == "") {
                                dataresult = '0';
                            }
                            if (dataresult != null) {
                                var dataStack = dataresult.split(',');
                                if (dataStack.length > 1) {
                                    for (var ins = 0; ins < dataStack.length; ins++) {
                                        if (dataStack[ins] == markVlaue) {


                                            item.element.displayText.innerHTML = '';
                                            var targetRelation = item.element.itemOption;
                                            var elParent = targetRelation.parentNode;
                                            var itemList = elParent.querySelectorAll('[item-dropdown-option]');

                                            for (var loop = 0; loop < itemList.length; loop++) {
                                                if (item.element.itemOption.getAttribute('item-dropdown-value') != markVlaue) {
                                                    itemList[loop].setAttribute('item-dropdown-option', '')
                                                    itemList[loop].style.display = '';
                                                } else {
                                                    if (itemList[loop].getAttribute('item-dropdown-value') != dataStack[ins]) {
                                                        itemList[loop].setAttribute('item-dropdown-option', '')
                                                        itemList[loop].style.display = '';
                                                    }
                                                }
                                            }
                                            item.element.itemOption.click();
                                            break;
                                        }
                                    }
                                }
                            }

                        }
                    }
        });
        mcs('#_ddlWeek').displayShow();

    }
    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
           
            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSalaryByWeek",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
               
                        SORT: "EMP_CODE",
                        SORT_TYPE : 1,
                        DETAIL : true,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWeekHistories",
                column: "HeaderWeek",
            },
            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWorkDetailGrid(id, month) {
        var header;
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonth",
                data: function (data) {
                    var simpleObj = {
                        YEAR: "2016",
                        MONTH: month,
            
                        EMP_CODE: id,
                        TYPE_STORE: "PART",
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWeekHistories",
                column: "HeaderWeek"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });
    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });
    function Show(id, month, week) {
        FeatchWorkDetailGrid(id, month)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];
        if (month == undefined || year == undefined) 
            FeatchWatchListGridNull();
        else
            FeatchWatchListGrid({ MONTH: month, YEAR: year });
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
        // GenWeek({ MONTH: '05', YEAR: '2016' });
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
</script>
