﻿@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปเงินเดือนพนักงาน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class='input-group date' id='txtDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-sm-10">
                                        <div>
                                            <span>Week :</span>
                                            <label class="radio-inline"><input type="radio" name="optradio"> ALL</label>
                                            <label class="radio-inline"><input type="radio" name="optradio"> 1</label>
                                            <label class="radio-inline"><input type="radio" name="optradio"> 2</label>
                                            <label class="radio-inline"><input type="radio" name="optradio"> 3</label>
                                            <label class="radio-inline"><input type="radio" name="optradio"> 4</label>
                                        </div>
                                    </div>
                                    @*<div class="content-text userrequest-content" style="width:350px">
                                            <div  item-validate="Costcenter" class="selectStyles" id="_autoCostcenter">

                                            </div>
                                        </div>*@
                                </div>

                                <div style="margin-top:20px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY'
        });
    });

    function GenCostCenter(Comobj) {
        mcs('#_autoCostcenter').Control.dropdownlist({
            id: "autoCostcenter",
            defaultValue: "Select All",
            baseClass: "management-todo-select",
            method: "GET",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_SUB" },
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },

        });
        mcs('#_autoCostcenter').displayShow();

    }
    function InitControl(Comobj) {

        mcs.service({
            method: "GET", commandData: "GetWeekByMonth",
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            },
        }, {
            success: function (response) {
                var elTarTemp = mcs.createTag('')
                var datasource = response.data;

                if (datasource.length > 0) {
                    for (var oo = 0; oo < datasource.length; oo++) {

                        var tarGetName = datasource[oo]['WEEK_SUB'];
                        var elLabelName = mcs.createTag('label');

                        var elParagarp = mcs.createTag('p');
                        var elRadio = mcs.createTag('input');
                        elRadio.type = 'radio';
                        elRadio.name = 'mcpTargetName';
                        elRadio.value = datasource[oo]['WEEK_SUB'];
                        elRadio.className = 'targetList';
                        elRadio.setAttribute('targetNameAdut', tarGetName);
                        elRadio.onchange = function () {
                            if (this.checked) {
                                mcs('#targetOtherID').ElementContext.style.display = 'none';
                            }
                        }
                        elLabelName.appendChild(elRadio);
                        elLabelName.appendChild(mcs.createText(tarGetName));
                        elParagarp.appendChild(elLabelName);
                        mcs('#targetValID').appendChild(elParagarp);
                    }
                }

            }, error: function (response) {

            }
        });


        return true;
    }

    function FeatchWatchListGrid() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSararyMonthByWeek",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        //SORT: "EMP_CODE",//data.sort.column,
                        //SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: "05",
                        YEAR: "2016",
                        WEEK: 1,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailSararyHistories"
            },
            column: [
                { head: "รหัสพนักงาน", field: "EMP_CODE", cansort: true },
                { head: "ชื่อ - นามสกุล", field: "FULL_NAME", cansort: true },
                { head: "กรุ๊ป", field: "DEPT_NAME", cansort: true },
                { head: "เป้าหมาย", field: "EMP_GOAL", cansort: true },
                { head: "1", field: "D_01", cansort: false },
                { head: "2", field: "D_02", cansort: false },
                { head: "3", field: "D_03", cansort: false },
                { head: "4", field: "D_04", cansort: false },
                { head: "5", field: "D_05", cansort: false },
                { head: "6", field: "D_06", cansort: false },
                { head: "7", field: "D_07", cansort: false },
                { head: "8", field: "D_08", cansort: false },
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }
    function SetDefaultValue() {
        FeatchWatchListGrid();
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();
    //    GenCostCenter({ MONTH: '05', YEAR: '2016' });
        //    InitControl({ MONTH: '05', YEAR: '2016' });
        SetDefaultValue();
        mcs.Loadding.Close();
    });
</script>
