﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: สรุปเงินเดือนรายวันตามกรุ๊ป</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class='input-group date' id='txtDate'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label for="_ddlGroupName">Week : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="width:150px">
                                            <div item-validate="Week" class="form-group" id="_ddlWeek">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>

                                <div style="margin-top:35px;">
                                    <div class="content-box-tableStyle" id="watchlistTable">

                                    </div>
                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;">รายละเอียดการทำงาน </p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-box-tableStyle" id="workDetailTable">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            var dateSearch = $('#txtDate').find("input").val().split('/');
            var month = dateSearch[0];
            var year = dateSearch[1];
            GenWeekSelect({ MONTH: month, YEAR: year });
        });
    });
    function GenWeekSelect(Comobj) {
        mcs('#_ddlWeek').Control.dropdownlist({
            id: "ddlWeek",
            defaultValue: "-- Please Select --",
            baseClass: "management-todo-select",
            method: "POST",
            commandData: "GetWeekByMonth",
            result: { value: "WEEK_SUB", text: "WEEK_NAME" },
            parameter: function () {
                return { MONTH: Comobj.MONTH, YEAR: Comobj.YEAR };
            }, event:
                {
                    onchange: function (item) {
                        // FeatchWatchListGrid({ MONTH: '05', YEAR: '2016', WEEK: item.value });

                    }
                }
        });

    }

    function FeatchWatchListGrid(obj) {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSalaryGroupByDay",
                data: function (data) {
                    var simpleObj = {
                        TAKE: data.page.size,
                        SKIP: ((data.page.current - 1) * data.page.size),
                        MONTH: obj.MONTH,
                        YEAR: obj.YEAR,
                        WEEK: obj.WEEK,
                        SORT: "EMP_CODE",
                        SORT_TYPE : 1,
                        DETAIL : true,

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailDayHistories",
                column: "HeaderDay",
            },
            column: [
            ],
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
              event: {
                onclick: function (cell) {
                    objTest = cell;
                    //  var docCodeList =[""];

                    var itemdoc = ais('#docType').Control.dropdownlist.item.selected().value;
                    var docCode =   ((typeof itemdoc != "string"?itemdoc.join(','):itemdoc)).toString();


                    //var docCode = docCodeList.toString();
                    var itemstatusCode = ais('#docState').Control.dropdownlist.item.selected().value;
                    var statusCode =  ((typeof itemstatusCode != "string"?itemstatusCode.join(','):itemstatusCode)).toString();

                    ais.service({
                        method: "POST",
                      //  commandData: "Requestor/SendReqCode",
                      commandData: "TransectionMapper/Sender",
                        data: {
                            ReqCode: cell.field["REQ_CODE"], Status: cell.field["STATUS_ID"], Action: "uswl", 
                            DocNumber: ais('#docNumber').Value(),
                            FromDate: ais("#fromDate").Value(),
                            ToDate: ais("#toDate").Value(),
                            DocType: statusCode,
                            SelectedState: docCode
                        }
                    }, {
                        success: function (respondData) {
                            if (respondData.data.Message) {
                                window.location.href = respondData.data.Message;
                            }
                        },
                        error: function (data) { console.log("error" + data); }
                    }, false);
                    @*var tUrl = '@Url.Action("Myrequest", "Requestor")';
                    window.location.href = tUrl + "?mode=modify";*@
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWorkDetailGrid(id, month, week) {
        var header;
        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetWorkMonth",
                data: function (data) {
                    var simpleObj = {
                        YEAR: "2016",
                        MONTH: month,
                        WEEK: week,
                        EMP_CODE: id,
                        TYPE_STORE: "PART",
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailWorkHistories",
                column: "HeaderWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });

    mcs('#btnSearch').eventOn("click", function () {
        SetDefaultValue();
    });

    function Show(id, month, week) {
        FeatchWorkDetailGrid(id, month, week)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function SetDefaultValue() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var week = mcs('#ddlWeek').Control.dropdownlist.item.selected().value;
        //var date = mcs('#txtDate').Value;
        if (week == "" || month == undefined || year == undefined)
            FeatchWatchListGridNull();
            //{ week = -1; month = '01';year = '2000' }
        else
        FeatchWatchListGrid({ MONTH: month, YEAR: year ,WEEK : week});
    }

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        //$('#txtDate').readonlyDatepicker(true);
        GenWeekSelect({ MONTH: new Date().getFullMonth(), YEAR: new Date().getFullYear() });
        //mcs('#ddlWeek').Control.dropdownlist.item.selectValue("1");
        SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
</script>
