﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_Layout_Site.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        :: สรุปเงินเดือนรายวัน
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:35px;border:1px solid #f6f6f6;" id="approve_lineID">
                                
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    mcs.Loadding.Show();
    mcs.pageComplete(function () {
        mcs.service({ method: "POST", commandData: "GetMaxWeeks", data: { MONTH: '05', YEAR: '2016' } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenWeek(Model);
                     //   GenApproveLine(response.data.ApproveLineRequestActions)

                        mcs.Loadding.Close();
                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    });

    function GenWeek(maxWeek) {
        if (maxWeek <= 0) {
            return;
        }
        var divTab = mcs.createTag('div');
        divTab.id = 'exTab2';
        divTab.className = 'container';


        var ulRows = mcs.createTag('ul');
        ulRows.className = 'nav nav-tabs';
        for (var loop = 1; loop <= maxWeek; loop++)
        {
            var liRows = mcs.createTag('li');
            liRows.id = 'week' + loop.toString();
            var aHref = mcs.createTag('a');
            aHref.href = '#' + loop.toString();
            aHref.setAttribute('data-toggle', 'tab');
            aHref.text = 'week' + loop.toString();
            liRows.appendChild(aHref);
            ulRows.appendChild(liRows);
        }
        var divRowsTab = mcs.createTag('div');
        divRowsTab.className = 'tab-content';
        for (var loop = 1; loop <= maxWeek; loop++) {
            var divCol = mcs.createTag('div');
            divCol.className = 'tab-pane active';
            divCol.id = loop.toString();
            var divColSub1 = mcs.createTag('div');
            divColSub1.style = 'padding:25px;border:1px solid #f6f6f6;';
            var divColSub2 = mcs.createTag('div');
            divColSub2.style = 'margin-top:5px;';
            var divColSub3 = mcs.createTag('div');
            divColSub3.className = 'content-box-tableStyle';
            divColSub3.id = 'week'+loop.toString() + 'Table';
            liRows.appendChild(aHref);
            divColSub2.appendChild(divColSub3);
            divColSub1.appendChild(divColSub2);
            divCol.appendChild(divColSub1);
            divRowsTab.appendChild(divCol);
        }

        divTab.appendChild(ulRows);
        divTab.appendChild(divRowsTab);
        mcs('#approve_lineID').appendChild(divTab);

    }

</script>
