﻿

@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: Report VT</p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">

                            <div style="padding:5px;border:1px solid #f6f6f6;width:90%" class="center-block">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:100px" />

                                    </div>
                                </div>
                                <div style="margin-top:45px;" id="weekID">

                                </div>

                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });
    });
    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');

        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });

        //SetDefaultValue();
        //mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });
    function GetGroup(obj) {
        mcs.service({
            method: "POST", commandData: "../Admin/GetReportVTDetail", data: {
                                                                        DEPT_CODE: '',
                                                                        ALL: 0,
                                                                        TAKE: 1000,
                                                                        SKIP: 0,
                                                                        MONTH: obj.MONTH,
                                                                        YEAR: obj.YEAR,
                                                                        SORT: "EMP_CODE",
                                                                        SORT_TYPE : 1 } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTable(Model);

                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }
    function GenTable(maxWeek) {
        if (maxWeek.NCRModel.length <= 0) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.className = 'divEmpty';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            spanText.innerHTML = 'ยังไม่ดูรายงานได้ กรุณาสร้างข้อมูล Week การทำงานก่อน';
            var click = mcs.createTag('a');
            click.href = "../Admin/WeekManagement";
            click.innerHTML = "..Click..";

           // divText.appendChild('<br>')

            divText.appendChild(spanText)
           // divText.appendChild('<br>')
            divText.appendChild(click)
            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);

        }
        else {

            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'parentNCR';
            var divBox = mcs.createTag('div');
            divBox.className = 'NCRBox';
            divTab.appendChild(divBox);

            var table = mcs.createTag('table');
            table.style = "border: 1px solid #F5F5F5;";
            table.className = "table";
            // Header 1
            var thead = mcs.createTag('tr');
            thead.style = "border-bottom: 1px solid #F5F5F5;";
            table.appendChild(thead);

            var thNull = mcs.createTag('td');
            thNull.rowSpan = 2;
            thNull.className = "tdNcrHeader headerBorder";
            thNull.style = "border-right: 1px solid #F5F5F5;";
            var elSpan = mcs.createTag('span');
            elSpan.className = 'NcrHead';
            elSpan.innerHTML = "Group";
            thNull.appendChild(elSpan);
            thead.appendChild(thNull);

            for (var loop = 0; loop < maxWeek.Header.length; loop++) {
                var th = mcs.createTag('td');
                th.colSpan = 4;
                th.className = "tdNcrHeader headerBorder";
                th.style= "border-right: 1px solid #F5F5F5;";
                var elSpan = mcs.createTag('span');
                elSpan.className = 'NcrHead';
                elSpan.innerHTML = maxWeek.Header[loop].Text;
                th.appendChild(elSpan);
                thead.appendChild(th);
            }
            // body Header
            //var tbody = mcs.createTag('tbody');
            //table.appendChild(tbody);
            var trHead = mcs.createTag('tr');
            trHead.style = "trBorder";
            table.appendChild(trHead);
            //var tdNull = mcs.createTag('td');
            //trHead.appendChild(tdNull);
            for (var loop = 0; loop < maxWeek.Header.length * 4; loop++) {
                var td = mcs.createTag('td');
                td.className = "tdNcrHeaderDetail headerBorder";
                td.style = "border-right: 1px solid #F5F5F5;";
                if (loop % 4 == 3) {
                    var elSpan = mcs.createTag('span');
                   // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "DESIGN";
                    td.appendChild(elSpan);
                }
                if (loop % 4 == 2) {
                    var elSpan = mcs.createTag('span');
                    // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "OTHER";
                    td.appendChild(elSpan);
                }
                if (loop % 4 == 1) {
                    var elSpan = mcs.createTag('span');
                    // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "QPC";
                    td.appendChild(elSpan);
                }
                if (loop % 4 == 0)  {
                    var elSpan = mcs.createTag('span');
                   // elSpan.className = 'NcrHeadDetail';
                    elSpan.innerHTML = "INSPEC";
                    td.appendChild(elSpan);
                }

                trHead.appendChild(td);
            }
            // group
            for (var loop = 0; loop < maxWeek.GroupName.length; loop++) {
                var trBody = mcs.createTag('tr');
                trBody.className = "trBorder";
                table.appendChild(trBody);
                var tdGroup = mcs.createTag('td');
                tdGroup.className = "tdBorder";
                tdGroup.innerHTML = maxWeek.GroupName[loop].DEPT_NAME;
                trBody.appendChild(tdGroup);
                for (var loopdata = 0; loopdata < maxWeek.NCRModel.length; loopdata++) {
                    var gr = maxWeek.NCRModel[loopdata].DEPT_NAME;
                    if (gr == maxWeek.GroupName[loop].DEPT_NAME) {
                        gr = gr.replace(' ', '-');
                        var count_1 = 0;
                        var count_2 = 0;
                        var count_3 = 0;
                        var count_4 = 0;
                        for (var loopCol = 0; loopCol < maxWeek.Header.length * 4; loopCol++) {
                            var td = mcs.createTag('td');
                            td.className = "tdBorder";
                            if (loopCol % 4 == 3) {
                                count_4++;
                                var elInput4 = mcs.createTag('input');
                                elInput4.className = 'maintemValNoBorder';
                                elInput4.setAttribute('data-NCRValue', gr + "_" + "DESIGN_" + count_4)
                                elInput4.setAttribute('disabled', 'disabled')
                                elInput4.id = gr + "_" + "DESIGN_" + count_4;
                                elInput4.type = 'text';
                                elInput4.value = maxWeek.NCRModel[loopdata]["DESIGN_" + count_4];
                                td.appendChild(elInput4);
                            }
                            if (loopCol % 4 == 2) {
                                count_3++;
                                var elInput3 = mcs.createTag('input');
                                elInput3.className = 'maintemValNoBorder';
                                elInput3.setAttribute('data-NCRValue', gr + "_" + "OTHER_" + count_3)
                                elInput3.id = gr + "_" + "OTHER_" + count_3;
                                elInput3.type = 'text';
                                elInput3.value = maxWeek.NCRModel[loopdata]["OTHER_" + count_3];
                                td.appendChild(elInput3);
                            }
                            if (loopCol % 4 == 1) {
                                count_2++;
                                var elInput2 = mcs.createTag('input');
                                elInput2.className = 'maintemValNoBorder';
                                elInput2.setAttribute('data-NCRValue', gr + "_" + "QPC_" + count_2)
                                elInput2.id = gr + "_" + "QPC_" + count_2;
                                elInput2.type = 'text';
                                elInput2.value = maxWeek.NCRModel[loopdata]["QPC_" + count_2];
                                td.appendChild(elInput2);
                            }
                            if (loopCol % 4 == 0) {
                                count_1++;
                                var elInput1 = mcs.createTag('input');
                                elInput1.className = 'maintemValNoBorder';
                                elInput1.setAttribute('data-NCRValue', gr + "_" + "INSPEC_" + count_1)
                                elInput1.id = gr + "_" + "INSPEC_" + count_1;
                                elInput1.type = 'text';
                                elInput1.value = maxWeek.NCRModel[loopdata]["INSPEC_" + count_1];
                                td.appendChild(elInput1);
                            }

                            trBody.appendChild(td);
                        }
                    }

                }

            }
            divBox.appendChild(table)
            mcs('#weekID').appendChild(divTab);

        }

    }

    function ClearTab() {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }


    mcs('#btnSearch').eventOn("click", function () {
        ClearTab();
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        GetGroup({ MONTH: month, YEAR: year });
    });

</script>