﻿
@{
    ViewBag.Title = "MCS APPLICATION";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="page-wrapper">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="title-form">
                            <p class="title-form-content"></p>
                            <p class="title-form-content-sub">:: สรุปเงินเดือน (Auto Gas3)</p>
                        </div>
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div style="padding:5px;border:1px solid #f6f6f6;">
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามเดือน/ปี : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class='input-group date' id='txtDate'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="txtDate">ค้นหาตามพนักงาน : </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="txtSearch" name="txtSearch" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12" style="margin-bottom:20px;">
                                   
                                    <div class="col-sm-12 text-center">
                                        <input id="btnSearch" name="btnSearch" value="Search" class="btn btn-primary" style="width:120px" />
                                        <input id="btnClearSearch" name="btnClearSearch" value="Clear" class="btn btn-primary" style="width:120px" />
                                    </div>
                                </div>
                                <div class="form-inline col-sm-12 displayNone" style="margin-bottom:20px;">
                                        <div class="col-sm-2">
                                            <label for="txtDate">ค้นหาตามกรุ๊ป : </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <div style="width:350px">
                                                <div item-validate="group" class="selectStyles" id="_ddlGroup">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div style="margin-top:45px;" id="weekID">
                               
                                   
                                </div>
                                <div class="col-sm-12 text-center" id="Export">

                                </div>
                                <div id="block_actionID" style="display:none;z-index:999;position:absolute">
                                    <div id="actionflowID" style="background-color: rgba(0, 0, 0, 0.64);position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 9999;display:none;">
                                        <div style="position:relative;">
                                            <div style="background-color:#fff;margin: 20px;">
                                                <p style="margin: 0px 0px 0px 25px;font-size: 20px;padding: 15px 25px;font-weight: bolder;color: #3A5FCD;"><span id="detailHeader"></span></p>
                                                <input type="button" value="X" id="btnClose" style="position: absolute;right: 25px;top: 5px;background-color: #E13535;border: medium none;font-size: 11px;padding: 9px 10px;color: #FFF;font-weight: bold;cursor: pointer;border-radius: 50%;" />
                                                <div style="padding:25px;border:1px solid #f6f6f6;">
                                                    <div style="margin-top:5px;">
                                                        <div class="content-detail-tableStyle" id="workDetailTable">

                                                          
                                                        </div>
                                                        <div class="col-sm-12 text-center" id="ExportDetail">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<script src="../lib/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    $(function () {
        $('#txtDate').datetimepicker({
            viewMode: 'years',
            format: 'MM/YYYY',
            ignoreReadonly: true
        });

    });

    function ClearTab()
    {
        var element = document.getElementById("weekID");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenGroup() {
        //mcs('#_ddlGroup').Control.dropdownlist({
        //    id: "ddlGroup",
        //    defaultValue: "Select All",
        //    baseClass: "management-todo-select",
        //    method: "POST",
        //    commandData: "GetGroupName",
        //    result: { value: "DEPT_NAME", text: "DEPT_NAME" },
        //    parameter: function () {
        //        return { DEPT_CODE: 'P03', ALL: 0 };
        //    },

        //});
        //mcs('#_ddlGroup').displayShow();

    }

    function GenTabWeek(maxWeek) {
        if (maxWeek.length <= 0 ) {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = "0";
            span.id = 'maxWeek';
            divTab.appendChild(span)
            var divText = mcs.createTag('div');
            divText.className = 'divEmpty';
            var spanText = mcs.createTag('h4');
            spanText.style = 'color:#757575;word-break:break-all';
            //spanText.style.position = "fixed";
            //spanText.style.top = "0px";
            //spanText.style.bottom = "0px";
            //spanText.style.right = "0px";
            //spanText.style.left = "0px";
            spanText.innerHTML = 'ไม่พบข้อมูล';
            divText.appendChild(spanText)
            divTab.appendChild(divText)
            mcs('#weekID').appendChild(divTab);
        }
        else {
            var divTab = mcs.createTag('div');
            divTab.id = 'exTab2';
            divTab.className = 'container col-sm-12';
            divTab.style = 'width: 100%;';

            var ulRows = mcs.createTag('ul');
            ulRows.className = 'nav nav-tabs';
      
            for (var loop = 0; loop < maxWeek.length; loop++) {
                var liRows = mcs.createTag('li');
                liRows.setAttribute('onclick', 'GetTab("' + 'Week' + loop.toString() + 'Table' + '","' + loop.toString() + '");');
               // liRows.attributes('onclick','Alert();');
                if (maxWeek[loop].Value == 1)
                    liRows.className = 'active';

                liRows.id = 'Week' + maxWeek[loop].Value;
                var aHref = mcs.createTag('a');
                // a.onclick = 'Alert();';
                aHref.href = '#' + maxWeek[loop].Value;
                aHref.setAttribute('data-toggle', 'tab');
                aHref.text = maxWeek[loop].Text;
                liRows.appendChild(aHref);
                ulRows.appendChild(liRows);
            }
            var divRowsTab = mcs.createTag('div');
            divRowsTab.className = 'tab-content';
            for (var loop = 0; loop < maxWeek.length; loop++) {
                var divCol = mcs.createTag('div');
                if (maxWeek[loop].Value == 1)
                { divCol.className = 'tab-pane active'; }
                else
                { divCol.className = 'tab-pane'; }

                divCol.id = loop.toString();
                var divColSub1 = mcs.createTag('div');
                divColSub1.style = 'padding:25px;border:1px solid #f6f6f6;';
                var divColSub2 = mcs.createTag('div');
                divColSub2.style = 'margin-top:5px;';
                var divColSub3 = mcs.createTag('div');
                divColSub3.className = 'content-detail-tableStyle';
                divColSub3.id = 'Week' + maxWeek[loop].Value + 'Table';
                liRows.appendChild(aHref);
                divColSub2.appendChild(divColSub3);
                divColSub1.appendChild(divColSub2);
                divCol.appendChild(divColSub1);
                divRowsTab.appendChild(divCol);
            }
            var span = mcs.createTag('span');
            span.className = 'displayNone';
            span.innerHTML = maxWeek.length;
            span.id = 'maxWeek';
            divTab.appendChild(ulRows);
            divTab.appendChild(divRowsTab);
            divTab.appendChild(span)
            mcs('#weekID').appendChild(divTab);
        }

    }

    function FeatchWatchListGridNull() {
        mcs('#watchlistTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },

            column: [
            ],
            event: {
                onclick: function (cell) {
                    return;
                }
            },
            page: {
                enable: true, pageSize: 10,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
    }

    function FeatchWeekDateGrid(obj) {
        mcs.Loadding.Show();
        mcs('#' + obj.WEEKNAME).Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '150%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "GetSummaryForSalaryByAutoGas3",
                data: function (data) {
                    var simpleObj = {
                        YEAR: obj.YEAR,
                        MONTH: obj.MONTH,
                        WEEK: obj.WEEK,
                        DEPT_CODE: obj.DEPT_CODE,
                        SEARCH : obj.SEARCH,
                        TYPE_STORE: "S_106",
                        TAKE: data.page.size,
                        SORT: data.sort.column,
                        SORT_TYPE: (data.sort.dir == "asc" || data.sort.dir == "" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size),
                        ALL:1

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailPartSummaryForSalaryHistories",
                column: "HeaderPartSummaryForSalary"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 15,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExport(obj.MONTH, obj.YEAR, obj.WEEK, obj.DEPT_CODE, obj.SEARCH);
        mcs.Loadding.Close();
    }

    function FeatchWorkDetailGrid(id, month, year, week, type, head) {

        mcs('#workDetailTable').Control.table({
            baseclass: '',
            style: function (context) {
                context.style.width = '100%';
                return context;
            },
            loaddata: {
                method: "POST",
                commandData: "../SummaryWork/GetDetailSummaryForWorkByAutoGas3",
                data: function (data) {
                    var simpleObj = {
                        YEAR: year,
                        MONTH: month,
                        WEEK: week,
                        PROCESS_TYPE: head,
                        DEPT_CODE: id,
                        SEARCH: "",
                        TYPE_STORE: head,
                        TAKE: data.page.size,
                        SORT: "EMP_CODE",
                        SORT_TYPE: (data.sort.dir == "asc" ? 1 : 2),
                        SKIP: ((data.page.current - 1) * data.page.size)

                    }
                    return { model: simpleObj };
                },
                renderObject: "DetailPartDetailSummaryForWorkHistories",
                column: "HeaderPartDetailSummaryForWork"
            },

            column: [
            ],
            event: {
                onclick: function (cell) { }
            },
            page: {
                enable: true, pageSize: 20,
                rowtotal: { field: "RowTotal" },
                pagetotal: { field: "PageTotal" }
            },
            sort: true
        });
        GenExportDetail(id, month, year, week, head)
        mcs('#detailHeader').Value("รายละเอียด " + head);
    }

    function ShowDate(id, year, month, week, day) {
        $('#Part').addClass('active');
        $('#Other').removeClass();
        $('#Revise').removeClass();
        $('#1').addClass('tab-pane active');
        $('#2').removeClass();
        $('#3').removeClass();
        $('#2').addClass('tab-pane');
        $('#3').addClass('tab-pane');
        FeatchPartDateGrid(id, year, month, week, day)
        FeatchOtherDateGrid(id, year, month, week, day)
        FeatchReviseDateGrid(id, year, month, week, day)
        window.scrollTo(0, 0);
        mcs('#EmpCode').Value("รหัสพนักงาน : " + id);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }

    function SetDefaultValue() {
     
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = mcs('#txtSearch').Value();
        var group = "";//mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
        
        var maxWeek = $('#maxWeek').text();
        if (maxWeek > 0) {
            var current = $('.nav-tabs .active')[0].id;
            var loop = current.toString().replace('Week', '');
            var name = current + 'Table';
        
            //var loop = 1;
            //var name = 'Week1Table';
             FeatchWeekDateGrid({ WEEKNAME: name, MONTH: month, YEAR: year, WEEK: loop, DEPT_CODE: group, SEARCH: search });
          
        }
         
       
    }

    function GetTab(weekname,weeksub) {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        var search = mcs('#txtSearch').Value();
        var group = "";//mcs('#ddlGroup').Control.dropdownlist.item.selected().value;
 
        FeatchWeekDateGrid({ WEEKNAME: weekname, MONTH: month, YEAR: year, WEEK: weeksub, DEPT_CODE: group, SEARCH: search });
      
    }

    function GetWeek() {
        var dateSearch = $('#txtDate').find("input").val().split('/');
        var month = dateSearch[0];
        var year = dateSearch[1];

        mcs.service({ method: "POST", commandData: "../UserDepartment/GetHeaderWeek", data: { MONTH: month, YEAR: year, ALL: 1 } }, {
            success: function (response) {
                if (response.status == "200") {
                    mcs.isObject(response.data)
                    {
                        var Model = response.data;
                        GenTabWeek(Model);

                    }
                } else {
                    alert(response.message);
                }
            },
            error: function (response) {
                alert(response.message);
            }
        });
    }

    function Show(id, month, year, week, type,head) {
        FeatchWorkDetailGrid(id, month, year, week,type, head)
        window.scrollTo(0, 0);
        mcs('#actionflowID').displayShow();
        mcs('#block_actionID').css({ "position": "static" });
        mcs('#btnClose').Disable(false);
    }


    mcs('#btnClose').eventOn("click", function () {
        mcs('#actionflowID').displayHide();
        mcs('#block_actionID').css({ "position": "absolute" });
    });

    mcs('#btnClearSearch').eventOn("click", function () {
        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        mcs('#txtSearch').Value('');
        GenGroup();
        SetDefaultValue();
    });

    mcs('#btnSearch').eventOn("click", function () {
        mcs.Loadding.Show(function () {
            mcs.service({
                method: "POST", commandData: "../UserDepartment/CheckSession", data: {}
            }, {
                success: function (response) {
                    mcs.Loadding.Close();
                    if (response.data.CODE == "55") {
                        mcs.PopUp({
                            header: 'Session Expire', content: 'Please Login in !!!', type: "ok", onok: function () {
                                var tUrl = '@Url.Action("../Session", "")';
                                window.location.href = tUrl;
                            }
                        });
                    }
                    else {
                     
                        ClearTab();
                        GetWeek();
                        SetDefaultValue();
                        mcs.Loadding.Close();
                    }
                }, error: function () {
                    mcs.Loadding.Close();
                    @*mcs.PopUp({
                        header: 'Session Expire', content: 'Please Login in !!!', type: "ok", onok: function () {
                            var tUrl = '@Url.Action("../Session", "")';
                            window.location.href = tUrl;
                        }
                    });*@
                }
            });
        });

       
    });

    mcs.pageComplete(function () { //On Page Load Success.
        mcs.Loadding.Show();

        $('#txtDate').find("input").val(new Date().getFullMonth() + '/' + new Date().getFullYear());
        $('#txtDate').find("input").attr('readonly', 'readonly');
        GenGroup();
        GetWeek();
        $('#btnSearch').click();
       // SetDefaultValue();
        mcs('#block_actionID').displayShow();
        mcs.Loadding.Close();
    });

    function GenExport(MONTH, YEAR, WEEK, DEPT_CODE, SEARCH, TYPE_STORE) {

        ClearExport();
       
            var click = mcs.createTag('a');
            click.innerHTML = "Export Excel";
            click.href = "../Export/ExportGetSalaryAutoGas3?MONTH=" + MONTH + "&YEAR=" + YEAR + "&WEEK=" + WEEK + "&DEPT_CODE=" + DEPT_CODE + "&SEARCH=" + SEARCH + "&TYPE_STORE=P03_S";
            mcs('#Export').appendChild(click);
        
    }

    function ClearExport() {
        var element = document.getElementById("Export");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenExportDetail(id, month, year, week, type) {
        ClearExportDetail();

        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetDetailAutoGas3?ID=" + id + "&MONTH=" + month + "&YEAR=" + year + "&WEEK=" + week + "&TYPE=" + type + "";
        mcs('#ExportDetail').appendChild(click);
    }

    function ClearExportDetail() {
        var element = document.getElementById("ExportDetail");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

    function GenExportDetailOther(id, month, year, week, type) {
        ClearExportDetailOther();
        var click = mcs.createTag('a');
        click.innerHTML = "Export Excel";
        click.href = "../Export/ExportGetOtherDetail?ID=" + id + "&MONTH=" + month + "&YEAR=" + year + "&WEEK=" + week + "&TYPE=" + type + "";
        mcs('#ExportDetail').appendChild(click);
    }

    function ClearExportDetailOther() {
        var element = document.getElementById("ExportDetail");
        while (element.firstChild) {
            element.removeChild(element.firstChild);
        }
    }

</script>
