﻿@using MCSAPP.WebApp.Models
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">กรุณาเข้าสู่ระบบ MCS APPLICATION</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="รหัสพนักงาน" name="user" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="รหัสผ่าน" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="/Level/InsertStructure" class="btn btn-lg btn-success btn-block">เข้าสู่ระบบ</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>