﻿@{
    ViewBag.Title = "LOGIN";
    Layout = "~/Views/Shared/_Layout_Page.cshtml";
}
<style>
    .text-login {
        width: 270px;
        border-right: 1px solid #E6E6E6;
        border-width: 2px 1px 1px;
        border-style: solid;
        border-color: #E6E6E6 #E6E6E6 #E6E6E6;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        background-color: #F2F2F2;
        padding: 7px !important;
        color: #A19999;
        font-size: 15px;
    }

    .lbl-login {
        color: #A19999;
        font-size: 15px;
        font-weight: 600;
    }

    .button-login {
        background-color: #FFF;
        border: 1px solid #a6a7a1;
        background-color: #a6a7a1;
        color: #fff;
        border-bottom: 2px solid #A19999;
        color: #fff;
        float: right;
        cursor: pointer;
        padding: 4px 15px;
        width: 150px;
        margin-right: 4px;
        margin-top: 3px;
        font-size: 16px;
    }

        .button-login:hover {
            background-color: #fff;
            color: #a6a7a1;
            border-bottom: 3px solid #a6a7a1;
        }
</style>
<div style="top:20%;left:0;right:0;z-index: 2000; position:fixed">
    <div class="modal-dialog" style="width: 400px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log In</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td align="Left">
                                <h5 class="lbl-login">Username :&nbsp;&nbsp;</h5>
                            </td>
                            @*</tr>
                                <tr>*@
                            <td>

                                <input type="text" id="txtUID" class="text-login" name="Username" maxlength="8" />
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" height="20px"></td>
                        </tr>
                        <tr>
                            <td align="Left">
                                <h5 class="lbl-login">Password :&nbsp;&nbsp;</h5>
                            </td>
                            @*</tr>
                                <tr>*@
                            <td>
                                <input type="password" id="txtPID" class="text-login" name="Password" maxlength="30" />
                            </td>
                        </tr>



                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="LOGIN" class="button-login" id="btnLOGID" />
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">



    mcs.pageComplete(function () {
        mcs('#txtUID').focus();
    });

    mcs('#btnLOGID').eventOn("click", function () {
        sign();
    });
    mcs('#txtUID').eventOn("keyEnter", function () {
        mcs('#txtPID').focus();
    });
    mcs('#txtPID').eventOn("keyEnter", function () {
        mcs.Loadding.Show();
        sign();
        mcs.Loadding.Close();
    });
    function sign()
    {
        //mcs('#btnLOGID').attributeAdd('disabled','disabled');

        var resolution = mcs.getResolution().Width + "x" + mcs.getResolution().Height;
        var device = mcs.getDeivces();
        var user = mcs('#txtUID').Value();
        var pass = mcs('#txtPID').Value();
        if (user.trim() == "") {
            mcs.PopUp({ header: 'การเข้าสู่ระบบไม่ถูกต้อง', content: "กรุณากรอก Username", type: "ok" });
            return;
        }
        if (pass == "") {
            mcs.PopUp({ header: 'การเข้าสู่ระบบไม่ถูกต้อง', content: "กรุณากรอก Password", type: "ok" });
            return;
        }
        mcs.service({
            method: "POST",
            commandData: "../Account/Login",
            data: { Username: user, Password: pass, Resolution: resolution, Device: device }
        }, {
            success: function (response) {

                if (response.status != "200") {
                    mcs.PopUp({ header: 'การเข้าสู่ระบบไม่ถูกต้อง', content: response.message, type: "ok" });
                    mcs('#btnLOGID').attributeRemove('disabled');
                    return;
                }
                else if (response.data == "Session Expire") {
                    mcs.PopUp({ header: 'การเข้าสู่ระบบไม่ถูกต้อง', content: 'Invalid Username or Password', type: "ok" });
                    mcs('#btnLOGID').attributeRemove('disabled');
                    return false;
                }
                else
                {
                    window.location.href = "../Report/ReportSummaryWorkDayForWeek";

                }

            }, error: function (err) {
                console.log(err.message);
                mcs.PopUp({ header: 'การเข้าสู่ระบบไม่ถูกต้อง', content: 'Invalid Username or Password', type: "ok" });
                mcs('#btnLOGID').attributeRemove('disabled');
                return  false;
            }
        });

    }


</script>