﻿

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorize</title>
</head>
<body>
    <div>
        <div style="margin: auto;position:fixed;top:0;bottom:0;left:0;right:0;width:150px;height:50px;font-size:22px;display:inline-block">
            Not Authorize
            @Html.ActionLink("Back To Login", "Page", "Account")
        </div>
    </div>
</body>
</html>
